<div id="content_middle">
    <div class="content_style main-content ">
        <div id="modal-dialog"></div>

        <h1>The Square</h1>
        <table width="100%" border="0" cellspacing="4" cellpadding="0" class="infotext">
            <tbody>
                <tr>
                    <td valign="top"><img src="/static/images/sections/square/square.jpg" border="0" class="imageborder"></td>
                    <td valign="top" align="left" width="100%">
                        Here on the square you can meet and talk with a lot of people, be nice! Repeating and spamming will be punished.
                        <br/>
                        <br/>
                        For any further help, questions and also further information about the game, why not visit the <a href="http://forum.thecrims.com" target="_blank">forum</a> where all your queries will be answered.    </td>
                </tr>
            </tbody>
        </table>

<!--        <table border="0" width="100%" cellspacing="0" cellpadding="0" class="statusbox_ok" style="margin-top: 5px; margin-bottom: 5px">
            <tbody>
                <tr>
                    <td align="left" valign="top"><img src="/static/images/icons/information2.gif" style="margin: 2px; margin-right: 10px"></td>
                    <td align="left" valign="middle" width="100%">
                    You cannot use this chat, because you were chatbanned by some TC Crew Member. Chatban is a tool which helps TC Crew to hold control over chats. It's a tool which forbids user to violate more rules after he did it already, so admins will have time to think what to do with him.Your chatban will end soon after some Abuse Crew Member will take care of your case. Usually it's not more that 2-3 days.<br><br><a href="/?action=baninfo">Click here to read more about bans</a>	</td>
                </tr>
            </tbody>
        </table>-->
        
        Need help? visit <a href="http://forum.thecrims.com/forumdisplay.php?14-Support-English" target="_blank">the support forum</a>. You can also find out more about how the game works in our <a href="http://forum.thecrims.com/showthread.php?29771-The-Crims-Game-Guide-amp-FAQ" target="_blank">forum guides</a>.
        <br/>
        Do you have ideas on how to improve the game? Check out <a href="http://forum.thecrims.com/forumdisplay.php?11-Feedback" target="_blank">the feedback forum</a> (English only).
        <br/><br/>
        <div style="text-align: left">
            <div id="chat">
                <?php foreach ($this->messages as $msg): ?>
                    [<?php echo $msg['msg_day']; ?> 02:49] &lt;<a href="profile.php?id=<?php echo $msg['user_id']; ?>"><span class="nicktext"><?php echo $msg['user_username']; ?></span></a>&gt; <?php echo $msg['msg_text']; ?>
                    <br/>
                <?php endforeach; ?>
            </div>
            <br/>
            <form action="<?php echo $this->url('thesquare'); ?>" method="post" id="chat_form">
                <input type="hidden" name="action" value="dfadbaee">
                <input name="message" type="text" maxlength="100" style="width: 340px" onpaste="return false">
                <input type="submit" name="Submit" value="Submit" class="btn btn-inverse">
            </form>
        </div>

        <script type="text/javascript">
            var channel = pusher.subscribe('chat');
            channel.bind('chatmessage', function (data) {
                $("#chat").append(data);
                $('#chat').scrollTop($('#chat').height());
            });

            $(document).ready(function () {
                $("#chat_form").submit(function (e) {
                    if ($('input[name=message]').val() != '') {
                        $.post(location.href, $("#chat_form").serialize(), function(data) {
                            jsonData = $.parseJSON(data);

                            if (jsonData != 'ok') {
                                alert(data);
                            }
                        });
                    }

                    removeWait();
                    $('input').attr('readonly', false);
                    $('input:submit').show();
                    $('input[name=message]').val('');
                    formSubmitted = true;

                    e.preventDefault();
                    return false;
                });

                $('#chat').scrollTop($('#chat').height());
            });
        </script>

    </div>
    <div id="footer_middle">
        <ul class="flags">
            <li><a href="/?action=setlang&amp;iso=GB&amp;return=thesquare.php" title="English" class="flag usgb"></a></li>
            <li><a href="/?action=setlang&amp;iso=SE&amp;return=thesquare.php" title="Svenska" class="flag se"></a></li>
            <li><a href="/?action=setlang&amp;iso=PL&amp;return=thesquare.php" title="Polska" class="flag pl"></a></li>
            <li><a href="/?action=setlang&amp;iso=ES&amp;return=thesquare.php" title="Spanish" class="flag es"></a></li>
            <li><a href="/?action=setlang&amp;iso=PT&amp;return=thesquare.php" title="Portuguese" class="flag pt"></a></li>
            <li><a href="/?action=setlang&amp;iso=SI&amp;return=thesquare.php" title="Slovenian" class="flag si"></a></li>
            <li><a href="/?action=setlang&amp;iso=CZ&amp;return=thesquare.php" title="Czech" class="flag cz"></a></li>
            <li><a href="/?action=setlang&amp;iso=DE&amp;return=thesquare.php" title="Deutsch" class="flag de"></a></li>
            <li><a href="/?action=setlang&amp;iso=RO&amp;return=thesquare.php" title="Romanian" class="flag ro"></a></li>
            <li><a href="/?action=setlang&amp;iso=LT&amp;return=thesquare.php" title="Lithuanian" class="flag lt"></a></li>
            <li><a href="/?action=setlang&amp;iso=EL&amp;return=thesquare.php" title="Greek" class="flag gr"></a></li>
            <li><a href="/?action=setlang&amp;iso=NO&amp;return=thesquare.php" title="Norsk" class="flag no"></a></li>
            <li><a href="/?action=setlang&amp;iso=AR&amp;return=thesquare.php" title="Arabic" class="flag eg"></a></li>
            <li><a href="/?action=setlang&amp;iso=IT&amp;return=thesquare.php" title="Italian" class="flag it"></a></li>
            <li><a href="/?action=setlang&amp;iso=BR&amp;return=thesquare.php" title="Brazilian" class="flag br"></a></li>
            <li><a href="/?action=setlang&amp;iso=TR&amp;return=thesquare.php" title="Turkish" class="flag tr"></a></li>
            <li><a href="/?action=setlang&amp;iso=ID&amp;return=thesquare.php" title="Indonesian" class="flag id"></a></li>
            <li><a href="/?action=setlang&amp;iso=AL&amp;return=thesquare.php" title="Albanian" class="flag al"></a></li>
            <li><a href="/?action=setlang&amp;iso=LV&amp;return=thesquare.php" title="Latvian" class="flag lv"></a></li>
            <li><a href="/?action=setlang&amp;iso=AT&amp;return=thesquare.php" title="Austrian" class="flag at"></a></li>
            <li><a href="/?action=setlang&amp;iso=SK&amp;return=thesquare.php" title="Slovak" class="flag sk"></a></li>
            <li><a href="/?action=setlang&amp;iso=FR&amp;return=thesquare.php" title="French" class="flag fr"></a></li>
            <li><a href="/?action=setlang&amp;iso=FI&amp;return=thesquare.php" title="Finnish" class="flag fi"></a></li>
            <li><a href="/?action=setlang&amp;iso=CS&amp;return=thesquare.php" title="Serbian" class="flag cs"></a></li>
            <li><a href="/?action=setlang&amp;iso=CN&amp;return=thesquare.php" title="Chinese" class="flag cn"></a></li>
            <li><a href="/?action=setlang&amp;iso=CNT&amp;return=thesquare.php" title="Chinese Traditional" class="flag cnt"></a></li>
            <li><a href="/?action=setlang&amp;iso=MS&amp;return=thesquare.php" title="Malay" class="flag my"></a></li>
            <li><a href="/?action=setlang&amp;iso=BG&amp;return=thesquare.php" title="Bulgarian" class="flag bg"></a></li>
        </ul>
    </div>
</div>