<?php

use Frontend\Model\Arm;
use Zend\Json\Json;

$this->plugin('currencyformat')
        ->setCurrencyCode('USD')
        ->setLocale('en_US');
?>
<div id="content_middle">
    <div class="content_style main-content ">
        <div id="modal-dialog"></div>
        <h1><?php echo $this->translate("robbery.title"); ?></h1>
        <table width="100%" border="0" cellspacing="4" cellpadding="0" class="infotext" style="margin-bottom: 10px">
            <tbody><tr>
                    <td valign="top"><img src="/static/images/sections/robbery/robbery.jpg" border="0" class="imageborder"></td>
                    <td valign="top" align="left" width="100%">
                        <?php echo sprintf($this->translate('robbery.text'), $this->user->user_business_day); ?>                       
                    </td>
                </tr>
            </tbody></table>
        <div id="statusbox"></div>

        <?php if ($this->message): ?>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 5px; margin-bottom: 5px" class="statusbox_<?php echo $this->message['type']; ?>">
                <tbody>
                    <tr>
                        <td valign="top" align="left"><img style="margin: 2px; margin-right: 10px" src="/static/images/icons/<?php echo $this->message['image']; ?>.gif"></td>
                        <td width="100%" valign="middle" align="left"><?php echo $this->message['message']; ?></td>
                    </tr>
                </tbody>
            </table>
        <?php endif; ?>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr>
                    <td valign="top">
                        <h4>Single-user crimes:</h4>
                        <form method="post" class="ajaxForm">
                            <input name="action" id="singlerobbery-action" value="bcafabddb" type="hidden">
                            <table border="0" cellpadding="0" cellspacing="4" width="100%">
                                <tbody><tr>
                                        <td valign="top">
                                            <select name="ebfabbfeefbaed" id="singlerobbery-id" onchange="setSingleCrimeInfo($(this).val())">
                                                <option value="-">[Choose...]</option>
                                                <?php foreach ($this->robbery as $robbery): ?>
                                                    <option value="1" style="color: green"><?php echo $this->translate("robbery.name.{$robbery['robbery_id']}"); ?> - <?php echo $robbery['robbery_stamina']; ?>% D: <?php echo $robbery['robbery_difficult']; ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                            <input id="singlerobberybutton" name="a994a9" tabindex="-1" value="Rob the bastard!" onclick="this.style.visibility = 'hidden'" class="btn btn-small btn-inverse" type="submit">
                                        </td>
                                        <td width="240">
                                            <div id="singlecrimeinfo" style="display: none;">
                                                <table class="table table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2"><div id="singlecrimeinfo-name"></div></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Stamina required:</td>
                                                            <td><div id="singlecrimeinfo-energy"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Spirit:</td>
                                                            <td><div id="singlecrimeinfo-spirit"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Difficulty:</td>
                                                            <td><div id="singlecrimeinfo-difficulty"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Reward:</td>
                                                            <td><div id="singlecrimeinfo-reward"></div></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Success probability:</td>
                                                            <td><img src="" id="singlecrimeinfo-successprobability-image" style="float: left"><div id="singlecrimeinfo-successprobability" style="float: left"></div></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <?php if ($this->user_drugs) : ?>
            <table width="100%" border="0" cellspacing="0" cellpadding="2" class="table table-condensed" style="margin-top: 10px">
                <thead>
                    <tr>
                        <th width="40%"><?php echo $this->translate("drugs.table.stock.user"); ?></th>
                        <th width="20%"><?php echo $this->translate("drugs.table.price.user"); ?></th>
                        <th width="20%"><?php echo $this->translate("drugs.table.stock.user"); ?></th>
                        <th width="20%"><?php echo $this->translate("drugs.table.sell.user"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->user_drugs as $drug): ?>
                        <tr>
                            <td valign="top"><?php echo $this->translate("drugs.name.{$drug['drug_id']}"); ?></td>
                            <td valign="top" nowrap=""><?php echo $this->currencyFormat($drug['drug_price_sell']); ?></td>
                            <td valign="top"><?php echo $drug['udrug_stock']; ?></td>
                            <td nowrap="">
                                <form action="drugdealer" method="post">
                                    <input type="hidden" name="action" value="eabcafdcafadbdbca">
                                    <input type="hidden" name="id" value="<?php echo $drug['drug_id']; ?>">
                                    <input name="quantity" type="text" class="drug_quantity">
                                    <input type="button" value="Sell" class="btn btn-inverse btn-small">
                                </form>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>

        <script type="text/javascript">

            $(function() {
                $('#singlerobbery-id').change(function() {
                    setSingleCrimeInfo($('#singlerobbery-id').val());
                });
            });

            $(document).ready(function() {
                setSingleCrimeInfo($('#singlerobbery-id').val());
                //    setGangCrimeInfo($('#gangrobbery-id').val());
            });

            var channel = pusher.subscribe('drugdealer');
            channel.bind('updatedrugdealerstock', updateDrugStockQuantities);

            //function updateDrugStockQuantities() {
            //    $.getJSON('<?php //echo $this->url('drugdealer', ['action' => 'getStockQuantities']);     ?>', function(data) {
            //        for (var i in data) {
            //            $('#' + data[i].id).html(data[i].q);
            //        }
            //    });
            //}

            function getSingleCrimeInfo(crimeId) {
                var crimes = new Array();
<?php $i = 1; ?>
<?php foreach ($robberys as $roberry): ?>
                    crimes[<?php echo $i++; ?>] = <?php echo Json::encode($roberry); ?>;
<?php endforeach; ?>
                return crimes[crimeId];

            }
        </script>
    </div>
    <div id="footer_middle">
        <ul class="flags">
            <li><a href="/?action=setlang&amp;iso=GB&amp;return=drugdealer" title="English" class="flag usgb"></a></li>
            <li><a href="/?action=setlang&amp;iso=SE&amp;return=drugdealer" title="Svenska" class="flag se"></a></li>
            <li><a href="/?action=setlang&amp;iso=PL&amp;return=drugdealer" title="Polska" class="flag pl"></a></li>
            <li><a href="/?action=setlang&amp;iso=ES&amp;return=drugdealer" title="Spanish" class="flag es"></a></li>
            <li><a href="/?action=setlang&amp;iso=PT&amp;return=drugdealer" title="Portuguese" class="flag pt"></a></li>
            <li><a href="/?action=setlang&amp;iso=SI&amp;return=drugdealer" title="Slovenian" class="flag si"></a></li>
            <li><a href="/?action=setlang&amp;iso=CZ&amp;return=drugdealer" title="Czech" class="flag cz"></a></li>
            <li><a href="/?action=setlang&amp;iso=DE&amp;return=drugdealer" title="Deutsch" class="flag de"></a></li>
            <li><a href="/?action=setlang&amp;iso=RO&amp;return=drugdealer" title="Romanian" class="flag ro"></a></li>
            <li><a href="/?action=setlang&amp;iso=LT&amp;return=drugdealer" title="Lithuanian" class="flag lt"></a></li>
            <li><a href="/?action=setlang&amp;iso=EL&amp;return=drugdealer" title="Greek" class="flag gr"></a></li>
            <li><a href="/?action=setlang&amp;iso=NO&amp;return=drugdealer" title="Norsk" class="flag no"></a></li>
            <li><a href="/?action=setlang&amp;iso=AR&amp;return=drugdealer" title="Arabic" class="flag eg"></a></li>
            <li><a href="/?action=setlang&amp;iso=IT&amp;return=drugdealer" title="Italian" class="flag it"></a></li>
            <li><a href="/?action=setlang&amp;iso=BR&amp;return=drugdealer" title="Brazilian" class="flag br"></a></li>
            <li><a href="/?action=setlang&amp;iso=TR&amp;return=drugdealer" title="Turkish" class="flag tr"></a></li>
            <li><a href="/?action=setlang&amp;iso=ID&amp;return=drugdealer" title="Indonesian" class="flag id"></a></li>
            <li><a href="/?action=setlang&amp;iso=AL&amp;return=drugdealer" title="Albanian" class="flag al"></a></li>
            <li><a href="/?action=setlang&amp;iso=LV&amp;return=drugdealer" title="Latvian" class="flag lv"></a></li>
            <li><a href="/?action=setlang&amp;iso=AT&amp;return=drugdealer" title="Austrian" class="flag at"></a></li>
            <li><a href="/?action=setlang&amp;iso=SK&amp;return=drugdealer" title="Slovak" class="flag sk"></a></li>
            <li><a href="/?action=setlang&amp;iso=FR&amp;return=drugdealer" title="French" class="flag fr"></a></li>
            <li><a href="/?action=setlang&amp;iso=FI&amp;return=drugdealer" title="Finnish" class="flag fi"></a></li>
            <li><a href="/?action=setlang&amp;iso=CS&amp;return=drugdealer" title="Serbian" class="flag cs"></a></li>
            <li><a href="/?action=setlang&amp;iso=CN&amp;return=drugdealer" title="Chinese" class="flag cn"></a></li>
            <li><a href="/?action=setlang&amp;iso=CNT&amp;return=drugdealer" title="Chinese Traditional" class="flag cnt"></a></li>
            <li><a href="/?action=setlang&amp;iso=MS&amp;return=drugdealer" title="Malay" class="flag my"></a></li>
            <li><a href="/?action=setlang&amp;iso=BG&amp;return=drugdealer" title="Bulgarian" class="flag bg"></a></li>
        </ul>
    </div>
</div>