<?php
$this->plugin('currencyformat')
     ->setCurrencyCode('USD')
     ->setLocale('en_US')
     ->setShouldShowDecimals(false);
?>
<div id="content_middle">
    <div class="content_style main-content ">
        <div id="modal-dialog"></div>
        <h1>Hookers</h1>
        <table width="100%" cellspacing="4" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td valign="top"><img border="0" class="imageborder" src="/static/images/sections/hookers/hookers.jpg"></td>
                    <td width="100%" valign="top" align="left">
                        So you wanna be a pimp? It can be a good investment to buy hookers and let them work for you. Be prepared that they can die sometimes, it´s a tough world. You need 0 stamina to buy/sell and for every hooker you collect dollars from.<br/><br/>Hint: If you got good charisma and a little luck you can find hookers for free at the nightclubs or raveparty. Your charisma will also increase the hookers payout and determine how many hookers you can handle.    </td>
                </tr>
            </tbody>
        </table>
        <div id="statusbox"></div>
        
        <?php if($this->message): ?>
            <?php if(isset($this->message[0])): ?>
                <?php foreach($this->message as $message): ?>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 5px; margin-bottom: 5px" class="statusbox_<?php echo $message['type']; ?>">
                        <tbody>
                            <tr>
                                <td valign="top" align="left"><img style="margin: 2px; margin-right: 10px" src="/static/images/icons/<?php echo $message['image']; ?>.gif"></td>
                                <td width="100%" valign="middle" align="left"><?php echo $message['message']; ?></td>
                            </tr>
                        </tbody>
                    </table>
                <?php endforeach; ?>
            <?php else: ?>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 5px; margin-bottom: 5px" class="statusbox_<?php echo $this->message['type']; ?>">
                    <tbody>
                        <tr>
                            <td valign="top" align="left"><img style="margin: 2px; margin-right: 10px" src="/static/images/icons/<?php echo $this->message['image']; ?>.gif"></td>
                            <td width="100%" valign="middle" align="left"><?php echo $this->message['message']; ?></td>
                        </tr>
                    </tbody>
                </table>
            <?php endif; ?>
        <?php endif; ?>
        
        <div class="well">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td valign="top"><img border="0" class="imageborder" src="/static/images/sections/hookers/hooker_benefits.jpg"></td>
                        <td width="100%" valign="top" align="left">
                            "Check out these new super pills I've got for ya. They're a mixture of birth control, speed, and aphrodisiac and they'll make your hookers hump like hell. These pills will increase the income of your hookers by 10% and they only cost 10 credits. One stack of pills will last you 28 TC days."<br/><br/>
                            <form onsubmit="showWait()" method="post" action="hookers.php">
                                <input type="hidden" value="buybenefits" name="action">
                                <select name="period"><option value="0">28 days for 10 credits</option>
                                    <option value="1">60 days for 20 credits</option>
                                    <option value="2">184 days for 50 credits</option>
                                </select>
                                <input type="submit" class="btn btn-small btn-inverse" value="  Buy  " name="Submit">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <script>
            $(document).ready(function () {
                $('.black_table tr').hover(function (event) {
                    $(this).toggleClass('black_table_row_hover');
                });

                $('#usershookers tr')
                    .filter(':has(:checkbox:checked)')
                    .addClass('black_table_row_selected')
                    .end()
                    .click(function (event) {
                        $(this).toggleClass('black_table_row_selected');
                        if (event.target.type !== 'checkbox') {
                            $(':checkbox', this).attr('checked', function () {
                                return !this.checked;
                            });
                        }
                    });
            });
        </script>
        
        <?php if($this->user_hookers): ?>
            <form onsubmit="return confirmChoice()" id="usershookers" method="post" action="<?php echo $this->url('hookers'); ?>">
                <input type="hidden" value="bdbafcedaf" name="action">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th width="25%"><input type="checkbox" style="margin-right: 5px" id="selectall">Your hookers</th>
                            <th width="20%">Payout/day</th>
                            <th width="25%">Earnings</th>
                            <th width="10%">Quantity</th>
                            <th width="15%">Price</th>
                            <th width="10%">Sell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->user_hookers as $hooker): ?>
                            <tr rel="popover" data-content="<img src='<?php echo $this->basePath("/static/images/sections/hookers/{$hooker->hok_image}"); ?>'>" data-title="<?php echo $this->translate("hookers.name.{$hooker->hok_id}"); ?>" data-original-title="" title="">
                                <td><input type="checkbox" style="margin-right: 5px" value="<?php echo $hooker->id; ?>" name="hookertypes[]"><?php echo $this->translate("hookers.name.{$hooker->hok_id}"); ?></td>
                                <td><?php echo $this->currencyFormat($hooker->hok_payout * $hooker->uhok_amount); ?></td>
                                <td><?php echo $this->currencyFormat(0); ?></td>
                                <td style="text-align: center"><?php echo $hooker->uhok_amount; ?></td>
                                <td><?php echo $this->currencyFormat($hooker->hok_price * $hooker->uhok_amount / 3); ?></td>
                                <td nowrap="">
                                    <input type="text" value="" maxlength="2" size="2" name="<?php echo $hooker->hok_id; ?>">
                                    <input type="button" class="btn btn-small btn-inverse" value="Sell" name="Submit">
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        <tr>
                            <td colspan="2">Free space</td>
                            <td colspan="4"><?php echo $this->free_space; ?></td>
                        </tr>
                    </tbody>
                    <tbody></tbody>
                </table>
                <br/>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr width="100%">
                            <td width="90%" valign="middle" align="left"><h3>Total earnings: $11,236,931</h3></td>
                            <td width="10%" align="right">
                                <input type="submit" class="btn btn-inverse" onclick="this.form.action.value = 'beadcdafdddbcbe'" value="Collect earnings!" name="Submit">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <br/><br/>
        <?php endif; ?>
        
        <form method="post" action="<?php echo $this->url('hookers'); ?>">
            <input type="hidden" value="aceefbebfacf" name="action">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th width="25%" nowrap="">Street hookers</th>
                        <th width="50%">Payout/day</th>
                        <th width="20%">Price</th>
                        <th width="5%">Buy</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->hookers as $hooker): ?>
                        <?php
                        if (isset($this->user_hookers[$hooker->hok_id])) {
                            $price = $this->user_hookers[$hooker->hok_id]->uhok_amount * $hooker->hok_price_sum;
                        } else {
                            $price = 0;
                        }
                        ?>
                        <tr rel="popover" data-content="<img src='<?php echo $this->basePath("/static/images/sections/hookers/{$hooker->hok_image}"); ?>'>" data-title="<?php echo $this->translate("hookers.name.{$hooker->hok_id}"); ?>" data-original-title="" title="">
                            <td nowrap=""><?php echo $this->translate("hookers.name.{$hooker->hok_id}"); ?></td>
                            <td nowrap=""><?php echo $this->currencyFormat($hooker->hok_payout); ?></td>
                            <td nowrap=""><?php echo $this->currencyFormat($hooker->hok_price + $price); ?></td>
                            <td nowrap="">
                                <input type="text" value="" maxlength="2" size="2" name="<?php echo $hooker->hok_id; ?>">
                                <input type="button" class="btn btn-small btn-inverse" value="Buy" name="Submit">
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </form>
    </div>
    <div id="footer_middle">
        <ul class="flags">
            <li><a class="flag usgb" title="English" href="/?action=setlang&iso=GB&return=hookers.php"></a></li>
            <li><a class="flag se" title="Svenska" href="/?action=setlang&iso=SE&return=hookers.php"></a></li>
            <li><a class="flag pl" title="Polska" href="/?action=setlang&iso=PL&return=hookers.php"></a></li>
            <li><a class="flag es" title="Spanish" href="/?action=setlang&iso=ES&return=hookers.php"></a></li>
            <li><a class="flag pt" title="Portuguese" href="/?action=setlang&iso=PT&return=hookers.php"></a></li>
            <li><a class="flag si" title="Slovenian" href="/?action=setlang&iso=SI&return=hookers.php"></a></li>
            <li><a class="flag cz" title="Czech" href="/?action=setlang&iso=CZ&return=hookers.php"></a></li>
            <li><a class="flag de" title="Deutsch" href="/?action=setlang&iso=DE&return=hookers.php"></a></li>
            <li><a class="flag ro" title="Romanian" href="/?action=setlang&iso=RO&return=hookers.php"></a></li>
            <li><a class="flag lt" title="Lithuanian" href="/?action=setlang&iso=LT&return=hookers.php"></a></li>
            <li><a class="flag gr" title="Greek" href="/?action=setlang&iso=EL&return=hookers.php"></a></li>
            <li><a class="flag no" title="Norsk" href="/?action=setlang&iso=NO&return=hookers.php"></a></li>
            <li><a class="flag eg" title="Arabic" href="/?action=setlang&iso=AR&return=hookers.php"></a></li>
            <li><a class="flag it" title="Italian" href="/?action=setlang&iso=IT&return=hookers.php"></a></li>
            <li><a class="flag br" title="Brazilian" href="/?action=setlang&iso=BR&return=hookers.php"></a></li>
            <li><a class="flag tr" title="Turkish" href="/?action=setlang&iso=TR&return=hookers.php"></a></li>
            <li><a class="flag id" title="Indonesian" href="/?action=setlang&iso=ID&return=hookers.php"></a></li>
            <li><a class="flag al" title="Albanian" href="/?action=setlang&iso=AL&return=hookers.php"></a></li>
            <li><a class="flag lv" title="Latvian" href="/?action=setlang&iso=LV&return=hookers.php"></a></li>
            <li><a class="flag at" title="Austrian" href="/?action=setlang&iso=AT&return=hookers.php"></a></li>
            <li><a class="flag sk" title="Slovak" href="/?action=setlang&iso=SK&return=hookers.php"></a></li>
            <li><a class="flag fr" title="French" href="/?action=setlang&iso=FR&return=hookers.php"></a></li>
            <li><a class="flag fi" title="Finnish" href="/?action=setlang&iso=FI&return=hookers.php"></a></li>
            <li><a class="flag cs" title="Serbian" href="/?action=setlang&iso=CS&return=hookers.php"></a></li>
            <li><a class="flag cn" title="Chinese" href="/?action=setlang&iso=CN&return=hookers.php"></a></li>
            <li><a class="flag cnt" title="Chinese Traditional" href="/?action=setlang&iso=CNT&return=hookers.php"></a></li>
            <li><a class="flag my" title="Malay" href="/?action=setlang&iso=MS&return=hookers.php"></a></li>
            <li><a class="flag bg" title="Bulgarian" href="/?action=setlang&iso=BG&return=hookers.php"></a></li>
        </ul>
    </div>
</div>
