<div id="page">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
	<td valign="top">
		<div id="content">
			<div id="header">
						</div>
			<table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
			 <tbody><tr>
				<td width="100%" valign="top">
										<div class="content_style main-content main-wide" style="max-width: 787px">
							<div id="modal-dialog"></div>
<h1>Game statistics</h1>
<p>Updated every 15 minutes</p>
<h2>Drug production</h2>
<table class="table table-condensed">
<thead>
	<tr>
		<th>Drug</th>
		<th>Quantity</th>
		<th>Buildings</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>Painkillers</td>
		<td>
		21541795257</td>
		<td>32089</td>
	</tr>
	<tr>
		<td>Booze</td>
		<td>
		56130309553</td>
		<td>74887</td>
	</tr>
	<tr>
		<td>Weed</td>
		<td>
		18007914488</td>
		<td>63677</td>
	</tr>
	<tr>
		<td>Magic mushrooms</td>
		<td>
		7857185416</td>
		<td>14260</td>
	</tr>
	<tr>
		<td>LSD</td>
		<td>
		5247504030</td>
		<td>16801</td>
	</tr>
	<tr>
		<td>Ecstacy</td>
		<td>
		2558749220</td>
		<td>11425</td>
	</tr>
	<tr>
		<td>Cocaine</td>
		<td>
		5789737878</td>
		<td>156372</td>
	</tr>
	<tr>
		<td>Opium</td>
		<td>
		2607787605</td>
		<td>92274</td>
	</tr>
	<tr>
		<td>Amphetamine</td>
		<td>
		5253961659</td>
		<td>50700</td>
	</tr>
	<tr>
		<td>Heroin</td>
		<td>
		33574086139</td>
		<td>1218058</td>
	</tr>
	<tr>
		<td>Hash</td>
		<td>
		5480374324</td>
		<td>8234</td>
	</tr>
	<tr>
		<td>Special K</td>
		<td>
		3148384684</td>
		<td>72847</td>
	</tr>
	<tr>
		<td>Morphine</td>
		<td>
		3040862799</td>
		<td>60655</td>
	</tr>
	<tr>
		<td>GHB</td>
		<td>
		14548985725</td>
		<td>83688</td>
	</tr>
</tbody>
</table>

<h2>Top achievers</h2>
<form action="stats.php?page=game" method="post">
Day: <input type="text" name="day" value="106">
<input type="submit" name="submit" value="OK" class="btn btn-inverse">
</form>
<table class="table table-condensed">
<thead>
    <tr>
        <th>Achievement</th>
        <th>Username</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Most kills</td>
        <td><a href="profile.php?id=15305883">FreeMen</a></td>
        <td>66 kills</td>
    </tr>
    <tr>
        <td>Most killed</td>
        <td><a href="profile.php?id=12994348">1O1</a></td>
        <td>27 times killed</td>
    </tr>
    <tr>
        <td>Respect change</td>
        <td><a href="profile.php?id=17004672">stek86ty</a></td>
        <td>10597600 respect</td>
    </tr>
</tbody>
</table>

<h2>Drug statistics</h2>
<form action="stats.php?page=game&amp;sub=4" method="post">
<select name="drug_id">
		<option value="1" selected="">Painkillers</option>
		<option value="2">Booze</option>
		<option value="3">Weed</option>
		<option value="4">Magic mushrooms</option>
		<option value="5">LSD</option>
		<option value="6">Ecstacy</option>
		<option value="7">Cocaine</option>
		<option value="8">Opium</option>
		<option value="9">Amphetamine</option>
		<option value="10">Heroin</option>
		<option value="11">Hash</option>
		<option value="12">Special K</option>
		<option value="13">Morphine</option>
		<option value="14">GHB</option>
	</select>
<input type="submit" name="submit" value="OK" class="btn btn-inverse">
</form>
<table class="table table-condensed">
<thead>
	<tr>
		<th>Day</th>
		<th>Price</th>
        <th>Production</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>1 00:00</td>
		<td>$6</td>
        <td>0</td>
	</tr>
	<tr>
		<td>2 00:00</td>
		<td>$6</td>
        <td>0</td>
	</tr>
	<tr>
		<td>3 00:00</td>
		<td>$6</td>
        <td>18061800</td>
	</tr>
	<tr>
		<td>4 00:00</td>
		<td>$6</td>
        <td>31512000</td>
	</tr>
	<tr>
		<td>5 00:00</td>
		<td>$6</td>
        <td>43064700</td>
	</tr>
	<tr>
		<td>6 00:00</td>
		<td>$6</td>
        <td>53732100</td>
	</tr>
	<tr>
		<td>7 00:00</td>
		<td>$6</td>
        <td>68632100</td>
	</tr>
	<tr>
		<td>8 00:00</td>
		<td>$6</td>
        <td>75502800</td>
	</tr>
	<tr>
		<td>9 00:00</td>
		<td>$6</td>
        <td>80051100</td>
	</tr>
	<tr>
		<td>10 00:00</td>
		<td>$6</td>
        <td>83940600</td>
	</tr>
	<tr>
		<td>11 00:00</td>
		<td>$6</td>
        <td>95815600</td>
	</tr>
	<tr>
		<td>12 00:00</td>
		<td>$6</td>
        <td>101253000</td>
	</tr>
	<tr>
		<td>13 00:00</td>
		<td>$6</td>
        <td>102507000</td>
	</tr>
	<tr>
		<td>14 00:00</td>
		<td>$6</td>
        <td>104712000</td>
	</tr>
	<tr>
		<td>15 00:00</td>
		<td>$6</td>
        <td>116819000</td>
	</tr>
	<tr>
		<td>16 00:00</td>
		<td>$6</td>
        <td>151410000</td>
	</tr>
	<tr>
		<td>17 00:00</td>
		<td>$6</td>
        <td>156532000</td>
	</tr>
	<tr>
		<td>18 00:00</td>
		<td>$6</td>
        <td>164432000</td>
	</tr>
	<tr>
		<td>19 00:00</td>
		<td>$6</td>
        <td>209371000</td>
	</tr>
	<tr>
		<td>20 00:00</td>
		<td>$6</td>
        <td>223585000</td>
	</tr>
	<tr>
		<td>21 00:00</td>
		<td>$6</td>
        <td>196513000</td>
	</tr>
	<tr>
		<td>22 00:00</td>
		<td>$6</td>
        <td>207413000</td>
	</tr>
	<tr>
		<td>23 00:00</td>
		<td>$6</td>
        <td>204677000</td>
	</tr>
	<tr>
		<td>24 00:00</td>
		<td>$6</td>
        <td>212225000</td>
	</tr>
	<tr>
		<td>25 00:00</td>
		<td>$6</td>
        <td>224789000</td>
	</tr>
	<tr>
		<td>26 00:00</td>
		<td>$6</td>
        <td>233944000</td>
	</tr>
	<tr>
		<td>27 00:00</td>
		<td>$6</td>
        <td>263353000</td>
	</tr>
	<tr>
		<td>28 00:00</td>
		<td>$6</td>
        <td>285291000</td>
	</tr>
	<tr>
		<td>29 00:00</td>
		<td>$6</td>
        <td>286030000</td>
	</tr>
	<tr>
		<td>30 00:00</td>
		<td>$6</td>
        <td>291526000</td>
	</tr>
	<tr>
		<td>31 00:00</td>
		<td>$6</td>
        <td>284690000</td>
	</tr>
	<tr>
		<td>32 00:00</td>
		<td>$6</td>
        <td>314365000</td>
	</tr>
	<tr>
		<td>33 00:00</td>
		<td>$6</td>
        <td>320101000</td>
	</tr>
	<tr>
		<td>34 00:00</td>
		<td>$6</td>
        <td>315154000</td>
	</tr>
	<tr>
		<td>35 00:00</td>
		<td>$5</td>
        <td>306752000</td>
	</tr>
	<tr>
		<td>36 00:00</td>
		<td>$5</td>
        <td>299688000</td>
	</tr>
	<tr>
		<td>37 00:00</td>
		<td>$5</td>
        <td>305816000</td>
	</tr>
	<tr>
		<td>38 00:00</td>
		<td>$5</td>
        <td>305124000</td>
	</tr>
	<tr>
		<td>39 00:00</td>
		<td>$5</td>
        <td>310966000</td>
	</tr>
	<tr>
		<td>40 00:00</td>
		<td>$5</td>
        <td>311594000</td>
	</tr>
	<tr>
		<td>41 00:00</td>
		<td>$5</td>
        <td>310994000</td>
	</tr>
	<tr>
		<td>42 00:00</td>
		<td>$5</td>
        <td>310010000</td>
	</tr>
	<tr>
		<td>43 00:00</td>
		<td>$5</td>
        <td>317019000</td>
	</tr>
	<tr>
		<td>44 00:00</td>
		<td>$5</td>
        <td>314056000</td>
	</tr>
	<tr>
		<td>45 00:00</td>
		<td>$5</td>
        <td>322302000</td>
	</tr>
	<tr>
		<td>46 00:00</td>
		<td>$5</td>
        <td>326044000</td>
	</tr>
	<tr>
		<td>47 00:00</td>
		<td>$5</td>
        <td>329402000</td>
	</tr>
	<tr>
		<td>48 00:00</td>
		<td>$5</td>
        <td>335085000</td>
	</tr>
	<tr>
		<td>49 00:00</td>
		<td>$5</td>
        <td>335238000</td>
	</tr>
	<tr>
		<td>50 00:00</td>
		<td>$5</td>
        <td>341294000</td>
	</tr>
	<tr>
		<td>51 00:00</td>
		<td>$5</td>
        <td>347245000</td>
	</tr>
	<tr>
		<td>52 00:00</td>
		<td>$5</td>
        <td>348643000</td>
	</tr>
	<tr>
		<td>53 00:00</td>
		<td>$5</td>
        <td>351550000</td>
	</tr>
	<tr>
		<td>54 00:00</td>
		<td>$5</td>
        <td>344778000</td>
	</tr>
	<tr>
		<td>55 00:00</td>
		<td>$5</td>
        <td>351026000</td>
	</tr>
	<tr>
		<td>56 00:00</td>
		<td>$5</td>
        <td>352840000</td>
	</tr>
	<tr>
		<td>57 00:00</td>
		<td>$5</td>
        <td>350482000</td>
	</tr>
	<tr>
		<td>58 00:00</td>
		<td>$5</td>
        <td>340945000</td>
	</tr>
	<tr>
		<td>59 00:00</td>
		<td>$5</td>
        <td>344653000</td>
	</tr>
	<tr>
		<td>60 00:00</td>
		<td>$5</td>
        <td>352422000</td>
	</tr>
	<tr>
		<td>61 00:00</td>
		<td>$5</td>
        <td>354202000</td>
	</tr>
	<tr>
		<td>62 00:00</td>
		<td>$5</td>
        <td>357041000</td>
	</tr>
	<tr>
		<td>63 00:00</td>
		<td>$5</td>
        <td>365073000</td>
	</tr>
	<tr>
		<td>64 00:00</td>
		<td>$5</td>
        <td>361255000</td>
	</tr>
	<tr>
		<td>65 00:00</td>
		<td>$5</td>
        <td>362223000</td>
	</tr>
	<tr>
		<td>66 00:00</td>
		<td>$5</td>
        <td>365750000</td>
	</tr>
	<tr>
		<td>67 00:00</td>
		<td>$5</td>
        <td>371187000</td>
	</tr>
	<tr>
		<td>68 00:00</td>
		<td>$5</td>
        <td>374666000</td>
	</tr>
	<tr>
		<td>69 00:00</td>
		<td>$5</td>
        <td>377799000</td>
	</tr>
	<tr>
		<td>70 00:00</td>
		<td>$5</td>
        <td>380196000</td>
	</tr>
	<tr>
		<td>71 00:00</td>
		<td>$5</td>
        <td>394021000</td>
	</tr>
	<tr>
		<td>72 00:00</td>
		<td>$5</td>
        <td>398392000</td>
	</tr>
	<tr>
		<td>73 00:00</td>
		<td>$5</td>
        <td>393470000</td>
	</tr>
	<tr>
		<td>74 00:00</td>
		<td>$5</td>
        <td>399543000</td>
	</tr>
	<tr>
		<td>75 00:00</td>
		<td>$5</td>
        <td>404147000</td>
	</tr>
	<tr>
		<td>76 00:00</td>
		<td>$5</td>
        <td>408706000</td>
	</tr>
	<tr>
		<td>77 00:00</td>
		<td>$5</td>
        <td>411141000</td>
	</tr>
	<tr>
		<td>78 00:00</td>
		<td>$5</td>
        <td>414885000</td>
	</tr>
	<tr>
		<td>79 00:00</td>
		<td>$5</td>
        <td>419946000</td>
	</tr>
	<tr>
		<td>80 00:00</td>
		<td>$5</td>
        <td>422820000</td>
	</tr>
	<tr>
		<td>81 00:00</td>
		<td>$5</td>
        <td>425082000</td>
	</tr>
	<tr>
		<td>82 00:00</td>
		<td>$5</td>
        <td>430743000</td>
	</tr>
	<tr>
		<td>83 00:00</td>
		<td>$5</td>
        <td>431837000</td>
	</tr>
	<tr>
		<td>84 00:00</td>
		<td>$6</td>
        <td>431276000</td>
	</tr>
	<tr>
		<td>85 00:00</td>
		<td>$6</td>
        <td>432632000</td>
	</tr>
	<tr>
		<td>86 00:00</td>
		<td>$6</td>
        <td>442073000</td>
	</tr>
	<tr>
		<td>87 00:00</td>
		<td>$6</td>
        <td>446307000</td>
	</tr>
	<tr>
		<td>88 00:00</td>
		<td>$6</td>
        <td>449214000</td>
	</tr>
	<tr>
		<td>89 00:00</td>
		<td>$6</td>
        <td>447326000</td>
	</tr>
	<tr>
		<td>90 00:00</td>
		<td>$6</td>
        <td>454297000</td>
	</tr>
	<tr>
		<td>91 00:00</td>
		<td>$6</td>
        <td>447196000</td>
	</tr>
	<tr>
		<td>92 00:00</td>
		<td>$6</td>
        <td>451955000</td>
	</tr>
	<tr>
		<td>93 00:00</td>
		<td>$6</td>
        <td>444425000</td>
	</tr>
	<tr>
		<td>94 00:00</td>
		<td>$6</td>
        <td>450701000</td>
	</tr>
	<tr>
		<td>95 00:00</td>
		<td>$6</td>
        <td>472281000</td>
	</tr>
	<tr>
		<td>96 00:00</td>
		<td>$6</td>
        <td>473260000</td>
	</tr>
	<tr>
		<td>97 00:00</td>
		<td>$6</td>
        <td>458739000</td>
	</tr>
	<tr>
		<td>98 00:00</td>
		<td>$6</td>
        <td>461655000</td>
	</tr>
	<tr>
		<td>99 00:00</td>
		<td>$6</td>
        <td>468667000</td>
	</tr>
	<tr>
		<td>100 00:00</td>
		<td>$6</td>
        <td>474524000</td>
	</tr>
	<tr>
		<td>101 00:00</td>
		<td>$6</td>
        <td>488111000</td>
	</tr>
	<tr>
		<td>102 00:00</td>
		<td>$6</td>
        <td>488680000</td>
	</tr>
	<tr>
		<td>103 00:00</td>
		<td>$6</td>
        <td>509583000</td>
	</tr>
	<tr>
		<td>104 00:00</td>
		<td>$6</td>
        <td>519392000</td>
	</tr>
	<tr>
		<td>105 00:00</td>
		<td>$6</td>
        <td>490590000</td>
	</tr>
	<tr>
		<td>106 00:00</td>
		<td>$6</td>
        <td>502841000</td>
	</tr>
</tbody>
</table>						</div>
						<div id="footer_middle">
														<ul class="flags">
														 <li><a href="/?action=setlang&amp;iso=GB&amp;return=stats.php" title="English" class="flag usgb"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SE&amp;return=stats.php" title="Svenska" class="flag se"></a></li>
														 <li><a href="/?action=setlang&amp;iso=PL&amp;return=stats.php" title="Polska" class="flag pl"></a></li>
														 <li><a href="/?action=setlang&amp;iso=ES&amp;return=stats.php" title="Spanish" class="flag es"></a></li>
														 <li><a href="/?action=setlang&amp;iso=PT&amp;return=stats.php" title="Portuguese" class="flag pt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SI&amp;return=stats.php" title="Slovenian" class="flag si"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CZ&amp;return=stats.php" title="Czech" class="flag cz"></a></li>
														 <li><a href="/?action=setlang&amp;iso=DE&amp;return=stats.php" title="Deutsch" class="flag de"></a></li>
														 <li><a href="/?action=setlang&amp;iso=RO&amp;return=stats.php" title="Romanian" class="flag ro"></a></li>
														 <li><a href="/?action=setlang&amp;iso=LT&amp;return=stats.php" title="Lithuanian" class="flag lt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=EL&amp;return=stats.php" title="Greek" class="flag gr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=NO&amp;return=stats.php" title="Norsk" class="flag no"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AR&amp;return=stats.php" title="Arabic" class="flag eg"></a></li>
														 <li><a href="/?action=setlang&amp;iso=IT&amp;return=stats.php" title="Italian" class="flag it"></a></li>
														 <li><a href="/?action=setlang&amp;iso=BR&amp;return=stats.php" title="Brazilian" class="flag br"></a></li>
														 <li><a href="/?action=setlang&amp;iso=TR&amp;return=stats.php" title="Turkish" class="flag tr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=ID&amp;return=stats.php" title="Indonesian" class="flag id"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AL&amp;return=stats.php" title="Albanian" class="flag al"></a></li>
														 <li><a href="/?action=setlang&amp;iso=LV&amp;return=stats.php" title="Latvian" class="flag lv"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AT&amp;return=stats.php" title="Austrian" class="flag at"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SK&amp;return=stats.php" title="Slovak" class="flag sk"></a></li>
														 <li><a href="/?action=setlang&amp;iso=FR&amp;return=stats.php" title="French" class="flag fr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=FI&amp;return=stats.php" title="Finnish" class="flag fi"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CS&amp;return=stats.php" title="Serbian" class="flag cs"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CN&amp;return=stats.php" title="Chinese" class="flag cn"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CNT&amp;return=stats.php" title="Chinese Traditional" class="flag cnt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=MS&amp;return=stats.php" title="Malay" class="flag my"></a></li>
														 <li><a href="/?action=setlang&amp;iso=BG&amp;return=stats.php" title="Bulgarian" class="flag bg"></a></li>
														</ul>
						</div>
					
									</td>
			 </tr>
			</tbody></table>
		</div>
	</td>
 	<td valign="top" align="center" style="padding-top: 0px; padding-left:10px;">
		                <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 300x600 right menu -->
                <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-8218887720088089" data-ad-slot="8646387501" data-adsbygoogle-status="done"><ins id="aswift_0_expand" style="display:inline-table;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent"><ins id="aswift_0_anchor" style="display:block;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent"><iframe width="300" height="600" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;"></iframe></ins></ins></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <br><br>
                	</td>
 </tr>
 </tbody></table>
</div>