<div id="page">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
	<td valign="top">
		<div id="content">
			<div id="header">
						</div>
			<table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
			 <tbody><tr>
				<td width="100%" valign="top">
										<div class="content_style main-content main-wide" style="max-width: 787px">
							<div id="modal-dialog"></div>
<h1>Gang stats</h1>
	<a href="stats.php?page=gangs&amp;country=BR" onclick="" class="btn btn-small btn-inverse"><div class="flag br"></div>Your country's top list</a>
	<br>
<form action="stats.php" method="post" name="countryform">
<input type="hidden" name="page" value="gangs">
<select name="country" id="select" onchange="javascript: document.countryform.submit()">
	<option value="" selected="">International top list</option>
	<option value="BR">Brazil</option>
	<option value="">-------------------------</option>
			<option value="AF">Afghanistan</option>
				<option value="AL">Albania</option>
				<option value="DZ">Algeria</option>
				<option value="AS">American Samoa</option>
				<option value="AD">Andorra</option>
				<option value="AO">Angola</option>
				<option value="AI">Anguilla</option>
				<option value="AQ">Antarctica</option>
				<option value="AG">Antigua and Barbuda</option>
				<option value="AR">Argentina</option>
				<option value="AM">Armenia</option>
				<option value="AW">Aruba</option>
				<option value="AC">Ascension Island</option>
				<option value="AU">Australia</option>
				<option value="AT">Austria</option>
				<option value="AZ">Azerbaijan</option>
				<option value="BS">Bahamas</option>
				<option value="BH">Bahrain</option>
				<option value="BD">Bangladesh</option>
				<option value="BB">Barbados</option>
				<option value="BY">Belarus</option>
				<option value="BE">Belgium</option>
				<option value="BZ">Belize</option>
				<option value="BJ">Benin</option>
				<option value="BM">Bermuda</option>
				<option value="BT">Bhutan</option>
				<option value="BO">Bolivia</option>
				<option value="BA">Bosnia and Herzegovina</option>
				<option value="BW">Botswana</option>
				<option value="BV">Bouvet Island</option>
				<option value="BR">Brazil</option>
				<option value="IO">British Indian Ocean Territory</option>
				<option value="VG">British Virgin Islands</option>
				<option value="BN">Brunei</option>
				<option value="BG">Bulgaria</option>
				<option value="BF">Burkina Faso</option>
				<option value="BI">Burundi</option>
				<option value="KH">Cambodia</option>
				<option value="CM">Cameroon</option>
				<option value="CA">Canada</option>
				<option value="IC">Canary Islands</option>
				<option value="CV">Cape Verde</option>
				<option value="BQ">Caribbean Netherlands</option>
				<option value="KY">Cayman Islands</option>
				<option value="CF">Central African Republic</option>
				<option value="EA">Ceuta and Melilla</option>
				<option value="TD">Chad</option>
				<option value="CL">Chile</option>
				<option value="CN">China</option>
				<option value="CX">Christmas Island</option>
				<option value="CP">Clipperton Island</option>
				<option value="CC">Cocos (Keeling) Islands</option>
				<option value="CO">Colombia</option>
				<option value="KM">Comoros</option>
				<option value="CG">Congo - Brazzaville</option>
				<option value="CD">Congo - Kinshasa</option>
				<option value="CK">Cook Islands</option>
				<option value="CR">Costa Rica</option>
				<option value="HR">Croatia</option>
				<option value="CU">Cuba</option>
				<option value="CW">Curaçao</option>
				<option value="CY">Cyprus</option>
				<option value="CZ">Czech Republic</option>
				<option value="CI">Côte d’Ivoire</option>
				<option value="DK">Denmark</option>
				<option value="DG">Diego Garcia</option>
				<option value="DJ">Djibouti</option>
				<option value="DM">Dominica</option>
				<option value="DO">Dominican Republic</option>
				<option value="EC">Ecuador</option>
				<option value="EG">Egypt</option>
				<option value="SV">El Salvador</option>
				<option value="GQ">Equatorial Guinea</option>
				<option value="ER">Eritrea</option>
				<option value="EE">Estonia</option>
				<option value="ET">Ethiopia</option>
				<option value="FK">Falkland Islands</option>
				<option value="FO">Faroe Islands</option>
				<option value="FJ">Fiji</option>
				<option value="FI">Finland</option>
				<option value="FR">France</option>
				<option value="GF">French Guiana</option>
				<option value="PF">French Polynesia</option>
				<option value="TF">French Southern Territories</option>
				<option value="GA">Gabon</option>
				<option value="GM">Gambia</option>
				<option value="GE">Georgia</option>
				<option value="DE">Germany</option>
				<option value="GH">Ghana</option>
				<option value="GI">Gibraltar</option>
				<option value="GR">Greece</option>
				<option value="GL">Greenland</option>
				<option value="GD">Grenada</option>
				<option value="GP">Guadeloupe</option>
				<option value="GU">Guam</option>
				<option value="GT">Guatemala</option>
				<option value="GG">Guernsey</option>
				<option value="GN">Guinea</option>
				<option value="GW">Guinea-Bissau</option>
				<option value="GY">Guyana</option>
				<option value="HT">Haiti</option>
				<option value="HM">Heard Island and McDonald Islands</option>
				<option value="HN">Honduras</option>
				<option value="HK">Hong Kong SAR China</option>
				<option value="HU">Hungary</option>
				<option value="IS">Iceland</option>
				<option value="IN">India</option>
				<option value="ID">Indonesia</option>
				<option value="IR">Iran</option>
				<option value="IQ">Iraq</option>
				<option value="IE">Ireland</option>
				<option value="IM">Isle of Man</option>
				<option value="IL">Israel</option>
				<option value="IT">Italy</option>
				<option value="JM">Jamaica</option>
				<option value="JP">Japan</option>
				<option value="JE">Jersey</option>
				<option value="JO">Jordan</option>
				<option value="KZ">Kazakhstan</option>
				<option value="KE">Kenya</option>
				<option value="KI">Kiribati</option>
				<option value="RV">Kosovo</option>
				<option value="KW">Kuwait</option>
				<option value="KG">Kyrgyzstan</option>
				<option value="LA">Laos</option>
				<option value="LV">Latvia</option>
				<option value="LB">Lebanon</option>
				<option value="LS">Lesotho</option>
				<option value="LR">Liberia</option>
				<option value="LY">Libya</option>
				<option value="LI">Liechtenstein</option>
				<option value="LT">Lithuania</option>
				<option value="LU">Luxembourg</option>
				<option value="MO">Macau SAR China</option>
				<option value="MK">Macedonia</option>
				<option value="MG">Madagascar</option>
				<option value="MW">Malawi</option>
				<option value="MY">Malaysia</option>
				<option value="MV">Maldives</option>
				<option value="ML">Mali</option>
				<option value="MT">Malta</option>
				<option value="MH">Marshall Islands</option>
				<option value="MQ">Martinique</option>
				<option value="MR">Mauritania</option>
				<option value="MU">Mauritius</option>
				<option value="YT">Mayotte</option>
				<option value="MX">Mexico</option>
				<option value="FM">Micronesia</option>
				<option value="MD">Moldova</option>
				<option value="MC">Monaco</option>
				<option value="MN">Mongolia</option>
				<option value="ME">Montenegro</option>
				<option value="MS">Montserrat</option>
				<option value="MA">Morocco</option>
				<option value="MZ">Mozambique</option>
				<option value="MM">Myanmar (Burma)</option>
				<option value="NA">Namibia</option>
				<option value="NR">Nauru</option>
				<option value="NP">Nepal</option>
				<option value="NL">Netherlands</option>
				<option value="AN">Netherlands Antilles</option>
				<option value="NC">New Caledonia</option>
				<option value="NZ">New Zealand</option>
				<option value="NI">Nicaragua</option>
				<option value="NE">Niger</option>
				<option value="NG">Nigeria</option>
				<option value="NU">Niue</option>
				<option value="NF">Norfolk Island</option>
				<option value="KP">North Korea</option>
				<option value="MP">Northern Mariana Islands</option>
				<option value="NO">Norway</option>
				<option value="OM">Oman</option>
				<option value="PK">Pakistan</option>
				<option value="PW">Palau</option>
				<option value="PS">Palestinian Territories</option>
				<option value="PA">Panama</option>
				<option value="PG">Papua New Guinea</option>
				<option value="PY">Paraguay</option>
				<option value="PE">Peru</option>
				<option value="PH">Philippines</option>
				<option value="PN">Pitcairn Islands</option>
				<option value="PL">Poland</option>
				<option value="PT">Portugal</option>
				<option value="PR">Puerto Rico</option>
				<option value="QA">Qatar</option>
				<option value="RO">Romania</option>
				<option value="RU">Russia</option>
				<option value="RW">Rwanda</option>
				<option value="RE">Réunion</option>
				<option value="BL">Saint Barthélemy</option>
				<option value="SH">Saint Helena</option>
				<option value="KN">Saint Kitts and Nevis</option>
				<option value="LC">Saint Lucia</option>
				<option value="MF">Saint Martin</option>
				<option value="PM">Saint Pierre and Miquelon</option>
				<option value="VC">Saint Vincent and the Grenadines</option>
				<option value="WS">Samoa</option>
				<option value="SM">San Marino</option>
				<option value="SA">Saudi Arabia</option>
				<option value="SN">Senegal</option>
				<option value="RS">Serbia</option>
				<option value="SC">Seychelles</option>
				<option value="SL">Sierra Leone</option>
				<option value="SG">Singapore</option>
				<option value="SX">Sint Maarten</option>
				<option value="SK">Slovakia</option>
				<option value="SI">Slovenia</option>
				<option value="SB">Solomon Islands</option>
				<option value="SO">Somalia</option>
				<option value="ZA">South Africa</option>
				<option value="GS">South Georgia and the South Sandwich Islands</option>
				<option value="KR">South Korea</option>
				<option value="SS">South Sudan</option>
				<option value="ES">Spain</option>
				<option value="LK">Sri Lanka</option>
				<option value="SD">Sudan</option>
				<option value="SR">Suriname</option>
				<option value="SJ">Svalbard and Jan Mayen</option>
				<option value="SZ">Swaziland</option>
				<option value="SE">Sweden</option>
				<option value="CH">Switzerland</option>
				<option value="SY">Syria</option>
				<option value="ST">São Tomé and Príncipe</option>
				<option value="TW">Taiwan</option>
				<option value="TJ">Tajikistan</option>
				<option value="TZ">Tanzania</option>
				<option value="TH">Thailand</option>
				<option value="TL">Timor-Leste</option>
				<option value="TG">Togo</option>
				<option value="TK">Tokelau</option>
				<option value="TO">Tonga</option>
				<option value="TT">Trinidad and Tobago</option>
				<option value="TA">Tristan da Cunha</option>
				<option value="TN">Tunisia</option>
				<option value="TR">Turkey</option>
				<option value="TM">Turkmenistan</option>
				<option value="TC">Turks and Caicos Islands</option>
				<option value="TV">Tuvalu</option>
				<option value="UM">U.S. Minor Outlying Islands</option>
				<option value="VI">U.S. Virgin Islands</option>
				<option value="UG">Uganda</option>
				<option value="UA">Ukraine</option>
				<option value="AE">United Arab Emirates</option>
				<option value="GB">United Kingdom</option>
				<option value="US">United States</option>
				<option value="ZZ">Unknown Region</option>
				<option value="UY">Uruguay</option>
				<option value="UZ">Uzbekistan</option>
				<option value="VU">Vanuatu</option>
				<option value="VA">Vatican City</option>
				<option value="VE">Venezuela</option>
				<option value="VN">Vietnam</option>
				<option value="WF">Wallis and Futuna</option>
				<option value="EH">Western Sahara</option>
				<option value="YE">Yemen</option>
				<option value="ZM">Zambia</option>
				<option value="ZW">Zimbabwe</option>
				<option value="AX">Åland Islands</option>
		</select>
</form>
<div style="margin-top: 10px; margin-bottom: 10px">
<form action="stats.php" method="post" onsubmit="showWait()">
Find gang:
<input type="hidden" name="action" value="search">
<input type="hidden" name="page" value="gangs">
<input type="text" name="search" size="20" maxlength="20" value="">
<input type="submit" name="Submit" value="Search" class="btn btn-inverse">
</form>
</div>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
		<tbody><tr class="black_table_top">
			<td valign="top" colspan="2" width="50%">Gang name</td>
			<td valign="top" align="center" width="5%">&nbsp;</td>
			<td valign="top" align="center" width="15%">Members</td>
			<td valign="top" align="center" width="30%">Gang points</td>
		</tr>
			<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 20px;" width="1">1.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 20px"><b>Forgotten Family</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag sk"></div>			</td>
			<td valign="middle" align="center">65</td>
			<td valign="middle" align="center">369087322</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 17px;" width="1">2.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 17px"><b>FK ON oRDER aND rESPECT</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">60</td>
			<td valign="middle" align="center">325611528</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 14px;" width="1">3.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 14px"><b>- EliteBR FK ON</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">54</td>
			<td valign="middle" align="center">112794864</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">4.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>..:BZIUM:..</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">39</td>
			<td valign="middle" align="center">77263389</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">5.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>...:::KillArmy:::...</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">34</td>
			<td valign="middle" align="center">21139248</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">6.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>FK ON - TROPA DE ELITE</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">37</td>
			<td valign="middle" align="center">20544326</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">7.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>COSA NOSTRA</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">25</td>
			<td valign="middle" align="center">11635108</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">8.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>BONDE DOS CARECAS</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">18</td>
			<td valign="middle" align="center">8696294</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">9.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>NFC need more people...FK</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag sk"></div>			</td>
			<td valign="middle" align="center">17</td>
			<td valign="middle" align="center">8416948</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">10.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>PGW</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">30</td>
			<td valign="middle" align="center">8391662</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">11.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>FK ON GG</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag fj"></div>			</td>
			<td valign="middle" align="center">28</td>
			<td valign="middle" align="center">7246273</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">12.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>The Black Rose OIL ON</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">29</td>
			<td valign="middle" align="center">6806688</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">13.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>GG FOR TRAINING EliteBR</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">31</td>
			<td valign="middle" align="center">6367317</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">14.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>LITHUANIANS ALLIANCE</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag lt"></div>			</td>
			<td valign="middle" align="center">21</td>
			<td valign="middle" align="center">5931129</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">15.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>MadMen - Pelopes</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">26</td>
			<td valign="middle" align="center">4459320</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">16.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>Detonados da Night</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">20</td>
			<td valign="middle" align="center">3847460</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">17.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>KILER-ow 2-och</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">27</td>
			<td valign="middle" align="center">3582854</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">18.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>***BESTTURKISHMAFIA***</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag tr"></div>			</td>
			<td valign="middle" align="center">17</td>
			<td valign="middle" align="center">3581178</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">19.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>FK on add</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag ro"></div>			</td>
			<td valign="middle" align="center">20</td>
			<td valign="middle" align="center">3567974</td>
		</tr>
				<tr>
		
			<td valign="middle" style="padding-right: 5px; font-size: 10px;" width="1">20.</td>
			<td valign="middle" width="50%">
						<span class="nicktext" style="font-size: 10px"><b>pakiernia Gill Bates</b></span><br>
						</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">21</td>
			<td valign="middle" align="center">2981020</td>
		</tr>
			</tbody></table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tbody><tr>
			<td width="100%" valign="top" align="center">
			<div class="pagination-container"><span class="pagination pagination-active">1</span><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=20')" class="pagination">2</a><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=40')" class="pagination">3</a><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=60')" class="pagination">4</a><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=80')" class="pagination">5</a><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=100')" class="pagination">6</a><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=120')" class="pagination">7</a><a href="#" onclick="ccebcacdda('stats.php?page=gangs&amp;country=&amp;offset=20')" class="pagination pagination-next">Next »</a></div>			</td>
		</tr>
	</tbody></table>
							</div>
						<div id="footer_middle">
														<ul class="flags">
														 <li><a href="/?action=setlang&amp;iso=GB&amp;return=stats.php" title="English" class="flag usgb"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SE&amp;return=stats.php" title="Svenska" class="flag se"></a></li>
														 <li><a href="/?action=setlang&amp;iso=PL&amp;return=stats.php" title="Polska" class="flag pl"></a></li>
														 <li><a href="/?action=setlang&amp;iso=ES&amp;return=stats.php" title="Spanish" class="flag es"></a></li>
														 <li><a href="/?action=setlang&amp;iso=PT&amp;return=stats.php" title="Portuguese" class="flag pt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SI&amp;return=stats.php" title="Slovenian" class="flag si"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CZ&amp;return=stats.php" title="Czech" class="flag cz"></a></li>
														 <li><a href="/?action=setlang&amp;iso=DE&amp;return=stats.php" title="Deutsch" class="flag de"></a></li>
														 <li><a href="/?action=setlang&amp;iso=RO&amp;return=stats.php" title="Romanian" class="flag ro"></a></li>
														 <li><a href="/?action=setlang&amp;iso=LT&amp;return=stats.php" title="Lithuanian" class="flag lt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=EL&amp;return=stats.php" title="Greek" class="flag gr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=NO&amp;return=stats.php" title="Norsk" class="flag no"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AR&amp;return=stats.php" title="Arabic" class="flag eg"></a></li>
														 <li><a href="/?action=setlang&amp;iso=IT&amp;return=stats.php" title="Italian" class="flag it"></a></li>
														 <li><a href="/?action=setlang&amp;iso=BR&amp;return=stats.php" title="Brazilian" class="flag br"></a></li>
														 <li><a href="/?action=setlang&amp;iso=TR&amp;return=stats.php" title="Turkish" class="flag tr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=ID&amp;return=stats.php" title="Indonesian" class="flag id"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AL&amp;return=stats.php" title="Albanian" class="flag al"></a></li>
														 <li><a href="/?action=setlang&amp;iso=LV&amp;return=stats.php" title="Latvian" class="flag lv"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AT&amp;return=stats.php" title="Austrian" class="flag at"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SK&amp;return=stats.php" title="Slovak" class="flag sk"></a></li>
														 <li><a href="/?action=setlang&amp;iso=FR&amp;return=stats.php" title="French" class="flag fr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=FI&amp;return=stats.php" title="Finnish" class="flag fi"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CS&amp;return=stats.php" title="Serbian" class="flag cs"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CN&amp;return=stats.php" title="Chinese" class="flag cn"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CNT&amp;return=stats.php" title="Chinese Traditional" class="flag cnt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=MS&amp;return=stats.php" title="Malay" class="flag my"></a></li>
														 <li><a href="/?action=setlang&amp;iso=BG&amp;return=stats.php" title="Bulgarian" class="flag bg"></a></li>
														</ul>
						</div>
					
									</td>
			 </tr>
			</tbody></table>
		</div>
	</td>
 	<td valign="top" align="center" style="padding-top: 0px; padding-left:10px;">
			</td>
 </tr>
 </tbody></table>
</div>