<div id="page">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top">
                    <div id="content">
                        <div id="header"></div>
                        <table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
                            <tbody>
                                <tr>
                                    <td width="100%" valign="top">
                                        <div class="content_style main-content main-wide" style="max-width: 787px">
                                            <div id="modal-dialog"></div>
                                            <h1>Stats</h1>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="f16">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="2" valign="top" style="padding-bottom: 10px">
                                                            <a href="stats.php?country=BR" onclick="" class="btn btn-small btn-inverse"><div class="flag br"></div>Your country's top list</a>
                                                            <br/>
                                                            <form action="stats.php" method="post" name="countryform">
                                                                <select name="country" id="select" onchange="javascript: document.countryform.submit()">
                                                                    <option value="" selected="">International top list</option>
                                                                    <option value="BR">Brazil</option>
                                                                    <option value="">-------------------------</option>
                                                                    <option value="BR">Brazil</option>
                                                                </select>
                                                                <br/>
                                                                <select name="profession" onchange="javascript: document.countryform.submit()">
                                                                    <option value="">Profession</option>
                                                                    <option value="gangster">Gangster</option>
                                                                    <option value="biz">Businessman</option>
                                                                    <option value="hitman">Hitman</option>
                                                                    <option value="pimp">Pimp</option>
                                                                    <option value="robber">Robber</option>
                                                                </select>
                                                                <select name="level" onchange="javascript: document.countryform.submit()">
                                                                    <option value="0">Level</option>
                                                                    <option value="1">Level 1</option>
                                                                    <option value="2">Level 2</option>
                                                                    <option value="3">Level 3</option>
                                                                    <option value="4">Level 4</option>
                                                                    <option value="5">Level 5</option>
                                                                    <option value="6">Level 6</option>
                                                                    <option value="7">Level 7</option>
                                                                    <option value="8">Level 8</option>
                                                                    <option value="9">Level 9</option>
                                                                    <option value="10">Level 10</option>
                                                                    <option value="11">Level 11</option>
                                                                    <option value="12">Level 12</option>
                                                                </select>
                                                            </form>
                                                        </td>
                                                        <td width="50%" valign="right">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" valign="top" style="padding-bottom: 20px">
                                                            <form action="stats.php" method="post" onsubmit="showWait()">
                                                                Search for a user:
                                                                <input type="hidden" name="action" value="search">
                                                                <input type="hidden" name="country" value="">
                                                                <input type="text" name="search" size="20" maxlength="20" value="">
                                                                <input type="submit" name="Submit" value="Search" class="btn btn-inverse">
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" valign="top" style="padding-bottom: 20px">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="50%" valign="top">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">1.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17124434"><img src="/static/images/avatars/avatar_2.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17124434" data-username="aficzinatzen"></a>            <div class="user_list_flag"><div class="flag pl"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17124434"><span class="nicktext"><b>aficzinatzen</b></span></a><br/>
                                                                                            Pimp - 12<br/>
                                                                                            Respect: 17467400<br/>
                                                                                            Kills: 2588
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">2.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17131996"><img src="http://dynamic.live.thecrims.com/upload/avatars/17135000/96461884cadaad32543f7fec855732a7.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17131996" data-username="xGu"></a>            <div class="user_list_flag"><div class="flag br"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17131996"><span class="nicktext"><b>*xGu</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 14815800<br/>
                                                                                            Kills: 32
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">3.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=15239144"><img src="http://dynamic.live.thecrims.com/upload/avatars/15240000/eec70df82e364d21fdb9e1e3f78c4913.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="15239144" data-username="PlayKilleR"></a>            <div class="user_list_flag"><div class="flag tr"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=15239144"><span class="nicktext"><b>*PlayKilleR</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 12043500<br/>
                                                                                            Kills: 7
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">4.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17004672"><img src="http://dynamic.live.thecrims.com/upload/avatars/17005000/17004672.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17004672" data-username="stek86ty"></a>            <div class="user_list_flag"><div class="flag pl"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17004672"><span class="nicktext"><b>stek86ty</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 11829400<br/>
                                                                                            Kills: 32
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">5.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17126399"><img src="http://dynamic.live.thecrims.com/upload/avatars/17130000/17126399.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17126399" data-username="VeNoMz"></a>            <div class="user_list_flag"><div class="flag gb"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17126399"><span class="nicktext"><b>*VeNoMz</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 11455800<br/>
                                                                                            Kills: 53
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">6.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=15696583"><img src="/static/images/avatars/avatar_10.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="15696583" data-username="pol75"></a>            <div class="user_list_flag"><div class="flag pl"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=15696583"><span class="nicktext"><b>pol75</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 10209300<br/>
                                                                                            Kills: 0
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">7.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17072188"><img src="http://dynamic.live.thecrims.com/upload/avatars/17075000/17072188.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17072188" data-username="robertscliversp"></a>            <div class="user_list_flag"><div class="flag br"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17072188"><span class="nicktext"><b>robertscliversp</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 9536680<br/>
                                                                                            Kills: 1
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">8.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17094722"><img src="http://dynamic.live.thecrims.com/upload/avatars/17095000/93fc4bb1953532bd3748a44acefd4528.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17094722" data-username="liv"></a>            <div class="user_list_flag"><div class="flag pt"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17094722"><span class="nicktext"><b>*liv</b></span></a><br/>
                                                                                            Robber - 11<br/>
                                                                                            Respect: 9258200<br/>
                                                                                            Kills: 91
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">9.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17109929"><img src="/static/images/avatars/avatar_59.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17109929" data-username="horrorknight"></a>            <div class="user_list_flag"><div class="flag gr"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17109929"><span class="nicktext"><b>horrorknight</b></span></a><br/>
                                                                                            Gangster - 12<br/>
                                                                                            Respect: 9151640<br/>
                                                                                            Kills: 44
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">10.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=16558952"><img src="/static/images/avatars/avatar_6.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="16558952" data-username="soriin"></a>            <div class="user_list_flag"><div class="flag pl"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=16558952"><span class="nicktext"><b>soriin</b></span></a><br/>
                                                                                            Hitman - 12<br/>
                                                                                            Respect: 9122600<br/>
                                                                                            Kills: 686
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="50%" valign="top">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody><tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">11.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=16055373"><img src="/static/images/avatars/avatar_28.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="16055373" data-username="zxcvzxcvzxcvzxcv"></a>            <div class="user_list_flag"><div class="flag al"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=16055373"><span class="nicktext"><b>zxcvzxcvzxcvzxcv</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 9070560<br/>
                                                                                            Kills: 32
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">12.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=10840601"><img src="http://dynamic.live.thecrims.com/upload/avatars/10845000/21884b34a44afba64b6fcd038cff891e.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="10840601" data-username="BaByRico"></a>            <div class="user_list_flag"><div class="flag lv"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=10840601"><span class="nicktext"><b>BaByRico</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 8997400<br/>
                                                                                            Kills: 4
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">13.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=16527807"><img src="http://dynamic.live.thecrims.com/upload/avatars/16530000/16527807.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="16527807" data-username="thecemetary"></a>            <div class="user_list_flag"><div class="flag ro"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=16527807"><span class="nicktext"><b>thecemetary</b></span></a><br/>
                                                                                            Gangster - 12<br/>
                                                                                            Respect: 8567210<br/>
                                                                                            Kills: 28
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">14.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=16449197"><img src="http://dynamic.live.thecrims.com/upload/avatars/16450000/6eda291001926b875c8707d3c5944318.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="16449197" data-username="free91I"></a>            <div class="user_list_flag"><div class="flag eg"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=16449197"><span class="nicktext"><b>*free91I</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 8113410<br/>
                                                                                            Kills: 583
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">15.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17143992"><img src="/static/images/avatars/avatar_55.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17143992" data-username="dede444"></a>            <div class="user_list_flag"><div class="flag tr"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17143992"><span class="nicktext"><b>*dede444</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 8026360<br/>
                                                                                            Kills: 0
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">16.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17153109"><img src="http://dynamic.live.thecrims.com/upload/avatars/17155000/eb3136e69c683262026a59952df450d0.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17153109" data-username="ZikaDuBagui"></a>            <div class="user_list_flag"><div class="flag br"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17153109"><span class="nicktext"><b>ZikaDuBagui</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 8017340<br/>
                                                                                            Kills: 3
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">17.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=16518193"><img src="http://dynamic.live.thecrims.com/upload/avatars/16520000/6d0c48673cbc27733ec2748dc0efe97b.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="16518193" data-username="CicOw"></a>            <div class="user_list_flag"><div class="flag br"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=16518193"><span class="nicktext"><b>CicOw</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 7955320<br/>
                                                                                            Kills: 0
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">18.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=17099852"><img src="http://dynamic.live.thecrims.com/upload/avatars/17100000/30a5372f935ce997f0b4dabb0e4186dd.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="17099852" data-username="hOsPlTaL"></a>            <div class="user_list_flag"><div class="flag cz"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=17099852"><span class="nicktext"><b>hOsPlTaL</b></span></a><br/>
                                                                                            Hitman - 12<br/>
                                                                                            Respect: 7732620<br/>
                                                                                            Kills: 85
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">19.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=13529145"><img src="http://dynamic.live.thecrims.com/upload/avatars/13530000/8d4157e960cc7d99a7a33aa4832b1782.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="13529145" data-username="simass"></a>            <div class="user_list_flag"><div class="flag lt"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=13529145"><span class="nicktext"><b>simass</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 7549860<br/>
                                                                                            Kills: 19
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">20.</td>
                                                                                        <td valign="top" style="padding-bottom: 10px; padding-right: 10px">
                                                                                            <div class="user_list_avatar">
                                                                                                <a href="/profile.php?id=15752969"><img src="http://dynamic.live.thecrims.com/upload/avatars/15755000/ead704b2b98f54a4761ab018eb938b0c.jpg" width="32" height="40" border="0" class="profile-popover" data-userid="15752969" data-username="ElKowcykowski"></a>            <div class="user_list_flag"><div class="flag pl"></div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td width="100%" valign="top" style="padding-bottom: 10px">
                                                                                            <a href="profile.php?id=15752969"><span class="nicktext"><b>ElKowcykowski</b></span></a><br/>
                                                                                            Robber - 12<br/>
                                                                                            Respect: 7199180<br/>
                                                                                            Kills: 21
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%" valign="top" align="center">
                                                            <div class="pagination-container">
                                                                <span class="pagination pagination-active">1</span>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=20')" class="pagination">2</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=40')" class="pagination">3</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=60')" class="pagination">4</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=80')" class="pagination">5</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=100')" class="pagination">6</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=120')" class="pagination">7</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=140')" class="pagination">8</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=160')" class="pagination">9</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=180')" class="pagination">10</a>
                                                                <a href="#" onclick="ccebcacdda('stats.php?country=&profession=&level=0&offset=20')" class="pagination pagination-next">Next »</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="footer_middle">
                                            <ul class="flags">
                                                <li><a href="/?action=setlang&iso=GB&return=stats.php" title="English" class="flag usgb"></a></li>
                                                <li><a href="/?action=setlang&iso=SE&return=stats.php" title="Svenska" class="flag se"></a></li>
                                                <li><a href="/?action=setlang&iso=PL&return=stats.php" title="Polska" class="flag pl"></a></li>
                                                <li><a href="/?action=setlang&iso=ES&return=stats.php" title="Spanish" class="flag es"></a></li>
                                                <li><a href="/?action=setlang&iso=PT&return=stats.php" title="Portuguese" class="flag pt"></a></li>
                                                <li><a href="/?action=setlang&iso=SI&return=stats.php" title="Slovenian" class="flag si"></a></li>
                                                <li><a href="/?action=setlang&iso=CZ&return=stats.php" title="Czech" class="flag cz"></a></li>
                                                <li><a href="/?action=setlang&iso=DE&return=stats.php" title="Deutsch" class="flag de"></a></li>
                                                <li><a href="/?action=setlang&iso=RO&return=stats.php" title="Romanian" class="flag ro"></a></li>
                                                <li><a href="/?action=setlang&iso=LT&return=stats.php" title="Lithuanian" class="flag lt"></a></li>
                                                <li><a href="/?action=setlang&iso=EL&return=stats.php" title="Greek" class="flag gr"></a></li>
                                                <li><a href="/?action=setlang&iso=NO&return=stats.php" title="Norsk" class="flag no"></a></li>
                                                <li><a href="/?action=setlang&iso=AR&return=stats.php" title="Arabic" class="flag eg"></a></li>
                                                <li><a href="/?action=setlang&iso=IT&return=stats.php" title="Italian" class="flag it"></a></li>
                                                <li><a href="/?action=setlang&iso=BR&return=stats.php" title="Brazilian" class="flag br"></a></li>
                                                <li><a href="/?action=setlang&iso=TR&return=stats.php" title="Turkish" class="flag tr"></a></li>
                                                <li><a href="/?action=setlang&iso=ID&return=stats.php" title="Indonesian" class="flag id"></a></li>
                                                <li><a href="/?action=setlang&iso=AL&return=stats.php" title="Albanian" class="flag al"></a></li>
                                                <li><a href="/?action=setlang&iso=LV&return=stats.php" title="Latvian" class="flag lv"></a></li>
                                                <li><a href="/?action=setlang&iso=AT&return=stats.php" title="Austrian" class="flag at"></a></li>
                                                <li><a href="/?action=setlang&iso=SK&return=stats.php" title="Slovak" class="flag sk"></a></li>
                                                <li><a href="/?action=setlang&iso=FR&return=stats.php" title="French" class="flag fr"></a></li>
                                                <li><a href="/?action=setlang&iso=FI&return=stats.php" title="Finnish" class="flag fi"></a></li>
                                                <li><a href="/?action=setlang&iso=CS&return=stats.php" title="Serbian" class="flag cs"></a></li>
                                                <li><a href="/?action=setlang&iso=CN&return=stats.php" title="Chinese" class="flag cn"></a></li>
                                                <li><a href="/?action=setlang&iso=CNT&return=stats.php" title="Chinese Traditional" class="flag cnt"></a></li>
                                                <li><a href="/?action=setlang&iso=MS&return=stats.php" title="Malay" class="flag my"></a></li>
                                                <li><a href="/?action=setlang&iso=BG&return=stats.php" title="Bulgarian" class="flag bg"></a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td valign="top" align="center" style="padding-top: 0px; padding-left:10px;"></td>
            </tr>
        </tbody>
    </table>
</div>