<div id="page">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
	<td valign="top">
		<div id="content">
			<div id="header">
						</div>
			<table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
			 <tbody><tr>
				<td width="100%" valign="top">
										<div class="content_style main-content main-wide" style="max-width: 787px">
							<div id="modal-dialog"></div>
<h1>Top killers</h1>
	<a href="stats.php?page=topkillers&amp;country=" onclick="" class="btn btn-small btn-inverse"><img border="0" class="btn-image" src="/static/images/icons/earth.gif">International top list</a>
	<br>
<form action="stats.php" method="post" name="countryform">
<input type="hidden" name="page" value="topkillers">
<select name="country" id="select" onchange="javascript: document.countryform.submit()">
	<option value="" selected="">International top list</option>
		<option value="BR">Brazil</option>
	<option value="">-------------------------</option>
			<option value="AF">Afghanistan</option>
				<option value="AL">Albania</option>
				<option value="DZ">Algeria</option>
				<option value="AS">American Samoa</option>
				<option value="AD">Andorra</option>
				<option value="AO">Angola</option>
				<option value="AI">Anguilla</option>
				<option value="AQ">Antarctica</option>
				<option value="AG">Antigua and Barbuda</option>
				<option value="AR">Argentina</option>
				<option value="AM">Armenia</option>
				<option value="AW">Aruba</option>
				<option value="AC">Ascension Island</option>
				<option value="AU">Australia</option>
				<option value="AT">Austria</option>
				<option value="AZ">Azerbaijan</option>
				<option value="BS">Bahamas</option>
				<option value="BH">Bahrain</option>
				<option value="BD">Bangladesh</option>
				<option value="BB">Barbados</option>
				<option value="BY">Belarus</option>
				<option value="BE">Belgium</option>
				<option value="BZ">Belize</option>
				<option value="BJ">Benin</option>
				<option value="BM">Bermuda</option>
				<option value="BT">Bhutan</option>
				<option value="BO">Bolivia</option>
				<option value="BA">Bosnia and Herzegovina</option>
				<option value="BW">Botswana</option>
				<option value="BV">Bouvet Island</option>
				<option value="BR">Brazil</option>
				<option value="IO">British Indian Ocean Territory</option>
				<option value="VG">British Virgin Islands</option>
				<option value="BN">Brunei</option>
				<option value="BG">Bulgaria</option>
				<option value="BF">Burkina Faso</option>
				<option value="BI">Burundi</option>
				<option value="KH">Cambodia</option>
				<option value="CM">Cameroon</option>
				<option value="CA">Canada</option>
				<option value="IC">Canary Islands</option>
				<option value="CV">Cape Verde</option>
				<option value="BQ">Caribbean Netherlands</option>
				<option value="KY">Cayman Islands</option>
				<option value="CF">Central African Republic</option>
				<option value="EA">Ceuta and Melilla</option>
				<option value="TD">Chad</option>
				<option value="CL">Chile</option>
				<option value="CN">China</option>
				<option value="CX">Christmas Island</option>
				<option value="CP">Clipperton Island</option>
				<option value="CC">Cocos (Keeling) Islands</option>
				<option value="CO">Colombia</option>
				<option value="KM">Comoros</option>
				<option value="CG">Congo - Brazzaville</option>
				<option value="CD">Congo - Kinshasa</option>
				<option value="CK">Cook Islands</option>
				<option value="CR">Costa Rica</option>
				<option value="HR">Croatia</option>
				<option value="CU">Cuba</option>
				<option value="CW">Curaçao</option>
				<option value="CY">Cyprus</option>
				<option value="CZ">Czech Republic</option>
				<option value="CI">Côte d’Ivoire</option>
				<option value="DK">Denmark</option>
				<option value="DG">Diego Garcia</option>
				<option value="DJ">Djibouti</option>
				<option value="DM">Dominica</option>
				<option value="DO">Dominican Republic</option>
				<option value="EC">Ecuador</option>
				<option value="EG">Egypt</option>
				<option value="SV">El Salvador</option>
				<option value="GQ">Equatorial Guinea</option>
				<option value="ER">Eritrea</option>
				<option value="EE">Estonia</option>
				<option value="ET">Ethiopia</option>
				<option value="FK">Falkland Islands</option>
				<option value="FO">Faroe Islands</option>
				<option value="FJ">Fiji</option>
				<option value="FI">Finland</option>
				<option value="FR">France</option>
				<option value="GF">French Guiana</option>
				<option value="PF">French Polynesia</option>
				<option value="TF">French Southern Territories</option>
				<option value="GA">Gabon</option>
				<option value="GM">Gambia</option>
				<option value="GE">Georgia</option>
				<option value="DE">Germany</option>
				<option value="GH">Ghana</option>
				<option value="GI">Gibraltar</option>
				<option value="GR">Greece</option>
				<option value="GL">Greenland</option>
				<option value="GD">Grenada</option>
				<option value="GP">Guadeloupe</option>
				<option value="GU">Guam</option>
				<option value="GT">Guatemala</option>
				<option value="GG">Guernsey</option>
				<option value="GN">Guinea</option>
				<option value="GW">Guinea-Bissau</option>
				<option value="GY">Guyana</option>
				<option value="HT">Haiti</option>
				<option value="HM">Heard Island and McDonald Islands</option>
				<option value="HN">Honduras</option>
				<option value="HK">Hong Kong SAR China</option>
				<option value="HU">Hungary</option>
				<option value="IS">Iceland</option>
				<option value="IN">India</option>
				<option value="ID">Indonesia</option>
				<option value="IR">Iran</option>
				<option value="IQ">Iraq</option>
				<option value="IE">Ireland</option>
				<option value="IM">Isle of Man</option>
				<option value="IL">Israel</option>
				<option value="IT">Italy</option>
				<option value="JM">Jamaica</option>
				<option value="JP">Japan</option>
				<option value="JE">Jersey</option>
				<option value="JO">Jordan</option>
				<option value="KZ">Kazakhstan</option>
				<option value="KE">Kenya</option>
				<option value="KI">Kiribati</option>
				<option value="RV">Kosovo</option>
				<option value="KW">Kuwait</option>
				<option value="KG">Kyrgyzstan</option>
				<option value="LA">Laos</option>
				<option value="LV">Latvia</option>
				<option value="LB">Lebanon</option>
				<option value="LS">Lesotho</option>
				<option value="LR">Liberia</option>
				<option value="LY">Libya</option>
				<option value="LI">Liechtenstein</option>
				<option value="LT">Lithuania</option>
				<option value="LU">Luxembourg</option>
				<option value="MO">Macau SAR China</option>
				<option value="MK">Macedonia</option>
				<option value="MG">Madagascar</option>
				<option value="MW">Malawi</option>
				<option value="MY">Malaysia</option>
				<option value="MV">Maldives</option>
				<option value="ML">Mali</option>
				<option value="MT">Malta</option>
				<option value="MH">Marshall Islands</option>
				<option value="MQ">Martinique</option>
				<option value="MR">Mauritania</option>
				<option value="MU">Mauritius</option>
				<option value="YT">Mayotte</option>
				<option value="MX">Mexico</option>
				<option value="FM">Micronesia</option>
				<option value="MD">Moldova</option>
				<option value="MC">Monaco</option>
				<option value="MN">Mongolia</option>
				<option value="ME">Montenegro</option>
				<option value="MS">Montserrat</option>
				<option value="MA">Morocco</option>
				<option value="MZ">Mozambique</option>
				<option value="MM">Myanmar (Burma)</option>
				<option value="NA">Namibia</option>
				<option value="NR">Nauru</option>
				<option value="NP">Nepal</option>
				<option value="NL">Netherlands</option>
				<option value="AN">Netherlands Antilles</option>
				<option value="NC">New Caledonia</option>
				<option value="NZ">New Zealand</option>
				<option value="NI">Nicaragua</option>
				<option value="NE">Niger</option>
				<option value="NG">Nigeria</option>
				<option value="NU">Niue</option>
				<option value="NF">Norfolk Island</option>
				<option value="KP">North Korea</option>
				<option value="MP">Northern Mariana Islands</option>
				<option value="NO">Norway</option>
				<option value="OM">Oman</option>
				<option value="PK">Pakistan</option>
				<option value="PW">Palau</option>
				<option value="PS">Palestinian Territories</option>
				<option value="PA">Panama</option>
				<option value="PG">Papua New Guinea</option>
				<option value="PY">Paraguay</option>
				<option value="PE">Peru</option>
				<option value="PH">Philippines</option>
				<option value="PN">Pitcairn Islands</option>
				<option value="PL">Poland</option>
				<option value="PT">Portugal</option>
				<option value="PR">Puerto Rico</option>
				<option value="QA">Qatar</option>
				<option value="RO">Romania</option>
				<option value="RU">Russia</option>
				<option value="RW">Rwanda</option>
				<option value="RE">Réunion</option>
				<option value="BL">Saint Barthélemy</option>
				<option value="SH">Saint Helena</option>
				<option value="KN">Saint Kitts and Nevis</option>
				<option value="LC">Saint Lucia</option>
				<option value="MF">Saint Martin</option>
				<option value="PM">Saint Pierre and Miquelon</option>
				<option value="VC">Saint Vincent and the Grenadines</option>
				<option value="WS">Samoa</option>
				<option value="SM">San Marino</option>
				<option value="SA">Saudi Arabia</option>
				<option value="SN">Senegal</option>
				<option value="RS">Serbia</option>
				<option value="SC">Seychelles</option>
				<option value="SL">Sierra Leone</option>
				<option value="SG">Singapore</option>
				<option value="SX">Sint Maarten</option>
				<option value="SK">Slovakia</option>
				<option value="SI">Slovenia</option>
				<option value="SB">Solomon Islands</option>
				<option value="SO">Somalia</option>
				<option value="ZA">South Africa</option>
				<option value="GS">South Georgia and the South Sandwich Islands</option>
				<option value="KR">South Korea</option>
				<option value="SS">South Sudan</option>
				<option value="ES">Spain</option>
				<option value="LK">Sri Lanka</option>
				<option value="SD">Sudan</option>
				<option value="SR">Suriname</option>
				<option value="SJ">Svalbard and Jan Mayen</option>
				<option value="SZ">Swaziland</option>
				<option value="SE">Sweden</option>
				<option value="CH">Switzerland</option>
				<option value="SY">Syria</option>
				<option value="ST">São Tomé and Príncipe</option>
				<option value="TW">Taiwan</option>
				<option value="TJ">Tajikistan</option>
				<option value="TZ">Tanzania</option>
				<option value="TH">Thailand</option>
				<option value="TL">Timor-Leste</option>
				<option value="TG">Togo</option>
				<option value="TK">Tokelau</option>
				<option value="TO">Tonga</option>
				<option value="TT">Trinidad and Tobago</option>
				<option value="TA">Tristan da Cunha</option>
				<option value="TN">Tunisia</option>
				<option value="TR">Turkey</option>
				<option value="TM">Turkmenistan</option>
				<option value="TC">Turks and Caicos Islands</option>
				<option value="TV">Tuvalu</option>
				<option value="UM">U.S. Minor Outlying Islands</option>
				<option value="VI">U.S. Virgin Islands</option>
				<option value="UG">Uganda</option>
				<option value="UA">Ukraine</option>
				<option value="AE">United Arab Emirates</option>
				<option value="GB">United Kingdom</option>
				<option value="US">United States</option>
				<option value="ZZ">Unknown Region</option>
				<option value="UY">Uruguay</option>
				<option value="UZ">Uzbekistan</option>
				<option value="VU">Vanuatu</option>
				<option value="VA">Vatican City</option>
				<option value="VE">Venezuela</option>
				<option value="VN">Vietnam</option>
				<option value="WF">Wallis and Futuna</option>
				<option value="EH">Western Sahara</option>
				<option value="YE">Yemen</option>
				<option value="ZM">Zambia</option>
				<option value="ZW">Zimbabwe</option>
				<option value="AX">Åland Islands</option>
		</select><br>
<select name="profession" onchange="javascript: document.countryform.submit()">
    <option value="">Profession</option>
        <option value="gangster">Gangster</option>
        <option value="biz">Businessman</option>
        <option value="hitman">Hitman</option>
        <option value="pimp">Pimp</option>
        <option value="robber">Robber</option>
    </select>
<select name="level" onchange="javascript: document.countryform.submit()">
    <option value="0">Level</option>
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option>
        <option value="6">Level 6</option>
        <option value="7">Level 7</option>
        <option value="8">Level 8</option>
        <option value="9">Level 9</option>
        <option value="10">Level 10</option>
        <option value="11">Level 11</option>
        <option value="12">Level 12</option>
    </select>
</form>
	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed" style="margin-top: 10px">
		<tbody><tr class="black_table_top">
			<td valign="top" colspan="2" width="50%">Username</td>
			<td valign="top" align="center" width="5%">&nbsp;</td>
			<td valign="top" align="center" width="15%">Kills</td>
			<td valign="top" align="center" width="30%">Respect</td>
		</tr>
			<tr>
			<td style="padding-right: 5px; font-size: 20px;" width="1">1.</td>
			<td width="50%">
			<a href="profile.php?id=17124434"><span class="nicktext" style="font-size: 20px;"><b>aficzinatzen</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">2587</td>
			<td valign="middle" align="center">17467400</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 17px;" width="1">2.</td>
			<td width="50%">
			<a href="profile.php?id=15493217"><span class="nicktext" style="font-size: 17px;"><b>*cueca</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">2033</td>
			<td valign="middle" align="center">5706290</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 14px;" width="1">3.</td>
			<td width="50%">
			<a href="profile.php?id=17143757"><span class="nicktext" style="font-size: 14px;"><b>EXPERIENTE</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">1861</td>
			<td valign="middle" align="center">4555610</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">4.</td>
			<td width="50%">
			<a href="profile.php?id=17128285"><span class="nicktext" style="font-size: 10px;"><b>*jpzSayHello</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">1754</td>
			<td valign="middle" align="center">4095760</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">5.</td>
			<td width="50%">
			<a href="profile.php?id=15305883"><span class="nicktext" style="font-size: 10px;"><b>FreeMen</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag ch"></div>			</td>
			<td valign="middle" align="center">1436</td>
			<td valign="middle" align="center">2150560</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">6.</td>
			<td width="50%">
			<a href="profile.php?id=16181025"><span class="nicktext" style="font-size: 10px;"><b>sorin</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag ro"></div>			</td>
			<td valign="middle" align="center">1341</td>
			<td valign="middle" align="center">430526</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">7.</td>
			<td width="50%">
			<a href="profile.php?id=14403363"><span class="nicktext" style="font-size: 10px;"><b>BuH</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pt"></div>			</td>
			<td valign="middle" align="center">1103</td>
			<td valign="middle" align="center">2150490</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">8.</td>
			<td width="50%">
			<a href="profile.php?id=13742566"><span class="nicktext" style="font-size: 10px;"><b>TBH</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag se"></div>			</td>
			<td valign="middle" align="center">1079</td>
			<td valign="middle" align="center">251964</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">9.</td>
			<td width="50%">
			<a href="profile.php?id=17151103"><span class="nicktext" style="font-size: 10px;"><b>Madzia</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">964</td>
			<td valign="middle" align="center">5104940</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">10.</td>
			<td width="50%">
			<a href="profile.php?id=17112815"><span class="nicktext" style="font-size: 10px;"><b>scankk</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag gb"></div>			</td>
			<td valign="middle" align="center">793</td>
			<td valign="middle" align="center">413820</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">11.</td>
			<td width="50%">
			<a href="profile.php?id=15076943"><span class="nicktext" style="font-size: 10px;"><b>dig</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">712</td>
			<td valign="middle" align="center">1747500</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">12.</td>
			<td width="50%">
			<a href="profile.php?id=16558952"><span class="nicktext" style="font-size: 10px;"><b>soriin</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">686</td>
			<td valign="middle" align="center">9122600</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">13.</td>
			<td width="50%">
			<a href="profile.php?id=17134819"><span class="nicktext" style="font-size: 10px;"><b>S3X</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pt"></div>			</td>
			<td valign="middle" align="center">685</td>
			<td valign="middle" align="center">3776150</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">14.</td>
			<td width="50%">
			<a href="profile.php?id=9519972"><span class="nicktext" style="font-size: 10px;"><b>Loures</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">637</td>
			<td valign="middle" align="center">113126</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">15.</td>
			<td width="50%">
			<a href="profile.php?id=16149086"><span class="nicktext" style="font-size: 10px;"><b>koowal</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">604</td>
			<td valign="middle" align="center">1766050</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">16.</td>
			<td width="50%">
			<a href="profile.php?id=16449197"><span class="nicktext" style="font-size: 10px;"><b>*free91I</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag eg"></div>			</td>
			<td valign="middle" align="center">583</td>
			<td valign="middle" align="center">8047990</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">17.</td>
			<td width="50%">
			<a href="profile.php?id=17151093"><span class="nicktext" style="font-size: 10px;"><b>rock0N</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag ro"></div>			</td>
			<td valign="middle" align="center">562</td>
			<td valign="middle" align="center">5843820</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">18.</td>
			<td width="50%">
			<a href="profile.php?id=6494237"><span class="nicktext" style="font-size: 10px;"><b>CARUK</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">538</td>
			<td valign="middle" align="center">89781</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">19.</td>
			<td width="50%">
			<a href="profile.php?id=3097005"><span class="nicktext" style="font-size: 10px;"><b>StrykerPinho</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pt"></div>			</td>
			<td valign="middle" align="center">536</td>
			<td valign="middle" align="center">1904600</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">20.</td>
			<td width="50%">
			<a href="profile.php?id=17014370"><span class="nicktext" style="font-size: 10px;"><b>uLTIMATE</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">508</td>
			<td valign="middle" align="center">1102940</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">21.</td>
			<td width="50%">
			<a href="profile.php?id=16373688"><span class="nicktext" style="font-size: 10px;"><b>GooDMooD</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pt"></div>			</td>
			<td valign="middle" align="center">500</td>
			<td valign="middle" align="center">3972040</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">22.</td>
			<td width="50%">
			<a href="profile.php?id=17055743"><span class="nicktext" style="font-size: 10px;"><b>BrAlianceGSE</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">498</td>
			<td valign="middle" align="center">4270590</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">23.</td>
			<td width="50%">
			<a href="profile.php?id=12630353"><span class="nicktext" style="font-size: 10px;"><b>xJIMMY</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">497</td>
			<td valign="middle" align="center">914739</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">24.</td>
			<td width="50%">
			<a href="profile.php?id=10004441"><span class="nicktext" style="font-size: 10px;"><b>*ixi</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">469</td>
			<td valign="middle" align="center">298545</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">25.</td>
			<td width="50%">
			<a href="profile.php?id=16200826"><span class="nicktext" style="font-size: 10px;"><b>S1lentDeath</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag ro"></div>			</td>
			<td valign="middle" align="center">460</td>
			<td valign="middle" align="center">363862</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">26.</td>
			<td width="50%">
			<a href="profile.php?id=16998995"><span class="nicktext" style="font-size: 10px;"><b>S0SN4</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">429</td>
			<td valign="middle" align="center">510633</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">27.</td>
			<td width="50%">
			<a href="profile.php?id=15771533"><span class="nicktext" style="font-size: 10px;"><b>Secik</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">426</td>
			<td valign="middle" align="center">1729960</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">28.</td>
			<td width="50%">
			<a href="profile.php?id=16997648"><span class="nicktext" style="font-size: 10px;"><b>Puro0sso</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">411</td>
			<td valign="middle" align="center">1026340</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">29.</td>
			<td width="50%">
			<a href="profile.php?id=17149696"><span class="nicktext" style="font-size: 10px;"><b>AssE</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag cz"></div>			</td>
			<td valign="middle" align="center">405</td>
			<td valign="middle" align="center">671496</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">30.</td>
			<td width="50%">
			<a href="profile.php?id=17009878"><span class="nicktext" style="font-size: 10px;"><b>*WHOCARES</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pt"></div>			</td>
			<td valign="middle" align="center">374</td>
			<td valign="middle" align="center">81954</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">31.</td>
			<td width="50%">
			<a href="profile.php?id=16384916"><span class="nicktext" style="font-size: 10px;"><b>AmyWinehouse</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">359</td>
			<td valign="middle" align="center">537728</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">32.</td>
			<td width="50%">
			<a href="profile.php?id=16370416"><span class="nicktext" style="font-size: 10px;"><b>civcivreiz</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag tr"></div>			</td>
			<td valign="middle" align="center">358</td>
			<td valign="middle" align="center">1399760</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">33.</td>
			<td width="50%">
			<a href="profile.php?id=17113118"><span class="nicktext" style="font-size: 10px;"><b>0o0</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">357</td>
			<td valign="middle" align="center">851162</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">34.</td>
			<td width="50%">
			<a href="profile.php?id=17151200"><span class="nicktext" style="font-size: 10px;"><b>*robert12</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag gb"></div>			</td>
			<td valign="middle" align="center">353</td>
			<td valign="middle" align="center">478902</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">35.</td>
			<td width="50%">
			<a href="profile.php?id=10104931"><span class="nicktext" style="font-size: 10px;"><b>ALBANIA</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag al"></div>			</td>
			<td valign="middle" align="center">351</td>
			<td valign="middle" align="center">1040740</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">36.</td>
			<td width="50%">
			<a href="profile.php?id=17139432"><span class="nicktext" style="font-size: 10px;"><b>Th3CrimsLT</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag lt"></div>			</td>
			<td valign="middle" align="center">324</td>
			<td valign="middle" align="center">1667480</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">37.</td>
			<td width="50%">
			<a href="profile.php?id=4495210"><span class="nicktext" style="font-size: 10px;"><b>lji</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">322</td>
			<td valign="middle" align="center">774427</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">38.</td>
			<td width="50%">
			<a href="profile.php?id=17121616"><span class="nicktext" style="font-size: 10px;"><b>*iir</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag eg"></div>			</td>
			<td valign="middle" align="center">305</td>
			<td valign="middle" align="center">511482</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">39.</td>
			<td width="50%">
			<a href="profile.php?id=16476198"><span class="nicktext" style="font-size: 10px;"><b>xFlacK</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">304</td>
			<td valign="middle" align="center">715341</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">40.</td>
			<td width="50%">
			<a href="profile.php?id=17141624"><span class="nicktext" style="font-size: 10px;"><b>PENTAG0N</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag ro"></div>			</td>
			<td valign="middle" align="center">302</td>
			<td valign="middle" align="center">69137</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">41.</td>
			<td width="50%">
			<a href="profile.php?id=16351282"><span class="nicktext" style="font-size: 10px;"><b>nRS</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">299</td>
			<td valign="middle" align="center">585394</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">42.</td>
			<td width="50%">
			<a href="profile.php?id=17151045"><span class="nicktext" style="font-size: 10px;"><b>lucasrocha13</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag br"></div>			</td>
			<td valign="middle" align="center">297</td>
			<td valign="middle" align="center">29252</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">43.</td>
			<td width="50%">
			<a href="profile.php?id=16226695"><span class="nicktext" style="font-size: 10px;"><b>Seba</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">290</td>
			<td valign="middle" align="center">1461290</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">44.</td>
			<td width="50%">
			<a href="profile.php?id=16223603"><span class="nicktext" style="font-size: 10px;"><b>ImAlbatraoz</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">271</td>
			<td valign="middle" align="center">182672</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">45.</td>
			<td width="50%">
			<a href="profile.php?id=17035960"><span class="nicktext" style="font-size: 10px;"><b>*FCK</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag eg"></div>			</td>
			<td valign="middle" align="center">265</td>
			<td valign="middle" align="center">320383</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">46.</td>
			<td width="50%">
			<a href="profile.php?id=17129017"><span class="nicktext" style="font-size: 10px;"><b>ser</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag tr"></div>			</td>
			<td valign="middle" align="center">258</td>
			<td valign="middle" align="center">64989</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">47.</td>
			<td width="50%">
			<a href="profile.php?id=16131400"><span class="nicktext" style="font-size: 10px;"><b>Daliokas</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag no"></div>			</td>
			<td valign="middle" align="center">255</td>
			<td valign="middle" align="center">338310</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">48.</td>
			<td width="50%">
			<a href="profile.php?id=17132498"><span class="nicktext" style="font-size: 10px;"><b>PlayStation</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag gb"></div>			</td>
			<td valign="middle" align="center">251</td>
			<td valign="middle" align="center">916396</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">49.</td>
			<td width="50%">
			<a href="profile.php?id=17151233"><span class="nicktext" style="font-size: 10px;"><b>MCK</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pl"></div>			</td>
			<td valign="middle" align="center">250</td>
			<td valign="middle" align="center">5305440</td>
		</tr>
				<tr>
			<td style="padding-right: 5px; font-size: 10px;" width="1">50.</td>
			<td width="50%">
			<a href="profile.php?id=16482288"><span class="nicktext" style="font-size: 10px;"><b>li1L</b></span></a>
			</td>
			<td valign="middle" align="center">
			<div class="flag pt"></div>			</td>
			<td valign="middle" align="center">238</td>
			<td valign="middle" align="center">177744</td>
		</tr>
			</tbody></table>
						</div>
						<div id="footer_middle">
														<ul class="flags">
														 <li><a href="/?action=setlang&amp;iso=GB&amp;return=stats.php" title="English" class="flag usgb"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SE&amp;return=stats.php" title="Svenska" class="flag se"></a></li>
														 <li><a href="/?action=setlang&amp;iso=PL&amp;return=stats.php" title="Polska" class="flag pl"></a></li>
														 <li><a href="/?action=setlang&amp;iso=ES&amp;return=stats.php" title="Spanish" class="flag es"></a></li>
														 <li><a href="/?action=setlang&amp;iso=PT&amp;return=stats.php" title="Portuguese" class="flag pt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SI&amp;return=stats.php" title="Slovenian" class="flag si"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CZ&amp;return=stats.php" title="Czech" class="flag cz"></a></li>
														 <li><a href="/?action=setlang&amp;iso=DE&amp;return=stats.php" title="Deutsch" class="flag de"></a></li>
														 <li><a href="/?action=setlang&amp;iso=RO&amp;return=stats.php" title="Romanian" class="flag ro"></a></li>
														 <li><a href="/?action=setlang&amp;iso=LT&amp;return=stats.php" title="Lithuanian" class="flag lt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=EL&amp;return=stats.php" title="Greek" class="flag gr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=NO&amp;return=stats.php" title="Norsk" class="flag no"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AR&amp;return=stats.php" title="Arabic" class="flag eg"></a></li>
														 <li><a href="/?action=setlang&amp;iso=IT&amp;return=stats.php" title="Italian" class="flag it"></a></li>
														 <li><a href="/?action=setlang&amp;iso=BR&amp;return=stats.php" title="Brazilian" class="flag br"></a></li>
														 <li><a href="/?action=setlang&amp;iso=TR&amp;return=stats.php" title="Turkish" class="flag tr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=ID&amp;return=stats.php" title="Indonesian" class="flag id"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AL&amp;return=stats.php" title="Albanian" class="flag al"></a></li>
														 <li><a href="/?action=setlang&amp;iso=LV&amp;return=stats.php" title="Latvian" class="flag lv"></a></li>
														 <li><a href="/?action=setlang&amp;iso=AT&amp;return=stats.php" title="Austrian" class="flag at"></a></li>
														 <li><a href="/?action=setlang&amp;iso=SK&amp;return=stats.php" title="Slovak" class="flag sk"></a></li>
														 <li><a href="/?action=setlang&amp;iso=FR&amp;return=stats.php" title="French" class="flag fr"></a></li>
														 <li><a href="/?action=setlang&amp;iso=FI&amp;return=stats.php" title="Finnish" class="flag fi"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CS&amp;return=stats.php" title="Serbian" class="flag cs"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CN&amp;return=stats.php" title="Chinese" class="flag cn"></a></li>
														 <li><a href="/?action=setlang&amp;iso=CNT&amp;return=stats.php" title="Chinese Traditional" class="flag cnt"></a></li>
														 <li><a href="/?action=setlang&amp;iso=MS&amp;return=stats.php" title="Malay" class="flag my"></a></li>
														 <li><a href="/?action=setlang&amp;iso=BG&amp;return=stats.php" title="Bulgarian" class="flag bg"></a></li>
														</ul>
						</div>
					
									</td>
			 </tr>
			</tbody></table>
		</div>
	</td>
 	<td valign="top" align="center" style="padding-top: 0px; padding-left:10px;">
			</td>
 </tr>
 </tbody></table>
</div>