<div id="page">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top">
                    <div id="content">
                        <div id="header"></div>
                        <table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
                            <tbody>
                                <tr>
                                    <td width="100%" valign="top">
                                        <div class="content_style main-content main-wide" style="max-width: 787px">
                                            <div id="modal-dialog"></div>
                                            <h1>Register</h1>
                                            If you have played the last round, then your account still exists.
                                            <br/><br/>
                                            <script>
                                                $(document).ready(function () {
                                                    $('input[name=username]').focus();

                                                    $('#register-show-more-avatars').click(function () {
                                                        $('#register-avatars').css('height', 'auto');
                                                        $('#register-avatars').slideToggle(200);
                                                        $('#register-show-more-avatars').hide();
                                                    });

                                                    $('#register-form-button').click(function () {
                                                        $('#register-form').submit();
                                                    });
                                                });

                                                function checkEmail(str) {
                                                    var at = "@";
                                                    var dot = ".";
                                                    var lat = str.indexOf(at);
                                                    var lstr = str.length;
                                                    var ldot = str.indexOf(dot);
                                                    if (str.indexOf(at) === -1) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    if (str.indexOf(at) === -1 || str.indexOf(at) === 0 || str.indexOf(at) === lstr) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    if (str.indexOf(dot) === -1 || str.indexOf(dot) === 0 || str.indexOf(dot) === lstr) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    if (str.indexOf(at, (lat + 1)) !== -1) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    if (str.substring(lat - 1, lat) === dot || str.substring(lat + 1, lat + 2) === dot) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    if (str.indexOf(dot, (lat + 2)) === -1) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    if (str.indexOf(" ") !== -1) {
                                                        alert("You must enter a valid e-mailaddress");
                                                        return false;
                                                    }
                                                    return true;
                                                }

                                                function checkForm() {
                                                    var usernameForm = document.register.username;
                                                    var emailForm = document.register.email;
                                                    var agreementForm = document.register.agreement;

                                                    if (usernameForm.value === "" || usernameForm.value.length < 3 || usernameForm.value.length > 16) {
                                                        alert("You must enter a username with 3-16 characters");
                                                        usernameForm.focus();
                                                        return false;
                                                    }
                                                    if (checkEmail(emailForm.value) === false) {
                                                        emailForm.focus();
                                                        return false;
                                                    }
                                                    if (emailForm.value === "") {
                                                        alert("You must enter your e-mail");
                                                        emailForm.focus();
                                                        return false;
                                                    }
                                                    if (agreementForm.checked !== true) {
                                                        alert("You must accept the agreement to continue");
                                                        return false;
                                                    }

                                                    return true;
                                                }
                                            </script>

                                            <script language="JavaScript">urchinTracker("/funnel_G1/register1.html");</script>
                                            <form name="register" method="post" id="register-form" action="register.php" onsubmit="return checkForm();">
                                                <input type="hidden" name="action" value="register">
                                                <input type="hidden" name="avatar" value="" id="avatar">
                                                <table border="0" cellpadding="0" cellspacing="10">
                                                    <tbody>
                                                        <tr>
                                                            <td width="30%" align="left"><b>Username (3-16 characters)</b></td>
                                                            <td align="left"><input name="username" type="text" size="20" maxlength="16" class="register-input" value=""></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"><b>E-mail (must be valid)</b></td>
                                                            <td align="left"><input name="email" type="text" size="20" maxlength="40" class="register-input" value=""></td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" align="left"><b>Choose your avatar</b></td>
                                                            <td align="left">
                                                                <img id="67" class="select_avatar" src="/static/images/avatars/avatar_67.jpg" onclick="avatarBorder(67, 'click')">
                                                                <img id="66" class="select_avatar" src="/static/images/avatars/avatar_66.jpg" onclick="avatarBorder(66, 'click')">
                                                                <img id="65" class="select_avatar" src="/static/images/avatars/avatar_65.jpg" onclick="avatarBorder(65, 'click')">
                                                                <img id="64" class="select_avatar" src="/static/images/avatars/avatar_64.jpg" onclick="avatarBorder(64, 'click')">
                                                                <img id="63" class="select_avatar" src="/static/images/avatars/avatar_63.jpg" onclick="avatarBorder(63, 'click')">
                                                                <img id="62" class="select_avatar" src="/static/images/avatars/avatar_62.jpg" onclick="avatarBorder(62, 'click')">
                                                                <img id="61" class="select_avatar" src="/static/images/avatars/avatar_61.jpg" onclick="avatarBorder(61, 'click')">
                                                                <img id="60" class="select_avatar" src="/static/images/avatars/avatar_60.jpg" onclick="avatarBorder(60, 'click')">
                                                                <img id="59" class="select_avatar" src="/static/images/avatars/avatar_59.jpg" onclick="avatarBorder(59, 'click')">
                                                                <img id="58" class="select_avatar" src="/static/images/avatars/avatar_58.jpg" onclick="avatarBorder(58, 'click')">
                                                                <img id="57" class="select_avatar" src="/static/images/avatars/avatar_57.jpg" onclick="avatarBorder(57, 'click')">
                                                                <img id="56" class="select_avatar" src="/static/images/avatars/avatar_56.jpg" onclick="avatarBorder(56, 'click')">
                                                                <img id="55" class="select_avatar" src="/static/images/avatars/avatar_55.jpg" onclick="avatarBorder(55, 'click')">
                                                                <img id="54" class="select_avatar" src="/static/images/avatars/avatar_54.jpg" onclick="avatarBorder(54, 'click')">
                                                                <img id="53" class="select_avatar" src="/static/images/avatars/avatar_53.jpg" onclick="avatarBorder(53, 'click')">
                                                                <img id="52" class="select_avatar" src="/static/images/avatars/avatar_52.jpg" onclick="avatarBorder(52, 'click')">
                                                                <img id="51" class="select_avatar" src="/static/images/avatars/avatar_51.jpg" onclick="avatarBorder(51, 'click')">
                                                                <img id="50" class="select_avatar" src="/static/images/avatars/avatar_50.jpg" onclick="avatarBorder(50, 'click')">
                                                                <img id="49" class="select_avatar" src="/static/images/avatars/avatar_49.jpg" onclick="avatarBorder(49, 'click')">
                                                                <img id="48" class="select_avatar" src="/static/images/avatars/avatar_48.jpg" onclick="avatarBorder(48, 'click')">
                                                                <img id="47" class="select_avatar" src="/static/images/avatars/avatar_47.jpg" onclick="avatarBorder(47, 'click')">
                                                                <img id="46" class="select_avatar" src="/static/images/avatars/avatar_46.jpg" onclick="avatarBorder(46, 'click')">
                                                                <img id="45" class="select_avatar" src="/static/images/avatars/avatar_45.jpg" onclick="avatarBorder(45, 'click')">
                                                                <img id="44" class="select_avatar" src="/static/images/avatars/avatar_44.jpg" onclick="avatarBorder(44, 'click')">
                                                                <img id="43" class="select_avatar" src="/static/images/avatars/avatar_43.jpg" onclick="avatarBorder(43, 'click')">
                                                                <img id="42" class="select_avatar" src="/static/images/avatars/avatar_42.jpg" onclick="avatarBorder(42, 'click')">
                                                                <img id="41" class="select_avatar" src="/static/images/avatars/avatar_41.jpg" onclick="avatarBorder(41, 'click')">
                                                                <img id="40" class="select_avatar" src="/static/images/avatars/avatar_40.jpg" onclick="avatarBorder(40, 'click')">
                                                                <div id="register-avatars">
                                                                    <img id="39" class="select_avatar" src="/static/images/avatars/avatar_39.jpg" onclick="avatarBorder(39, 'click')">
                                                                    <img id="38" class="select_avatar" src="/static/images/avatars/avatar_38.jpg" onclick="avatarBorder(38, 'click')">
                                                                    <img id="37" class="select_avatar" src="/static/images/avatars/avatar_37.jpg" onclick="avatarBorder(37, 'click')">
                                                                    <img id="36" class="select_avatar" src="/static/images/avatars/avatar_36.jpg" onclick="avatarBorder(36, 'click')">
                                                                    <img id="35" class="select_avatar" src="/static/images/avatars/avatar_35.jpg" onclick="avatarBorder(35, 'click')">
                                                                    <img id="34" class="select_avatar" src="/static/images/avatars/avatar_34.jpg" onclick="avatarBorder(34, 'click')">
                                                                    <img id="33" class="select_avatar" src="/static/images/avatars/avatar_33.jpg" onclick="avatarBorder(33, 'click')">
                                                                    <img id="32" class="select_avatar" src="/static/images/avatars/avatar_32.jpg" onclick="avatarBorder(32, 'click')">
                                                                    <img id="31" class="select_avatar" src="/static/images/avatars/avatar_31.jpg" onclick="avatarBorder(31, 'click')">
                                                                    <img id="30" class="select_avatar" src="/static/images/avatars/avatar_30.jpg" onclick="avatarBorder(30, 'click')">
                                                                    <img id="29" class="select_avatar" src="/static/images/avatars/avatar_29.jpg" onclick="avatarBorder(29, 'click')">
                                                                    <img id="28" class="select_avatar" src="/static/images/avatars/avatar_28.jpg" onclick="avatarBorder(28, 'click')">
                                                                    <img id="27" class="select_avatar" src="/static/images/avatars/avatar_27.jpg" onclick="avatarBorder(27, 'click')">
                                                                    <img id="26" class="select_avatar" src="/static/images/avatars/avatar_26.jpg" onclick="avatarBorder(26, 'click')">
                                                                    <img id="25" class="select_avatar" src="/static/images/avatars/avatar_25.jpg" onclick="avatarBorder(25, 'click')">
                                                                    <img id="24" class="select_avatar" src="/static/images/avatars/avatar_24.jpg" onclick="avatarBorder(24, 'click')">
                                                                    <img id="23" class="select_avatar" src="/static/images/avatars/avatar_23.jpg" onclick="avatarBorder(23, 'click')">
                                                                    <img id="22" class="select_avatar" src="/static/images/avatars/avatar_22.jpg" onclick="avatarBorder(22, 'click')">
                                                                    <img id="21" class="select_avatar" src="/static/images/avatars/avatar_21.jpg" onclick="avatarBorder(21, 'click')">
                                                                    <img id="20" class="select_avatar" src="/static/images/avatars/avatar_20.jpg" onclick="avatarBorder(20, 'click')">
                                                                    <img id="19" class="select_avatar" src="/static/images/avatars/avatar_19.jpg" onclick="avatarBorder(19, 'click')">
                                                                    <img id="18" class="select_avatar" src="/static/images/avatars/avatar_18.jpg" onclick="avatarBorder(18, 'click')">
                                                                    <img id="17" class="select_avatar" src="/static/images/avatars/avatar_17.jpg" onclick="avatarBorder(17, 'click')">
                                                                    <img id="16" class="select_avatar" src="/static/images/avatars/avatar_16.jpg" onclick="avatarBorder(16, 'click')">
                                                                    <img id="15" class="select_avatar" src="/static/images/avatars/avatar_15.jpg" onclick="avatarBorder(15, 'click')">
                                                                    <img id="14" class="select_avatar" src="/static/images/avatars/avatar_14.jpg" onclick="avatarBorder(14, 'click')">
                                                                    <img id="13" class="select_avatar" src="/static/images/avatars/avatar_13.jpg" onclick="avatarBorder(13, 'click')">
                                                                    <img id="12" class="select_avatar" src="/static/images/avatars/avatar_12.jpg" onclick="avatarBorder(12, 'click')">
                                                                    <img id="11" class="select_avatar" src="/static/images/avatars/avatar_11.jpg" onclick="avatarBorder(11, 'click')">
                                                                    <img id="10" class="select_avatar" src="/static/images/avatars/avatar_10.jpg" onclick="avatarBorder(10, 'click')">
                                                                    <img id="9" class="select_avatar" src="/static/images/avatars/avatar_9.jpg" onclick="avatarBorder(9, 'click')">
                                                                    <img id="8" class="select_avatar" src="/static/images/avatars/avatar_8.jpg" onclick="avatarBorder(8, 'click')">
                                                                    <img id="7" class="select_avatar" src="/static/images/avatars/avatar_7.jpg" onclick="avatarBorder(7, 'click')">
                                                                    <img id="6" class="select_avatar" src="/static/images/avatars/avatar_6.jpg" onclick="avatarBorder(6, 'click')">
                                                                    <img id="5" class="select_avatar" src="/static/images/avatars/avatar_5.jpg" onclick="avatarBorder(5, 'click')">
                                                                    <img id="4" class="select_avatar" src="/static/images/avatars/avatar_4.jpg" onclick="avatarBorder(4, 'click')">
                                                                    <img id="2" class="select_avatar" src="/static/images/avatars/avatar_2.jpg" onclick="avatarBorder(2, 'click')">
                                                                    <img id="1" class="select_avatar" src="/static/images/avatars/avatar_1.jpg" onclick="avatarBorder(1, 'click')">
                                                                </div>
                                                                <br/>
                                                                <a href="#" id="register-show-more-avatars">Show more avatars</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>
                                                                <input name="agreement" type="checkbox" id="agreement" value="ON" style="width:20px;">
                                                                <label for="agreement">I have read and accept the <a href="/index.php?action=agreement" target="_blank">terms & conditions</a> and the <a href="rules.php" target="_blank">rules</a> and are 18 years or older or have my parents permission to play. I accept e-mails from TheCrims.</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td align="left">
                                                                <input type="submit" name="submit" value="PLAY NOW!" class="btn btn-small btn-inverse">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                        <div id="footer_middle">
                                            <ul class="flags">
                                                <li><a href="/?action=setlang&iso=GB&return=register.php" title="English" class="flag usgb"></a></li>
                                                <li><a href="/?action=setlang&iso=SE&return=register.php" title="Svenska" class="flag se"></a></li>
                                                <li><a href="/?action=setlang&iso=PL&return=register.php" title="Polska" class="flag pl"></a></li>
                                                <li><a href="/?action=setlang&iso=ES&return=register.php" title="Spanish" class="flag es"></a></li>
                                                <li><a href="/?action=setlang&iso=PT&return=register.php" title="Portuguese" class="flag pt"></a></li>
                                                <li><a href="/?action=setlang&iso=SI&return=register.php" title="Slovenian" class="flag si"></a></li>
                                                <li><a href="/?action=setlang&iso=CZ&return=register.php" title="Czech" class="flag cz"></a></li>
                                                <li><a href="/?action=setlang&iso=DE&return=register.php" title="Deutsch" class="flag de"></a></li>
                                                <li><a href="/?action=setlang&iso=RO&return=register.php" title="Romanian" class="flag ro"></a></li>
                                                <li><a href="/?action=setlang&iso=LT&return=register.php" title="Lithuanian" class="flag lt"></a></li>
                                                <li><a href="/?action=setlang&iso=EL&return=register.php" title="Greek" class="flag gr"></a></li>
                                                <li><a href="/?action=setlang&iso=NO&return=register.php" title="Norsk" class="flag no"></a></li>
                                                <li><a href="/?action=setlang&iso=AR&return=register.php" title="Arabic" class="flag eg"></a></li>
                                                <li><a href="/?action=setlang&iso=IT&return=register.php" title="Italian" class="flag it"></a></li>
                                                <li><a href="/?action=setlang&iso=BR&return=register.php" title="Brazilian" class="flag br"></a></li>
                                                <li><a href="/?action=setlang&iso=TR&return=register.php" title="Turkish" class="flag tr"></a></li>
                                                <li><a href="/?action=setlang&iso=ID&return=register.php" title="Indonesian" class="flag id"></a></li>
                                                <li><a href="/?action=setlang&iso=AL&return=register.php" title="Albanian" class="flag al"></a></li>
                                                <li><a href="/?action=setlang&iso=LV&return=register.php" title="Latvian" class="flag lv"></a></li>
                                                <li><a href="/?action=setlang&iso=AT&return=register.php" title="Austrian" class="flag at"></a></li>
                                                <li><a href="/?action=setlang&iso=SK&return=register.php" title="Slovak" class="flag sk"></a></li>
                                                <li><a href="/?action=setlang&iso=FR&return=register.php" title="French" class="flag fr"></a></li>
                                                <li><a href="/?action=setlang&iso=FI&return=register.php" title="Finnish" class="flag fi"></a></li>
                                                <li><a href="/?action=setlang&iso=CS&return=register.php" title="Serbian" class="flag cs"></a></li>
                                                <li><a href="/?action=setlang&iso=CN&return=register.php" title="Chinese" class="flag cn"></a></li>
                                                <li><a href="/?action=setlang&iso=CNT&return=register.php" title="Chinese Traditional" class="flag cnt"></a></li>
                                                <li><a href="/?action=setlang&iso=MS&return=register.php" title="Malay" class="flag my"></a></li>
                                                <li><a href="/?action=setlang&iso=BG&return=register.php" title="Bulgarian" class="flag bg"></a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td valign="top" align="center" style="padding-top: 0px; padding-left:10px;"></td>
            </tr>
        </tbody>
    </table>
</div>