<!DOCTYPE html>
<html style="background-color: #000000">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="index,follow"/>
        <meta name="description" content="The Crims, a metropolis for gangsters, scumbags, and criminals. Online Free RPG browsergame."/>
        <meta name="keywords" content="online free rpg,thecrims,the crims,thecrimes,the crimes,mmorpg,free mmorpg"/>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" href="<?php echo $this->basePath('static/images/apple-touch-icon.png'); ?>"" />
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->basePath('static/images/apple-touch-icon-114x114.png'); ?>"" />
        <link rel="image_src" href="<?php echo $this->basePath('static/images/logo.gif'); ?>"/>
        <link rel="shortcut icon" href="<?php echo $this->basePath('static/favicon.ico'); ?>"" type="image/x-icon" />
        
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/bootstrap/css/bootstrap.min.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/css/thecrims.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/css/jquery.loadmask.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/css/jquery.gritter.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" />
        
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/thecrims.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/bootstrap/js/bootstrap.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.loadmask.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.pjax.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.gritter.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.cookie.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/mailgun_validator.js'); ?>"></script>

        <title>The Crims - Free Online RPG</title>

        <script  type="text/javascript">
            window.IMAGEPATH = "<?php echo $this->basePath('static/images/'); ?>";
            window.SELF = "index.php";
            var langConfirm = "Tem certeza?";
            var langCheckbox = "Escolha da lista";
            var dch = [];
            
            function fcdd(page) {
                redirect(page)
            }

            function bfaeaecebadd(page) {
                loadAjax(page)
            }
            
            function cdfddff(tagName) {

            }
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="display: block" class="pull-left" href="/"><img src="/static/images/tc-menu-logo.png"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-left">
                            <li><a href="<?php echo $this->url('register'); ?>">Register</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stats <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<?php echo $this->url('stats'); ?>" >Stats</a></li>
                                    <li><a href="<?php echo $this->url('stats', array('action' => 'gangs')); ?>" >Gang stats</a></li>
                                    <li><a href="<?php echo $this->url('stats', array('action' => 'topkillers')); ?>" >Top killers</a></li>
                                    <li><a href="<?php echo $this->url('stats', array('action' => 'game')); ?>" >Game statistics</a></li>
                                    <li><a href="<?php echo $this->url('stats', array('action' => 'online')); ?>" >Online</a></li>
                                    <li><a href="<?php echo $this->url('winners'); ?>" >Winners</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/help.php" >Game Guide</a></li>
                                    <li><a href="http://forum.thecrims.com" >Forum</a></li>
                                    <li><a href="/forum.php" >Vote on features</a></li>
                                    <li><a href="/rules.php" >Rules</a></li>
                                    <li><a href="/?action=contact" >Support Center</a></li>
                                    <li><a href="/?action=crew" >Crew</a></li>
                                    <li><a href="/?action=changelog" >Changelog</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="pull-right" style="color: #ffcc66; padding: 14px 0px 10px; font-size: 10px">
                            <div class="pull-left" id="rcptbmh2z8">Day 105 23:03</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <?php echo $this->content; ?>
        </div>
        <div class="clear"></div>
        <div id="site-info-wrapper">
            <div id="site-info">
                <div>
                    <h4>Start</h4>
                    <ul>
                        <li><a href="/rules.php">Rules</a></li>
                        <li><a href="http://forum.thecrims.com/forumdisplay.php?10-News" target="_blank">News</a></li>
                        <li><a href="/stuff.php">Stuff</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Stats</h4>
                    <ul>
                        <li><a href="/stats.php">Stats</a></li>
                        <li><a href="/stats.php?page=gangs">Gang stats</a></li>
                        <li><a href="/stats.php?page=topkillers">Top killers</a></li>
                        <li><a href="/stats.php?page=game">Game statistics</a></li>
                        <li><a href="/stats.php?page=online">Online</a></li>
                        <li><a href="/winners.php">Winners</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Help</h4>
                    <ul>
                        <li><a href="/help.php">Game Guide</a></li>
                        <li><a href="http://forum.thecrims.com">Forum</a></li>
                        <li><a href="/forum.php">Vote on features</a></li>
                        <li><a href="/rules.php">Rules</a></li>
                        <li><a href="/?action=contact">Support Center</a></li>
                        <li><a href="/?action=crew">Crew</a></li>
                        <li><a href="/?action=changelog">Changelog</a></li>
                    </ul>
                </div>
                <div>
                    <a href="/stats.php?page=online"><h4 style="color: #C0B184">Online: 686</h4></a>
                    <ul>
                        <li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FThe-Crims%2F140281305990386&amp;layout=button_count&amp;show_faces=true&amp;width=85&amp;action=like&amp;font=verdana&amp;colorscheme=dark&amp;height=21" scrolling="no" frameborder="0" style="border: none; overflow:hidden; width:85px; height:21px; margin-top: 5px; margin-bottom: 3px" allowTransparency="true"></iframe></li>
                        <li><a href="http://www.facebook.com/thecrims" title="The Crims on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i> Facebook</a></li>
                        <li><a href="http://twitter.com/The_Crims" title="Follow us on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i> Twitter</a></li>
                        <li>&copy; 2015 The Crims</li>
                        <li><a href="/?action=changelog">Version 76</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="modal" class="modal hide fade" tabindex="-1" role="dialog">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('.modal-toggle').click(function () {
                    $('.modal-title').text($(this).data('title'));
                });

                $('input.focus').focus();

                $('#selectall').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('span').each(function () {
                    if ($(this).css("color") == "rgb(84, 195, 42)") {
                        cdfddff('plb');
                    }
                });

                if ($('div#time').css('text-align') == 'center') {
                    cdfddff('plb');
                }

                $('*[data-toggle="tooltip"]').tooltip();
                $('.dropdown-toggle').dropdown();

                $('input[name=email]').mailgun_validator({
                    api_key: 'pubkey-7swt7xy5-pptcr9c7ekagd7yyt57-o72',
                    in_progress: validation_in_progress,
                    success: validation_success,
                    error: validation_error,
                });


                onReady();
            });

            function validation_in_progress() {
                delete_status_box();
            }

            function validation_success(data) {
                sugg_str = get_suggestion_str(data['is_valid'], data['did_you_mean']);

                if (!data['is_valid']) {
                    $('input[name=email]').css('border', '1px solid red');
                    print_message(sugg_str);
                }
                else {
                    $('input[name=email]').css('border', '');
                }
            }

            function validation_error(error_message) {
                $('input[name=email]').css('border', '1px solid red');
                print_message(error_message);
            }

            function delete_status_box() {
                rdiv = $('div#status');
                rdiv.remove();
            }

            function print_message(message) {
                delete_status_box();
                div = $('input[name=email]');
                div.after('<div id="status" class="email_error">' + sugg_str + '</div>');
            }

            function get_suggestion_str(is_valid, alternate) {
                if (alternate) {
                    var message = 'Did you mean [value]?';
                    return message.replace('[value]', '<b>' + alternate + '</b>');
                }

                return "Invalid e-mail";
            }
            
            function onReady() {
                updateUI();

                $('#helplink').click(function () {
                    var section = $(this).data('section');
                    $('#modal-dialog').dialog({
                        open: function (event, ui) {
                            $('#modal-dialog').load('/help.php?section=' + section);
                        },
                        modal: true,
                        height: 400,
                        width: 600
                    });
                });

                $('input[type=submit]').addClass('btn btn-inverse');
                $('input[type=button]').addClass('btn btn-inverse');
                $('.black_table').removeClass('black_table').addClass('table table-condensed');

                removeWait();
            }

            $('li').click(function (event) {
                link = $(this).data('link');

                if (typeof link != 'undefined') {
                    $.cookie('cpos', event.pageX + ',' + event.pageY);
                    redirect(link);
                }
            });

            live_gametime(105, 23, 03 - 1, 'Day', 4, 'rcptbmh2z8');
        </script>
    </body>
    <script type="text/javascript" src="/static/js/jquery.countdown/jquery.countdown.min.js"></script>
</html>