<?php
$escaper = new Zend\Escaper\Escaper('utf-8');
$this->plugin('currencyformat')
     ->setCurrencyCode('USD')
     ->setLocale('en_US')
     ->setShouldShowDecimals(false);

?>
<!DOCTYPE html>
<html  style="background-color: #000000">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="index,follow"/>
        <meta name="description" content="The Crims"/>
        <meta name="keywords" content="online free rpg,thecrims,the crims,thecrimes,the crimes,mmorpg,free mmorpg"/>
        <meta property="og:title" content="The Crims"/>
        <meta property="og:description" content="Free online RPG - The life of a criminal"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://www.thecrims.com"/>
        <meta property="og:site_name" content="TheCrims.com"/>
        <meta property="fb:app_id" content="1416251765"/>
        <meta property="og:image" content="<?php echo $this->basePath('static/images/logo.gif'); ?>"/>
        <meta name="verifyownership" content="55ec215be2f22761e835b3de398cd099" />
        <meta name="verify-paysera" content="f659ad25e8c61d316b04e5923d2fdd0d">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" href="<?php echo $this->basePath('static/images/apple-touch-icon.png'); ?>" />
        <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->basePath('static/images/apple-touch-icon-114x114.png'); ?>" />
        <link rel="image_src" href="<?php echo $this->basePath('static/images/logo.gif'); ?>"/>
        <link rel="shortcut icon" href="<?php echo $this->basePath('static/favicon.ico'); ?>" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/bootstrap/css/bootstrap.min.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/css/thecrims.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/css/jquery.loadmask.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath('static/css/jquery.gritter.css'); ?>" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" />
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="<?php echo $this->basePath('static/js/thecrims.js'); ?>"></script>
        <script src="<?php echo $this->basePath('static/bootstrap/js/bootstrap.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.loadmask.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.pjax.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.gritter.min.js'); ?>"></script>
        <script type="text/javascript" src="<?php echo $this->basePath('static/js/jquery.cookie.js'); ?>"></script>
        <script src="<?php echo $this->basePath('static/js/mailgun_validator.js'); ?>"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="<?php echo $this->basePath('static/js/pusher.js'); ?>"></script>
        <script type="text/javascript">
            var pusher = new Pusher();
            var channel = pusher.subscribe('<?php echo md5($this->config['site']['secret-key'] . $this->user->user_id . 'profile'); ?>');
            channel.bind('updateprofile', onUpdateProfile);
            channel.bind('message', onMessage);
        </script>

        <title>The Crims</title>

        <script  type="text/javascript">
            <!--
            window.userId = <?php echo $this->user->user_id; ?>;
            window.IMAGEPATH = "<?php echo $this->basePath('static/images/'); ?>";
            window.SELF = "<?php echo $this->url('start'); ?>";
            var langConfirm = "Tem certeza?";
            var langCheckbox = "Escolha da lista";
            var dch = [];
            function bdbecebaed(page) {
                redirect(page);
            }

            function ddeeeccaae(page) {
                loadAjax(page);
            }
            function updateUserObject(user) {
                $('#ecfbeabe').html(user.username);
                $('#cecffca').html(user.respect);
                $('#adcacb').html(user.spirit);
                $('#bffaafdd').html(user.level_name);
                $('#faaaaece').html(user.intelligence);
                $('#dfbfcecbebdf').html(user.strength);
                $('#befeaca').html(user.tolerance);
                $('#ececcbacd').html(user.charisma);
                $('#eeddbebacf').html(user.cash);
                $('#fedcdefbdbcd').html(user.credits);
                $('#fccacdefd').html(Math.round(user.stamina) + '%');
                $('#dbfdcee').css('width', user.stamina + '%');
                $('#ccddebeccc').html(user.addiction + '%');
                $('#fedfedbc').css('width', user.addiction + '%');
                $('#user-messages-icon').attr('src', user.messages_icon);
                $('#user-friends-icon').attr('src', user.friends_icon);
                $('#user-gangcenter-icon').attr('src', user.gangcenter_icon);
            }
            // -->
        </script>

    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a style="display: block" class="pull-left" href="<?php echo $this->url('index'); ?>"><img src="/static/images/tc-menu-logo.png"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Search"><i class="icon icon-search"></i></a>
                                <ul class="dropdown-menu">
                                    <li style="padding: 10px">
                                        <form action="<?php echo $this->url('profile'); ?>" method="post">
                                            <fieldset>
                                                <input type="hidden" name="page" value="search">
                                                <input type="text" name="search" value="" placeholder="Procurar usuário" style="padding: 8px">
                                                <input type="submit" name="submit" value="Busca" class="btn btn-default">
                                            </fieldset>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Perfil <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile.php" >Perfil</a></li>
                                    <li><a href="/profile.php?page=tasks" >Níveis</a></li>
                                    <li><a href="profile.php?page=stats&sub=1" >Estatísticas</a></li>
                                    <li><a href="profile.php?page=guestbook&sub=2" >Guestbook</a></li>
                                    <li><a href="/changecharacter.php" >Personagem</a></li>
                                    <li><a href="/profile.php?page=setprofile" >Editar perfil</a></li>
                                    <li><a href="/profile.php?page=password" >Mudar senha</a></li>
                                    <li><a href="/profile.php?page=changeusername" >Alterar nick</a></li>
                                    <li><a href="profile.php?page=logs" >Logs</a></li>
                                    <li><a href="profile.php?page=ignorelist" >Lista de ignorados</a></li>
                                    <li><a href="profile.php?page=recruitments" >Recrutamentos</a></li>
                                    <li><a href="profile.php?page=resetforumpassword" >Senha do fórum</a></li>
                                    <li><a href="profile.php?page=achievements" >Realizações</a></li>
                                </ul>
                            </li>
                            <li><a href="/credits.php">Creditos</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ranking <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/stats.php" >Ranking</a></li>
                                    <li><a href="/stats.php?page=gangs" >Estatísticas das gangues</a></li>
                                    <li><a href="/stats.php?page=topkillers" >Top assassinos</a></li>
                                    <li><a href="/stats.php?page=game" >Estatísticas do jogo</a></li>
                                    <li><a href="/stats.php?page=online" >Online</a></li>
                                    <li><a href="/winners.php" >Vencedores</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ajuda <b class="caret"></b></a><ul class="dropdown-menu"><li><a href="/help.php" >Guia do Jogo</a></li><li><a href="http://forum.thecrims.com" >Forum</a></li><li><a href="/forum.php" >Votação sobre recursos</a></li><li><a href="/rules.php" >Regras</a></li><li><a href="/?action=contact" >Suporte</a></li><li><a href="/?action=crew" >Crew</a></li><li><a href="/?action=changelog" >Log de mudanças</a></li><li><a href="/?action=crew#helper" >Ajudantes</a></li></ul></li>			<li><a href="/recruit.php">Recrutamento</a></li>		</ul>
                        <div class="pull-right" style="color: #ffcc66; padding: 14px 0px 10px; font-size: 10px"><div class="pull-left" id="kqf91eftoa">Dia 116 18:53</div></div>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="<?php echo $this->url('reports', ['action' => 'logout']); ?>" title="Relatórios"><i class="icon-file"></i></a></li>
                                <li><a href="<?php echo $this->url('vip', ['action' => 'logout']); ?>" title="VIP">VIP</a></li>
                            </ul>
                        </div>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li><a href="<?php echo $this->url('index', ['action' => 'logout']); ?>" title="Sair"><i class="icon-off"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="container">
            <div id="page">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div id="content">
                                    <div id="header"></div>
                                    <table width="809" cellspacing="0" cellpadding="0" border="0" id="content_table">
                                        <tbody>
                                            <tr>
                                                <td width="100%" valign="top">
                                                    <div class="content_style" id="content_left">
                                                        <ul class="action_menu">
                                                            <li data-link="<?php echo $this->url('assault'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-assault"></div>
                                                                <span class="action_menu_header">Assault</span><br>Bump some bastards off.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('robbery'); ?>">
                                                                <div id="menu-sprite-robbery" class="menu-sprite"></div>
                                                                <span class="action_menu_header">Robbery</span><br>Go nick something.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('hookers'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-hookers"></div>
                                                                <span class="action_menu_header">Hookers</span><br/>Check in on them bitches.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('armsdealer'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-armsdealer"></div>
                                                                <span class="action_menu_header">Arms dealer</span><br/>Go get tooled up.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('drugdealer'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-drugdealer"></div>
                                                                <span class="action_menu_header">Drug dealer</span><br/>Buy and sell gear.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('buildings'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-buildings"></div>
                                                                <span class="action_menu_header">Buildings</span><br/>Produce your own shit.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('nightlife'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-nightlife"></div>
                                                                <span class="action_menu_header">Nightlife</span><br/>Go for an all-nighter.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('businesses'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-businesses"></div>
                                                                <span class="action_menu_header">Businesses</span><br/>Start your own business.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('hospital'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-hospital"></div>
                                                                <span class="action_menu_header">Hospital</span><br/>Go heal up, you demic.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('prison'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-prison"></div>
                                                                <span class="action_menu_header">Prison</span><br/>Got narked? Hard-lines!
                                                            </li>
                                                            <li data-link="<?php echo $this->url('bank'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-bank"></div>
                                                                <span class="action_menu_header">Bank</span><br/>Put your bling bling in a safe place.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('casino'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-casino"></div>
                                                                <span class="action_menu_header">Casino</span><br/>Go trouser some winnings.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('alley'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-alley"></div>
                                                                <span class="action_menu_header">The Alley</span><br/>Do some extra chores.
                                                            </li>
                                                            <li data-link="<?php echo $this->url('market'); ?>">
                                                                <div class="menu-sprite" id="menu-sprite-market"></div>
                                                                <span class="action_menu_header">Black market</span><br/>The black market
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                    <?php echo $this->content; ?>
                                                    
                                                    <div class="content_style" id="content_right">
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #464646">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border-bottom: 1px #6F6F6F solid; padding-bottom: 3px">
                                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="30%" valign="top" align="center">
                                                                                        <a href="profile.php"><img width="32" height="40" border="0" src="/static/images/avatars/avatar_1.jpg"></a>
                                                                                    </td>
                                                                                    <td width="70%" valign="top" align="left">
                                                                                        <span id="cddbdaeaa" class="menuyellowtext"><?php echo $escaper->escapeHtml($this->user->user_username); ?></span><br/>
                                                                                        <a href="changecharacter.php">Robber</a> - <a id="faceefcfbb" href="/profile.php?page=levels"><?php echo $this->user->user_level; ?></a>
                                                                                        <br/>
                                                                                        Spirit: <span id="faeabdf" class="menuyellowtext">Very high</span><br/>
                                                                                        Respect: <span id="acadfade" class="menuyellowtext"><?php echo $this->user->user_respect; ?></span><br/>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <?php if ((time() - strtotime($this->user->user_date_register)) < 345600 || $this->user->user_respect <= 5000): ?>
                                                                    <tr>
                                                                        <td style="border-bottom: 1px #6F6F6F solid; padding: 5px; text-align: center">
                                                                            <a href="profile.php?page=setprofile">Protection is ON</a>
                                                                        </td>
                                                                    </tr>
                                                                <?php endif; ?>
                                                                <tr>
                                                                    <td align="center" style="border-bottom: 1px #6F6F6F solid; padding-bottom: 3px">
                                                                        Stamina: <span id="acefaea"><?php echo $this->user->user_stamina; ?>%</span><br/>
                                                                        <div class="progressbar"><div style="background-image: url('/static/images/img_stamina.jpg'); width: <?php echo $this->user->user_stamina; ?>%" id="efcabdfffee" class="progressbar-bar"></div></div>
                                                                        Addiction: <span id="caedb"><?php echo $this->user->user_addiction; ?>%</span><br/>
                                                                        <div class="progressbar"><div style="background-image: url('/static/images/img_addiction.gif'); width: <?php echo $this->user->user_addiction; ?>%" id="eedbdcc" class="progressbar-bar"></div></div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="border-bottom: 1px #6F6F6F solid">
                                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="50%" valign="top" align="center" style="padding-top: 5px">
                                                                                        Intelligence<br/><span id="bfddd" class="menuyellowtext"><?php echo $this->user->user_intelligence; ?></span><br/>
                                                                                        Charisma<br/><span id="cadfeafeec" class="menuyellowtext"><?php echo $this->user->user_charisma; ?></span>
                                                                                    </td>
                                                                                    <td width="50%" valign="top" align="center" style="padding-top: 5px">
                                                                                        Strength<br/><span id="cecacfaddba" class="menuyellowtext"><?php echo $this->user->user_strength; ?></span><br/>
                                                                                        Tolerance<br/><span id="dabcac" class="menuyellowtext"><?php echo $this->user->user_tolerance; ?></span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td valign="top" align="center" style="padding-bottom: 5px" colspan="2">
                                                                                        Cash<br/><span id="bebdd" class="menuyellowtext"><?php echo $this->currencyFormat($this->user->user_cash); ?></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="border-bottom: 1px #6F6F6F solid; padding: 5px">
                                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center"><a href="#" onclick="dcfaaabfa('/profile.php?page=tasks')"><img border="0" title="Tasks" alt="Tasks" id="user-tasks-icon" src="/static/images/menu/tasks_off.gif"></a></td>
                                                                                    <td align="center"><a href="#" onclick="dcfaaabfa('/msgcenter.php')"><img border="0" title="Messages" alt="Messages" id="user-messages-icon" src="/static/images/menu/icon_msgcenter_bw.gif"></a></td>
                                                                                    <td align="center"><a href="#" onclick="dcfaaabfa('/friends')"><img border="0" title="Homies" alt="Homies" id="user-friends-icon" src="/static/images/menu/icon_friends_red.gif"></a></td>
                                                                                    <td align="center"><a href="#" onclick="dcfaaabfa('/gangcenter.php')"><img border="0" title="Gang center" alt="Gang center" id="user-gangcenter-icon" src="/static/images/menu/icon_gangcenter_bw.gif"></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="border-bottom: 1px #6F6F6F solid; padding-top: 3px; padding-bottom: 3px">
                                                                        <ul class="action_menu">
                                                                            <li style="padding-left: 3px" data-link="credits.php"><img border="0" align="absmiddle" style="margin-left: 5px; margin-right: 5px" src="/static/images/menu/money2.png">
                                                                                <span class="action_menu_rightheader">Credits: <span id="ceacbbcdd"><?php echo $this->user->user_credits; ?></span></span>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding-top: 3px">
                                                                        <span class="menuyellowtext"><a href="equipment.php">Equipment</a></span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="border-bottom: 1px #6F6F6F solid">
                                                                        <ul class="action_menu">
                                                                            <li data-link="equipment.php?section=weapons"><img width="16" height="16" border="0" align="left" style="margin-left: 10px; margin-right: 5px" src="/static/images/menu/icon_recruit2.gif"><span class="action_menu_rightheader">Raygun</span></li>
                                                                            <li data-link="equipment.php?section=armours"><img width="16" height="16" border="0" align="left" style="margin-left: 10px; margin-right: 5px" src="/static/images/menu/icon_armour.gif"><span class="action_menu_rightheader">Nano Fiber Combat Jacket</span></li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #464646">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-top: 4px" class="menuborder">
                                                                        <ul class="action_menu">
                                                                            <li data-link="docks.php">
                                                                                <div class="menu-sprite" id="menu-sprite-docks"></div>
                                                                                <span class="action_menu_header">The Docks</span><br/>What's smelling in the harbour?
                                                                            </li>
                                                                            <li data-link="training.php">
                                                                                <div class="menu-sprite" id="menu-sprite-training"></div>
                                                                                <span class="action_menu_header">Training centre</span><br/>Flex those muscles!
                                                                            </li>
                                                                            <li data-link="<?php echo $this->url('thesquare'); ?>">
                                                                                <div class="menu-sprite" id="menu-sprite-square"></div>
                                                                                <span class="action_menu_header">The Square</span><br/>Meet and talk with people.
                                                                            </li>
                                                                            <li data-link="fightclub">
                                                                                <div id="menu-sprite-fightchat" class="menu-sprite"></div>
                                                                                <span class="action_menu_header">Fight Club</span><br>Pick a fight with someone.
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                            <td valign="top" align="center" style="padding-top: 0px; padding-left:10px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clear"></div>
        <div id="site-info-wrapper">
            <div id="site-info">
                <div>
                    <h4>Início</h4>
                    <ul>
                        <li><a href="<?php echo $this->url('rules'); ?>">Regras</a></li>
                        <li><a href="http://forum.thecrims.com/forumdisplay.php?10-News" target="_blank">Notícias</a></li>
                        <li><a href="<?php echo $this->url('stuff'); ?>">Coisas</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Ranking</h4>
                    <ul>
                        <li><a href="<?php echo $this->url('stats'); ?>">Ranking</a></li>
                        <li><a href="<?php echo $this->url('stats', ['action' => 'gangs']); ?>">Estatísticas das gangues</a></li>
                        <li><a href="<?php echo $this->url('stats', ['action' => 'topkillers']); ?>">Top assassinos</a></li>
                        <li><a href="<?php echo $this->url('stats', ['action' => 'game']); ?>">Estatísticas do jogo</a></li>
                        <li><a href="<?php echo $this->url('stats', ['action' => 'online']); ?>">Online</a></li>
                        <li><a href="<?php echo $this->url('winners'); ?>">Vencedores</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Ajuda</h4>
                    <ul>
                        <li><a href="<?php echo $this->url('help'); ?>p">Guia do Jogo</a></li>
                        <li><a href="http://forum.thecrims.com">Forum</a></li>
                        <li><a href="<?php echo $this->url('forum'); ?>">Votação sobre recursos</a></li>
                        <li><a href="<?php echo $this->url('rules'); ?>">Regras</a></li>
                        <li><a href="<?php echo $this->url('index', ['action' => 'contact']); ?>">Suporte</a></li>
                        <li><a href="<?php echo $this->url('index', ['action' => 'crew']); ?>">Crew</a></li>
                        <li><a href="<?php echo $this->url('index', ['action' => 'changelog']); ?>">Log de mudanças</a></li>
                        <li><a href="<?php echo $this->url('index', ['action' => 'crew']); ?>">Ajudantes</a></li> <!-- #helper -->
                    </ul>
                </div>
                <div>
                    <a href="<?php echo $this->url('stats', ['action' => 'online']); ?>"><h4 style="color: #C0B184">Online: 694</h4></a>
                    <ul>
                        <li><a href="http://www.facebook.com/thecrims" title="The Crims on Facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i> Facebook</a></li>
                        <li><a href="http://twitter.com/The_Crims" title="Follow us on Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i> Twitter</a></li>
                        <li>&copy; 2015 The Crims</li>
                        <li><a href="<?php echo $this->url('index', ['action' => 'changelog']); ?>">Version 76</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="modal" class="modal hide fade" tabindex="-1" role="dialog">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body">
            </div>
        </div>

        <script type="text/javascript">
            <!--
        $(document).ready(function () {
                $('.modal-toggle').click(function () {
                    $('.modal-title').text($(this).data('title'));
                });

                $('input.focus').focus();

                $('#selectall').click(function (e) {
                    var table = $(e.target).closest('table');
                    $('td input:checkbox', table).prop('checked', this.checked);
                });


                $('span').each(function () {
                    if ($(this).css("color") == "rgb(84, 195, 42)") {
                        cbdaabb('plb');
                    }
                });

                if ($('div#time').css('text-align') == 'center') {
                    cbdaabb('plb');
                }

                $('*[data-toggle="tooltip"]').tooltip();
                $('.dropdown-toggle').dropdown();

                $('input[name=email]').mailgun_validator({
                    api_key: 'pubkey-7swt7xy5-pptcr9c7ekagd7yyt57-o72',
                    in_progress: validation_in_progress,
                    success: validation_success,
                    error: validation_error,
                });


                formSubmitted = false;

                $(":button").click(function (event) {
                    showWait();
                    $('input').attr('readonly', true);
                    $(this).hide();
                    $(':button').attr("disabled", "disabled");

                    if (handleFormClick(event) && !formSubmitted) {
                        this.form.submit();
                    }
                });



                $(":submit").click(function (event) {
                    $(this).hide();
                    handleFormClick(event);
                });

                $(':submit').keydown(function (e) {
                    if (e.which === 13 || e.which === 32) {
                        e.stopPropagation();
                        e.preventDefault();
                        formSubmitted = true;
                        return false;
                    }
                });


                $('select').keydown(function (e) {
                    e.stopPropagation();
                    return false;
                });

                function handleFormClick(event) {
                    $.cookie('cpos', event.pageX + ',' + event.pageY);
                    return true;
                }

                $("form").submit(function (event) {
                    if (formSubmitted) {
                        event.stopPropagation();
                        event.preventDefault();
                        $(":submit").show();
                        return false;
                    }

                    if (typeof $(this).data('controlselectbox') != undefined && $(this).data('controlselectbox') != '') {
                        var name = $(this).data('controlselectbox');
                        if ($('select[name=' + name + ']', this).val() == '-') {
                            alert("Escolha da lista");
                            $(":submit").show();
                            event.stopPropagation();
                            event.preventDefault();
                            return false;
                        }
                    }

                    if (!formSubmitted) {
                        showWait();
                        $('input', this).attr('readonly', true);
                    }

                    formSubmitted = true;
                });

                onReady();
            });

            function validation_in_progress() {
                delete_status_box();
            }

            function validation_success(data) {
                sugg_str = get_suggestion_str(data['is_valid'], data['did_you_mean']);

                if (!data['is_valid']) {
                    $('input[name=email]').css('border', '1px solid red');
                    print_message(sugg_str);
                }
                else {
                    $('input[name=email]').css('border', '');
                }
            }

            function validation_error(error_message) {
                $('input[name=email]').css('border', '1px solid red');
                print_message(error_message);
            }

            function delete_status_box() {
                rdiv = $('div#status');
                rdiv.remove();
            }

            function print_message(message) {
                delete_status_box();
                div = $('input[name=email]');
                div.after('<div id="status" class="email_error">' + sugg_str + '</div>');
            }


            function get_suggestion_str(is_valid, alternate) {
                if (alternate) {
                    var message = 'Did you mean [value]?';
                    return message.replace('[value]', '<b>' + alternate + '</b>');
                }

                return "E-mail inválido";
            }


            function onReady() {
                updateUI();

                $('#helplink').click(function () {
                    var section = $(this).data('section');
                    $('#modal-dialog').dialog({
                        open: function (event, ui) {
                            $('#modal-dialog').load('/help.php?section=' + section);
                        },
                        modal: true,
                        height: 400,
                        width: 600
                    });
                });

                $('input[type=submit]').addClass('btn btn-inverse');
                $('input[type=button]').addClass('btn btn-inverse');
                $('.black_table').removeClass('black_table').addClass('table table-condensed');



                $(document).find('[rel="popover"]').popover({animation: false, placement: 'top', trigger: 'hover', html: true, delay: {show: 0, hide: 0}});

                removeWait();
                /*
                $.gritter.add({
                    title: 'Ginástica',
                    sticky: false,
                    text: 'Treinamento concluído! Você ganhou estes stats:<br />Carisma: 1200<br />Inteligência: 300<br />',
                    image: ''
                });
                */

            }

            $('li').click(function (event) {
                link = $(this).data('link');

                if (typeof link != 'undefined') {
                    $.cookie('cpos', event.pageX + ',' + event.pageY);
                    redirect(link);
                }
            });

            live_gametime(116, 18, 53 - 1, 'Dia', 4, 'kqf91eftoa');
            // -->
        </script>
    </body>
</html>