<?php
use Frontend\Model\Arm;
$this->plugin('currencyformat')
     ->setCurrencyCode('USD')
     ->setLocale('en_US')
     ->setShouldShowDecimals(false);
?>
<div id="content_middle">
    <div class="content_style main-content ">
        <div id="modal-dialog"></div>

        <ul class="nav nav-tabs">
            <li<?php echo $this->section == 'weapons' ? ' class="active"' : ''; ?>><a href="<?php echo $this->url('armsdealer', ['section' => 'weapons']); ?>"><?php echo $this->translate("arms.tab.weapon"); ?></a></li>
            <li<?php echo $this->section == 'armors' ? ' class="active"' : ''; ?>><a href="<?php echo $this->url('armsdealer', ['section' => 'armors']); ?>"><?php echo $this->translate("arms.tab.armor"); ?></a></li>
        </ul>
        
        <?php if ($this->section == 'weapons'): ?>
            <h1><?php echo $this->translate("arms.title.weapon"); ?></h1>
            <table width="100%" border="0" cellspacing="4" cellpadding="0">
                <tbody>
                    <tr>
                        <td valign="top"><img src="/static/images/sections/armsdealer/armsdealer.jpg" border="0" class="imageborder"></td>
                        <td valign="top" align="left" width="100%">
                            <?php echo $this->translate("arms.text"); ?>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <!--
            <div class="well">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td valign="top"><img src="/static/images/sections/armsdealer/armsdealer_benefits.jpg" border="0" class="imageborder"></td>
                            <td valign="top" align="left" width="100%">
                                "Wanna buy some heavy rounds to go with that weapon? I've got these armour penetrating rounds that will increase your weapons power with 30%. A case of these baddies will last you 28 TC days. How about it mate? All I'm asking for is 10 credits in return. As a complimentary treat you'll get this special lubricant that will help to increase the power of your melee weapons 30% too."<br/><br/>
                                <form action="armsdealer.php" method="post">
                                    <input type="hidden" name="action" value="buybenefits">
                                    <select name="period">
                                        <option value="0">28 days for 10 credits</option>
                                        <option value="1">60 days for 20 credits</option>
                                        <option value="2">184 days for 50 credits</option>
                                    </select>
                                    <button type="submit" name="Submit" class="btn btn-inverse">Buy</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            -->

            
            <?php if($this->message): ?>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 5px; margin-bottom: 5px" class="statusbox_<?php echo $this->message['type']; ?>">
                    <tbody>
                        <tr>
                            <td valign="top" align="left"><img style="margin: 2px; margin-right: 10px" src="/static/images/icons/<?php echo $this->message['image']; ?>.gif"></td>
                            <td width="100%" valign="middle" align="left"><?php echo $this->message['message']; ?></td>
                        </tr>
                    </tbody>
                </table>
            <?php endif; ?>

            <?php if ($this->user_arms->count()): ?>
                <table width="100%" border="0" cellspacing="0" cellpadding="2" class="table table-condensed">
                    <thead>
                        <tr>
                            <th nowrap=""><?php echo $this->translate("arms.user.weapons"); ?></th>
                            <th align="center"><?php echo $this->translate("arms.user.strength"); ?></th>
                            <th align="right"><?php echo $this->translate("arms.user.price"); ?></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->user_arms as $arm): ?>
                            <tr data-title="<?php echo $this->translate("arms.name.{$arm['arm_id']}"); ?>" data-content="<img src='<?php echo $this->basePath("/static/images/sections/armsdealer/weapons/{$arm['arm_image']}"); ?>'>" rel="popover" data-original-title="" title="">
                                <td nowrap=""><?php echo $this->translate("arms.name.{$arm['arm_id']}"); ?></td>
                                <?php if ($arm['arm_type'] == Arm::TYPE_SUM): ?>
                                    <td align="center"><?php echo $arm['arm_strength']; ?></td>
                                <?php else: ?>
                                    <td align="center"><?php echo $arm['arm_strength']; ?>% (<?php echo ceil($arm['arm_strength'] * $this->user->user_strength / 100); ?>)</td>
                                <?php endif; ?>
                                <td nowrap="" align="right"><?php echo $this->currencyFormat($arm['arm_cash'] / 3); ?></td>
                                <td style="text-align: right">
                                    <form action="<?php echo $this->url('armsdealer', ['section' => 'weapons']); ?>" method="post" onsubmit="return confirmChoice()">
                                        <input type="hidden" name="section" value="weapons">
                                        <input type="hidden" name="action" value="sell_weapon">
                                        <input type="hidden" name="id" value="<?php echo $arm['uarm_id']; ?>">
                                        <input type="submit" name="Submit" class="btn btn-inverse btn-small" value="<?php echo $this->translate("arms.user.sell"); ?>">
                                    </form>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <a href="equipment.php?section=weapons" class="btn btn-inverse"><?php echo $this->translate("arms.user.manage"); ?></a>
                <br/><br/><br/>
            <?php endif; ?>

            <table width="100%" border="0" cellspacing="0" class="table table-condensed">
                <thead>
                    <tr>
                        <th nowrap=""><?php echo $this->translate("arms.market"); ?></th>
                        <th align="center"><?php echo $this->translate("arms.strength"); ?></th>
                        <th align="right"><b><?php echo $this->translate("arms.price"); ?></b></th>
                        <th style="text-align: center"><?php echo $this->translate("arms.quantity"); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->arms as $arm): ?>
                        <tr data-title="<?php echo $this->translate("arms.name.{$arm->arm_id}"); ?>" data-content="<img src='<?php echo $this->basePath("/static/images/sections/armsdealer/weapons/{$arm->arm_image}"); ?>'>" rel="popover" data-original-title="" title="">
                            <td nowrap=""><?php echo $this->translate("arms.name.{$arm->arm_id}"); ?></td>
                            <?php if ($arm->arm_type == Arm::TYPE_SUM): ?>
                                <td align="center"><?php echo $arm->arm_strength; ?></td>
                            <?php else: ?>
                                <td align="center"><?php echo $arm->arm_strength; ?>% (<?php echo ceil($arm->arm_strength * $this->user->user_strength / 100); ?>)</td>
                            <?php endif; ?>

                            <?php if ($arm->arm_cash): ?>
                                <td align="right"><?php echo $this->currencyFormat($arm->arm_cash); ?></td>
                            <?php else: ?>
                                <td align="right"><?php echo $arm->arm_credits; ?> credits</td>
                            <?php endif; ?>
                            <td nowrap="" align="right" style="text-align: right">
                                <form action="<?php echo $this->url('armsdealer', ['section' => 'weapons']); ?>" method="post">
                                    <input type="hidden" name="section" value="weapons">
                                    <input type="hidden" name="action" value="buy_weapon">
                                    <input type="hidden" name="id" value="<?php echo $arm->arm_id; ?>">
                                    <input name="quantity" type="text" id="quantity" size="2" maxlength="2">
                                    <button type="button" name="Submit" class="btn btn-inverse btn-small"><?php echo $this->translate("arms.buy"); ?></button>
                                </form>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tr>
                </tbody>
            </table>
        <?php else: ?>
            <h1><?php echo $this->translate("arms.title.armor"); ?></h1>
            
            <table width="100%" border="0" cellspacing="4" cellpadding="0" style="margin-bottom: 10px">
                <tbody>
                    <tr>
                        <td valign="top"><img src="/static/images/sections/armsdealer/armors/armors.jpg" border="0" class="imageborder"></td>
                        <td valign="top" align="left" width="100%">
                            <?php echo $this->translate("arms.armor.text"); ?>
                        </td>
                    </tr>
                </tbody>
            </table>

            <?php if($this->message): ?>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin-top: 5px; margin-bottom: 5px" class="statusbox_<?php echo $this->message['type']; ?>">
                    <tbody>
                        <tr>
                            <td valign="top" align="left"><img style="margin: 2px; margin-right: 10px" src="/static/images/icons/<?php echo $this->message['image']; ?>.gif"></td>
                            <td width="100%" valign="middle" align="left"><?php echo $this->message['message']; ?></td>
                        </tr>
                    </tbody>
                </table>
            <?php endif; ?>
            
            <?php if ($this->user_arms->count()): ?>
                <table width="100%" border="0" cellspacing="0" cellpadding="2" class="table table-condensed">
                    <tbody>
                        <tr class="black_table_top">
                            <td nowrap="" width="40%"><b>Your armors</b></td>
                            <td align="right" width="20%"><b>Tolerance</b></td>
                            <td align="right" width="35%"><b>Price</b></td>
                            <td>&nbsp;</td>
                        </tr>
                        <?php foreach($this->user_arms as $arm): ?>
                            <tr data-title="<?php echo $this->translate("arms.name.{$arm['arm_id']}"); ?>" data-content="<img src='<?php echo $this->basePath("/static/images/sections/armsdealer/armors/{$arm['arm_image']}"); ?>'>" rel="popover" data-original-title="" title="">
                                <td nowrap=""><?php echo $this->translate("arms.name.{$arm['arm_id']}"); ?></td>
                                <td align="right"><?php echo $arm['arm_tolerance']; ?></td>
                                <td nowrap="" align="right"><?php echo $this->currencyFormat($arm['arm_cash'] / 2.2); ?></td>
                                <td nowrap="">
                                    <form action="<?php echo $this->url('armsdealer', ['section' => 'armors']); ?>" method="post" onsubmit="return confirmChoice()">
                                        <input type="hidden" name="section" value="armors">
                                        <input type="hidden" name="action" value="sell_armor">
                                        <input type="hidden" name="id" value="<?php echo $arm['uarm_id']; ?>">
                                        <input type="submit" name="Submit" value="<?php echo $this->translate("arms.user.sell"); ?>" class="btn btn-inverse">
                                    </form>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>

                <br/>
                <a href="equipment.php?section=armours"><input type="submit" value="<?php echo $this->translate("arms.user.manage.armor"); ?>" class="btn btn-inverse"></a>
                <br/><br/><br/>
            <?php endif; ?>

            <table width="100%" border="0" cellspacing="0" cellpadding="2" class="table table-condensed">
                <tbody>
                    <tr class="black_table_top">
                        <td nowrap=""><?php echo $this->translate("arms.armor.market"); ?></td>
                        <td align="center"><?php echo $this->translate("arms.armor.tolerance"); ?></td>
                        <td align="right"><b><?php echo $this->translate("arms.price"); ?></b></td>                    
                        <td>&nbsp;</td>
                    </tr>

                    <?php foreach($this->arms as $arm): ?>
                        <tr data-title="<?php echo $this->translate("arms.name.{$arm->arm_id}"); ?>" data-content="<img src='<?php echo $this->basePath("/static/images/sections/armsdealer/armors/{$arm->arm_image}"); ?>'>" rel="popover" data-original-title="" title="">
                            <td nowrap=""><?php echo $this->translate("arms.name.{$arm->arm_id}"); ?></td>
                            <td align="right"><?php echo $arm->arm_tolerance; ?></td>
                            <td nowrap="" align="right"><?php echo $this->currencyFormat($arm->arm_cash); ?></td>
                            <td nowrap="">
                                <?php if ($this->user->user_level < $arm->arm_required_level): ?>
                                    <?php echo sprintf($this->translate('arms.required.level'), $arm->arm_required_level); ?>
                                <?php else: ?>
                                    <form action="<?php echo $this->url('armsdealer', ['section' => 'armors']); ?>" method="post">
                                        <input type="hidden" name="section" value="armors">
                                        <input type="hidden" name="action" value="buy_armor">
                                        <input type="hidden" name="id" value="<?php echo $arm->arm_id; ?>">
                                        <input name="quantity" type="text" id="quantity" size="2" maxlength="2">
                                        <input type="submit" name="Submit" value="<?php echo $this->translate("arms.buy"); ?>" class="btn btn-inverse">
                                    </form>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
    </div>
    
    <div id="footer_middle">
        <ul class="flags">
            <li><a href="/?action=setlang&amp;iso=GB&amp;return=armsdealer.php" title="English" class="flag usgb"></a></li>
            <li><a href="/?action=setlang&amp;iso=SE&amp;return=armsdealer.php" title="Svenska" class="flag se"></a></li>
            <li><a href="/?action=setlang&amp;iso=PL&amp;return=armsdealer.php" title="Polska" class="flag pl"></a></li>
            <li><a href="/?action=setlang&amp;iso=ES&amp;return=armsdealer.php" title="Spanish" class="flag es"></a></li>
            <li><a href="/?action=setlang&amp;iso=PT&amp;return=armsdealer.php" title="Portuguese" class="flag pt"></a></li>
            <li><a href="/?action=setlang&amp;iso=SI&amp;return=armsdealer.php" title="Slovenian" class="flag si"></a></li>
            <li><a href="/?action=setlang&amp;iso=CZ&amp;return=armsdealer.php" title="Czech" class="flag cz"></a></li>
            <li><a href="/?action=setlang&amp;iso=DE&amp;return=armsdealer.php" title="Deutsch" class="flag de"></a></li>
            <li><a href="/?action=setlang&amp;iso=RO&amp;return=armsdealer.php" title="Romanian" class="flag ro"></a></li>
            <li><a href="/?action=setlang&amp;iso=LT&amp;return=armsdealer.php" title="Lithuanian" class="flag lt"></a></li>
            <li><a href="/?action=setlang&amp;iso=EL&amp;return=armsdealer.php" title="Greek" class="flag gr"></a></li>
            <li><a href="/?action=setlang&amp;iso=NO&amp;return=armsdealer.php" title="Norsk" class="flag no"></a></li>
            <li><a href="/?action=setlang&amp;iso=AR&amp;return=armsdealer.php" title="Arabic" class="flag eg"></a></li>
            <li><a href="/?action=setlang&amp;iso=IT&amp;return=armsdealer.php" title="Italian" class="flag it"></a></li>
            <li><a href="/?action=setlang&amp;iso=BR&amp;return=armsdealer.php" title="Brazilian" class="flag br"></a></li>
            <li><a href="/?action=setlang&amp;iso=TR&amp;return=armsdealer.php" title="Turkish" class="flag tr"></a></li>
            <li><a href="/?action=setlang&amp;iso=ID&amp;return=armsdealer.php" title="Indonesian" class="flag id"></a></li>
            <li><a href="/?action=setlang&amp;iso=AL&amp;return=armsdealer.php" title="Albanian" class="flag al"></a></li>
            <li><a href="/?action=setlang&amp;iso=LV&amp;return=armsdealer.php" title="Latvian" class="flag lv"></a></li>
            <li><a href="/?action=setlang&amp;iso=AT&amp;return=armsdealer.php" title="Austrian" class="flag at"></a></li>
            <li><a href="/?action=setlang&amp;iso=SK&amp;return=armsdealer.php" title="Slovak" class="flag sk"></a></li>
            <li><a href="/?action=setlang&amp;iso=FR&amp;return=armsdealer.php" title="French" class="flag fr"></a></li>
            <li><a href="/?action=setlang&amp;iso=FI&amp;return=armsdealer.php" title="Finnish" class="flag fi"></a></li>
            <li><a href="/?action=setlang&amp;iso=CS&amp;return=armsdealer.php" title="Serbian" class="flag cs"></a></li>
            <li><a href="/?action=setlang&amp;iso=CN&amp;return=armsdealer.php" title="Chinese" class="flag cn"></a></li>
            <li><a href="/?action=setlang&amp;iso=CNT&amp;return=armsdealer.php" title="Chinese Traditional" class="flag cnt"></a></li>
            <li><a href="/?action=setlang&amp;iso=MS&amp;return=armsdealer.php" title="Malay" class="flag my"></a></li>
            <li><a href="/?action=setlang&amp;iso=BG&amp;return=armsdealer.php" title="Bulgarian" class="flag bg"></a></li>
        </ul>
    </div>
</div>