<div id="page">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top">
                    <div id="content">
                        <div id="header"></div>
                        <table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
                            <tbody>
                                <tr>
                                    <td width="100%" valign="top">
                                        <div class="content_style main-content main-wide" style="max-width: 787px">
                                            <div id="modal-dialog"></div>
                                            <h1>Consiga um início melhor!</h1>
                                            <p>
                                                Vá em frente e comece com vantagens! Escolha em começar com pacotes e ter benefícios que irão te ajudar a você ser um gangster mais rápido da cidade.
                                                <br/><br/>
                                                O pacote de começo custa créditos, se você não tem nenhum créditos você pode ler mais sobre isso abaixo.
                                            </p>
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" class="statusbox_ok" style="margin-top: 5px; margin-bottom: 5px">
                                                <tbody><tr onmouseover="this.style.backgroundColor = '#6F6F6F';
                                                        this.style.cursor = 'pointer'" onmouseout="this.style.backgroundColor = ''" onclick="javascript: document.location.href = 'credits.php'">
                                                        <td align="left" valign="top"><img src="/static/images/icons/mobilephone3.gif" style="margin: 2px; margin-right: 10px"></td>
                                                        <td align="left" valign="middle" width="100%">
                                                            Clique aqui para comprar créditos.<br/>Você tem 0 créditos.<br/>	</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="well">
                                                <h2>Pacote VIP 2 + Pacote Mafioso</h2>
                                                <h3>Preço dos créditos: 100 (Preço normal: 120)</h3>
                                                <p>Este pacote vai lhe dar o tanto o Pacote VIP 2 e todos os benefícios do Pacote Mafioso.<br/>
                                                    <br/>
                                                    O pacote VIP vai melhorar sua experiência de jogo
                                                    e adicionar um sabor extra à sua conta. O pacote
                                                    terá a duração de um round inteiro (184 dias de jogo), e os dias que você não usar serão automaticamente transferidos para a próxima rodada de modo que você vai utilizar seu dinheiro por inteiro.<br/>
                                                    <br/>
                                                    Obtenha o status VIP e receba os seguintes benefícios:<br/>
                                                    - 50% de desconto na saída da prisão e hospital com créditos<br/>
                                                    - 15 tickets extras por dia<br/>
                                                    - 20 eventos extras, preços especiais nas drogas e transportes especiais que irão comprar suas drogas<br/>
                                                    - Você pode ter 10% a mais de fábricas<br/>
                                                    - Ver o lucro diário de suas fábricas<br/>
                                                    - Um caderno à mão, anote por exemplo, seu próximo alvo
                                                    <br/>
                                                    <b>Atenção! Você poderá comprar o pacote VIP depois, após começar a jogar</b></p>
                                                Inteligência: 80<br/>
                                                Força: 120<br/>
                                                Carisma: 80<br/>
                                                Resistência: 120<br/>
                                                Grana: $242,000<br/>

                                                Arma: Espingarda<br/>
                                                Putas: Dolly, Britney<br/>
                                                <br/>
                                                <form action="start.php" method="post">
                                                    <input type="hidden" name="benefits" value="package5">
                                                    <input type="hidden" name="action" value="continue">
                                                    <input type="submit" name="Submit" value="Continue" class="btn btn-inverse">
                                                </form>
                                            </div>
                                            <div class="well">
                                                <h2>Pacote VIP 1 + Pacote Mafioso</h2>
                                                <h3>Preço dos créditos: 60 (Preço normal: 70)</h3>
                                                <p>Este pacote vai lhe dar o tanto o Pacote VIP 1 e todos os benefícios do Pacote Mafioso.<br/>
                                                    <br/>
                                                    O pacote VIP vai melhorar sua experiência de jogo
                                                    e adicionar um sabor extra à sua conta. O pacote
                                                    terá a duração de um round inteiro (184 dias de jogo), e os dias que você não usar serão automaticamente transferidos para a próxima rodada de modo que você vai utilizar seu dinheiro por inteiro.<br/>
                                                    <br/>
                                                    Obtenha o status VIP e receba os seguintes benefícios:<br/>
                                                    - 20 eventos extras, preços especiais nas drogas e transportes especiais que irão comprar suas drogas<br/>
                                                    - Você pode ter 10% a mais de fábricas<br/>
                                                    - Ver o lucro diário de suas fábricas<br/>
                                                    - Um caderno à mão, anote por exemplo seu próximo alvo
                                                    <br/>
                                                    <b>Atenção! Você poderá comprar o pacote VIP depois, após começar a jogar</b></p>
                                                Inteligência: 80<br/>
                                                Força: 120<br/>
                                                Carisma: 80<br/>
                                                Resistência: 120<br/>
                                                Grana: $242,000<br/>

                                                Arma: Espingarda<br/>
                                                Putas: Dolly, Britney<br/>
                                                <br/>
                                                <form action="start.php" method="post">
                                                    <input type="hidden" name="benefits" value="package4">
                                                    <input type="hidden" name="action" value="continue">
                                                    <input type="submit" name="Submit" value="Continue" class="btn btn-inverse">
                                                </form>
                                            </div>
                                            <div class="well">
                                                <h2>Pacote Mafioso</h2>
                                                <h3>Preço dos créditos: 20 </h3>
                                                <p>O Pacote Mafioso começa pela elite e são jogadores sérios. Esse pacote vai dar um monte de stats e dinheiro e para o começo também lhe dará uma arma para você ter mais segurança e explodir seus inimigos.</p>
                                                Inteligência: 80<br/>
                                                Força: 120<br/>
                                                Carisma: 80<br/>
                                                Resistência: 120<br/>
                                                Grana: $242,000<br/>

                                                Arma: Espingarda<br/>
                                                Putas: Dolly, Britney<br/>
                                                <br/>
                                                <form action="start.php" method="post">
                                                    <input type="hidden" name="benefits" value="package2">
                                                    <input type="hidden" name="action" value="continue">
                                                    <input type="submit" name="Submit" value="Continue" class="btn btn-inverse">
                                                </form>
                                            </div>
                                            <div class="well">
                                                <h2>Pacote Gangster</h2>
                                                <h3>Preço dos créditos: 10 </h3>
                                                <p>O Pacote Gangster vai lhe dar stats e dinheiro extra. Isso irá lhe ajudar para um bom começo.</p>
                                                Inteligência: 40<br/>
                                                Força: 60<br/>
                                                Carisma: 40<br/>
                                                Resistência: 60<br/>
                                                Grana: $96,800<br/>

                                                Arma: Glock<br/>
                                                <br/>
                                                <form action="start.php" method="post">
                                                    <input type="hidden" name="benefits" value="package1">
                                                    <input type="hidden" name="action" value="continue">
                                                    <input type="submit" name="Submit" value="Continue" class="btn btn-inverse">
                                                </form>
                                            </div>
                                            <center>
                                                <form action="start.php" method="post">
                                                    <input type="hidden" name="benefits" value="declined">
                                                    <input type="hidden" name="action" value="continue">
                                                    <input type="submit" name="Submit" value="Eu não quero nenhum benefício!" class="btn btn-inverse">
                                                </form>
                                            </center>
                                        </div>
                                        <div id="footer_middle">
                                            <ul class="flags">
                                                <li><a href="/?action=setlang&amp;iso=GB&amp;return=start.php" title="English" class="flag usgb"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=SE&amp;return=start.php" title="Svenska" class="flag se"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=PL&amp;return=start.php" title="Polska" class="flag pl"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=ES&amp;return=start.php" title="Spanish" class="flag es"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=PT&amp;return=start.php" title="Portuguese" class="flag pt"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=SI&amp;return=start.php" title="Slovenian" class="flag si"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=CZ&amp;return=start.php" title="Czech" class="flag cz"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=DE&amp;return=start.php" title="Deutsch" class="flag de"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=RO&amp;return=start.php" title="Romanian" class="flag ro"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=LT&amp;return=start.php" title="Lithuanian" class="flag lt"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=EL&amp;return=start.php" title="Greek" class="flag gr"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=NO&amp;return=start.php" title="Norsk" class="flag no"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=AR&amp;return=start.php" title="Arabic" class="flag eg"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=IT&amp;return=start.php" title="Italian" class="flag it"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=BR&amp;return=start.php" title="Brazilian" class="flag br"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=TR&amp;return=start.php" title="Turkish" class="flag tr"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=ID&amp;return=start.php" title="Indonesian" class="flag id"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=AL&amp;return=start.php" title="Albanian" class="flag al"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=LV&amp;return=start.php" title="Latvian" class="flag lv"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=AT&amp;return=start.php" title="Austrian" class="flag at"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=SK&amp;return=start.php" title="Slovak" class="flag sk"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=FR&amp;return=start.php" title="French" class="flag fr"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=FI&amp;return=start.php" title="Finnish" class="flag fi"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=CS&amp;return=start.php" title="Serbian" class="flag cs"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=CN&amp;return=start.php" title="Chinese" class="flag cn"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=CNT&amp;return=start.php" title="Chinese Traditional" class="flag cnt"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=MS&amp;return=start.php" title="Malay" class="flag my"></a></li>
                                                <li><a href="/?action=setlang&amp;iso=BG&amp;return=start.php" title="Bulgarian" class="flag bg"></a></li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            </tbody></table>
                    </div>
                </td>
                <td valign="top" align="center" style="padding-top: 0px; padding-left:10px;"></td>
            </tr>
        </tbody>
    </table>
</div>