<div id="page">
    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td valign="top">
                    <div id="content">
                        <div id="header"></div>
                        <table cellpadding="0" cellspacing="0" border="0" width="809" id="content_table">
                            <tbody>
                                <tr>
                                    <td width="100%" valign="top">
                                        <div class="content_style main-content main-wide" style="max-width: 787px">
                                            <div id="modal-dialog"></div>
                                            <h1>Informação importante!</h1>
                                            <p>
                                                Você entende que compartilhando uma conta é um grande risco, é fazendo isso provavelmente vai ter sua conta compromissada?<br/>
                                                <br/>
                                                Você entende que dando sua senha para qualquer pessoa ou digitando em qualquer site exceto na pagina de login The Crims sua conta irá ser hackeada?<br/>
                                                <br/>
                                                marcando a opção abaixo, você aceita que você, e apenas você, é responsavel pela sua conta, e se alguma coisa acontecer nós não poderemos ajudar você a ganhar stats ou devolver qualquer coisa de volta no seu usuário.
                                            </p>
                                            <table border="0" width="100%" cellspacing="0" cellpadding="0" class="statusbox_ok" style="margin-top: 5px; margin-bottom: 5px">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"><img src="/static/images/icons/information2.gif" style="margin: 2px; margin-right: 10px"></td>
                                                        <td align="left" valign="middle" width="100%">Por favor, observe que as multis/spys NÃO estão permitidas nesse round!</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h2>Regras</h2>
                                            Estas regras se aplicam a todas as partes do The Crims. 
                                            <br/><br/>
                                            1. A responsabilidade pela sua conta é exclusivamente sua. Sua conta não será restaurada ou terá "rollback", a menos que os danos tenham sido causados pelo Crew. Créditos podem ser restaurados se houver provas suficientes de abuso.
                                            <br/><br/>
                                            2 É proibido possuir ou jogar com mais de uma conta. É permitido jogar com mais de uma conta a partir do mesmo endereço IP , mas essas contas não estão autorizados a colaborar ou participar em quaisquer ações em conjunto. Isto também significa que você pode entrar em apenas uma conta a partir de um computador. Nota: você não está autorizado a registrar uma nova conta se você já possui uma. 
                                            Se você está banido na rodada, você deve esperar até a próxima rodada para jogar novamente ou a nova conta também será banida. 
                                            <br/><br/>
                                            3. É proibido logar conta de outros jogadores e/ou compartilhar  contas de qualquer forma.  Isto também significa que você não tem permissão para doar, transferir ou de qualquer maneira deixar que outro jogador use uma conta sua seja qual for a rodada que ela tenha sido registrada.
                                            <br/><br/>
                                            4. Você não está autorizado a cometer abusos ou roubar contas de outros jogadores. Isso inclui tentativas de invadir a conta de outro jogador.
                                            <br/><br/>
                                            5. Todas as ações devem ser feitas por você, estando presente no computador. Toda navegação deve ser realizada por você, clicando no mouse de seu computador. Isso também significa que adulterar a URL com edição no seu navegador é proibido. Add-ons em seu navegador que afetam a funcionalidade do jogo são proibidos.
                                            <br/><br/>
                                            6. Bugs devem ser reportados assim que descobertos, e qualquer uso de bug poderá resultar em penalidades.
                                            <br/><br/>
                                            7. É proibido fazer spam ou flood em qualquer lugar. Também é proibido anunciar qualquer coisa.
                                            <br/><br/>
                                            8. É proibido hostilizar, insultar, e/ou postar links ou outras coisas com conteúdo nazista, pornográfico, racista ou qualquer material que ofenda grupos de pessoas ou indivíduos. Denúncias relacionadas com esta regra serão analisadas caso a caso e o Crew tem liberdade para decidir a punição. Nota: por favor não reporte insultos menores.
                                            <br/><br/>
                                            9. Pagamentos não registrados em nosso sistema não serão compensados. O The Crims não é responsável por perdas de dinheiro nestes casos. Estes problemas devem ser reportados ao provedor de pagamentos ou o operador de venda de créditos.
                                            <br/><br/>
                                            10. É proibido vender ou trocar contas e stats. É proibida a comprar de créditos de um vendedor que não esteja na lista existente no link "créditos" da página oficial do jogo.
                                            <br/><br/>
                                            11. É proibido enganar ou mentir para o Crew ou tentar se passar por membro do TC Crew.
                                            <br/><br/>
                                            12. Qualquer ação que viole o acordo e a licença estabelecidos é proibida.
                                            <br/><br/>
                                            13. Violando ou tentando violar qualquer destas regras poderá resultar em penalidade decidida pelo Crew. Se você obter vantagens através de alguma outra conta que tenha quebrado qualquer uma dessas regras isso poderá resultar em uma punição, sendo que cada caso será julgado individualmente.
                                            <br/><br/>
                                            14. Todas as atividades criminais que violem leis locais serão reportadas para as autoridades policiais.
                                            <br/><br/>
                                            15. Estas regras estão sujeitas a mudanças a qualquer tempo.
                                            <br/><br/><a href="/index.php?action=agreement" data-toggle="modal" data-target="#modal">Leia os termos do regulamento de TheCrims</a>
                                            <br/>
                                            <h2>Ajudantes</h2>
                                            <p>Como um jogador novo, você pode ser ajudado por nosso time de ajudantes, que poderão te ensinar como o jogo funciona e ajudar em sua nova carreira criminosa.
                                                Para ver a nossa lista de ajudantes clique em <b>Ajuda</b> no menu superior e depois em <b>Ajudantes</b>, e então você vai ver a lista de ajudantes que poderá contactar pedindo ajuda.
                                                Você está seguro ao entrar em contato com estes ajudantes, e eles irão ensiná-lo a aproveitar o The Crims ao máximo!</p>
                                            <br/><br/>
                                            <center>
                                                <form name="information" action="start.php" method="post">
                                                    <input type="submit" name="info_accepted" value="Eu aceito!" class="btn btn-large btn-inverse">
                                                </form>
                                            </center>
                                        </div>
                                        <div id="footer_middle">
                                            <ul class="flags">
                                                <li><a href="/?action=setlang&iso=GB&return=start.php" title="English" class="flag usgb"></a></li>
                                                <li><a href="/?action=setlang&iso=SE&return=start.php" title="Svenska" class="flag se"></a></li>
                                                <li><a href="/?action=setlang&iso=PL&return=start.php" title="Polska" class="flag pl"></a></li>
                                                <li><a href="/?action=setlang&iso=ES&return=start.php" title="Spanish" class="flag es"></a></li>
                                                <li><a href="/?action=setlang&iso=PT&return=start.php" title="Portuguese" class="flag pt"></a></li>
                                                <li><a href="/?action=setlang&iso=SI&return=start.php" title="Slovenian" class="flag si"></a></li>
                                                <li><a href="/?action=setlang&iso=CZ&return=start.php" title="Czech" class="flag cz"></a></li>
                                                <li><a href="/?action=setlang&iso=DE&return=start.php" title="Deutsch" class="flag de"></a></li>
                                                <li><a href="/?action=setlang&iso=RO&return=start.php" title="Romanian" class="flag ro"></a></li>
                                                <li><a href="/?action=setlang&iso=LT&return=start.php" title="Lithuanian" class="flag lt"></a></li>
                                                <li><a href="/?action=setlang&iso=EL&return=start.php" title="Greek" class="flag gr"></a></li>
                                                <li><a href="/?action=setlang&iso=NO&return=start.php" title="Norsk" class="flag no"></a></li>
                                                <li><a href="/?action=setlang&iso=AR&return=start.php" title="Arabic" class="flag eg"></a></li>
                                                <li><a href="/?action=setlang&iso=IT&return=start.php" title="Italian" class="flag it"></a></li>
                                                <li><a href="/?action=setlang&iso=BR&return=start.php" title="Brazilian" class="flag br"></a></li>
                                                <li><a href="/?action=setlang&iso=TR&return=start.php" title="Turkish" class="flag tr"></a></li>
                                                <li><a href="/?action=setlang&iso=ID&return=start.php" title="Indonesian" class="flag id"></a></li>
                                                <li><a href="/?action=setlang&iso=AL&return=start.php" title="Albanian" class="flag al"></a></li>
                                                <li><a href="/?action=setlang&iso=LV&return=start.php" title="Latvian" class="flag lv"></a></li>
                                                <li><a href="/?action=setlang&iso=AT&return=start.php" title="Austrian" class="flag at"></a></li>
                                                <li><a href="/?action=setlang&iso=SK&return=start.php" title="Slovak" class="flag sk"></a></li>
                                                <li><a href="/?action=setlang&iso=FR&return=start.php" title="French" class="flag fr"></a></li>
                                                <li><a href="/?action=setlang&iso=FI&return=start.php" title="Finnish" class="flag fi"></a></li>
                                                <li><a href="/?action=setlang&iso=CS&return=start.php" title="Serbian" class="flag cs"></a></li>
                                                <li><a href="/?action=setlang&iso=CN&return=start.php" title="Chinese" class="flag cn"></a></li>
                                                <li><a href="/?action=setlang&iso=CNT&return=start.php" title="Chinese Traditional" class="flag cnt"></a></li>
                                                <li><a href="/?action=setlang&iso=MS&return=start.php" title="Malay" class="flag my"></a></li>
                                                <li><a href="/?action=setlang&iso=BG&return=start.php" title="Bulgarian" class="flag bg"></a></li>
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            </tbody></table>
                    </div>
                </td>
                <td valign="top" align="center" style="padding-top: 0px; padding-left:10px;">
                </td>
            </tr>
        </tbody>
    </table>
</div>