<?php
$escaper = new Zend\Escaper\Escaper('utf-8');
?>

<div id="content_middle">
    <div class="content_style main-content ">
        <div id="modal-dialog"></div>
        <div id="newspaper">
            <div id="newspaper-header">
                <img border="0" src="/static/images/sections/home/crimcity_times.gif"><br/>
                <span class="newspaperday">
                    <b>Rodada 76 Dia: 116/184 18:53</b><br/>
                    Tempo restante: 68 dias, 05 horas, 06 minutos<br/>
                    Dia do encerramento da rodada:
                    March 23, 2015, 18:00 (GMT +0100)
                </span>
                <hr size="1" noshade="" color="#D1D1D1" style="margin-top: 5px">
            </div>
            <div id="newspaper-top-articles"></div>
            <div id="newspaper-content">
                <div class="pull-left" id="newspaper-left">
                    <h2>PROCURADO: <a href="profile.php?id=12630353">xJIMMY</a></h2>
                    <div style="display: block; width: 55px; height: 65px; float: left;">
                        <div style="position: relative; z-index: 10; margin-right: 10px;"><img border="0" src="/static/images/wanted.gif"></div><div style="margin-left: 7px; margin-top: -50px; position: relative; z-index: 0;"><img width="32" height="40" border="0" align="left" style="margin-right: 10px;" src="http://dynamic.live.thecrims.com/upload/avatars/12635000/9ef7bdd22e1d6f404f01b41756b86ccb.jpg"></div>
                    </div>
                    <p>A procura por xJIMMY se tornou desesperada. As polícias estão esperando por ajudas do povo. Um oficial de polícia altamente graduado é reivindicado "Joe Regular não pode nos ajudar, mas nós estamos esperando pela ajuda de criminosos que puderam ver xJIMMY porque é uma ameaça a seus próprios negócios xJIMMY aumentou 2036872 pontos no respeito no submundo" Quando Crimcity Times confrontou o chefe de polícia sua indicação foi. "capturar xJIMMY é nossa prioridade e terá que ser realizado um trabalho duro para isto."</p>
                    <h2>Assassino mais procurado: <a href="profile.php?id=16558952">uLTlMATE</a></h2>
                    <p>uLTlMATE é em uma arma de matar e parece ter ganho poderes do além. Ontem 13 pessoas foram brutalmente assassinadas por este assassino cruel. Quando terminará essa loucura? Será que algum dia veremos a paz nas ruas de CrimCity?</p>
                    <h2>O QUE MAIS MORREU: 1O1</h2>
                    <p>As ruas de Crim City estão cruéis e implacáveis. Pobre <a href="profile.php?id=12994348">1O1</a>, que teve um dia duro e foi morto 12 vezes!</p>
                    <h2>ATIVIDADES CRIMINOSAS</h2>
                    <p>Uma gangue chamada <b>Forgotten Family</b> roubou um Warren Buffet e escapou com $121221870!</p>
                    <h2>Relatório de roubos</h2>
                    <p>
                        <a href="profile.php?id=790686">NaTaLiii</a> roubou "Motorcycle gang" ontem, e foi embora com $7,541,091.				</p>
                    <p>
                        <a href="profile.php?id=17166045">scream2005</a> efetuou 552 roubos solo e ganhou um total de $18,017,469!				</p>
                    <p>
                        <a href="profile.php?id=17151200">ill</a> não está tendo sorte e falhou em 135 roubos solo.				</p>
                    <h2>VIDA NOTURNA POPULAR</h2>
                    <p>Ontem foi uma noite muito cheia na vida noturna de Crimcity. A rave <a class="newspaperlink" href="nightlife?action=search&id=mpianGtyyZ6RmJKcmZ1syWuaw5OblpWbZ5WdZWlsnW3HnZjIa5o">cranio babann yeri</a> foi reportada como a mais popular de todas, com muitos tendo que sair, a rave ainda garantiu 220 visitantes durante a noite.</p>
                    <h2>VIDA NOTURNA AMOROSA</h2>
                    <p>Crimcity Times gostaria de fazer um elogio a um dos melhores clubes de Crimcity. A Rave <a class="newspaperlink" href="nightlife?action=search&business_id=mZaalmxyxGplnWfGyGtpnGWampdpx8aaa5THaJqXaWmVxpnFbZ0"></a> tem uma atmosfera grande e os DJs são realmente bons. Cinco estrelas do nosso repórter de campo.</p>
                </div>

                <div class="pull-right" id="newspaper-right">
                    <h2>Frase do dia</h2>
                    <div id="todaysquote"><blockquote>You can get much farther with a kind word and a gun than you can with a kind word alone.<br/>- Al Capone</blockquote></div>
                    <iframe frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:220px; height:395px;" scrolling="no" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fthecrims&width=220&colorscheme=light&show_faces=true&border_color=gray&stream=true&header=false&height=400"></iframe>
                </div>
            </div>

            <div id="newspaper-bottom">
                <h2>LATEST FROM THE FORUM</h2>
                <ul style="margin-top: 5px">
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32174-URGENTE-Roubar-com-a-gangue&goto=newpost"><b>[URGENTE]Roubar com a gangue</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: joaopacheco
                        Post Time: 03-05-2015 at 08:02 PM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32173-Bilhetes-nas-raves-bug&goto=newpost"><b>Bilhetes nas raves, bug?</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: az0man0
                        Post Time: 03-05-2015 at 12:05 PM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32172-Propaganda-no-meio-da-pagina!-By-Clicksor&goto=newpost"><b>Propaganda no meio da pagina! By Clicksor</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: Tiranossaur
                        Post Time: 03-04-2015 at 07:33 PM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32171-Concurs-Selfie!&goto=newpost"><b>Concurs - Selfie!</b></a> - Forum: Support - Romanian
                        Posted By: Daniel4ever
                        Post Time: 03-04-2015 at 01:07 PM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32170-Tutoriais-The-Crims-Classic&goto=newpost"><b>Tutoriais The Crims Classic</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: NoAgaiN
                        Post Time: 03-04-2015 at 05:17 AM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32169-Creditos-sumiram&goto=newpost"><b>Creditos sumiram</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: W1nchester
                        Post Time: 03-04-2015 at 02:27 AM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32168-Bug-na-missao-a-ressaca-da-faculdade&goto=newpost"><b>Bug na missao a ressaca da faculdade</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: p1x3ll
                        Post Time: 03-04-2015 at 12:01 AM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32167-(-Thecrims-Classic)-Hospital-bringing-information-400-automatic&goto=newpost"><b>( Thecrims Classic) Hospital bringing information 400 automatic</b></a> - Forum: Support - English
                        Posted By: Comp
                        Post Time: 03-03-2015 at 04:18 PM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32166-Porrada-como-funciona&goto=newpost"><b>Porrada, como funciona??</b></a> - Forum: Support - Brazil & Portugal
                        Posted By: QQm
                        Post Time: 03-02-2015 at 08:08 PM
                    </li>
                    <li><a target="_blank" href="http://forum.thecrims.com/showthread.php?32165-email&goto=newpost"><b>email</b></a> - Forum: Support - Polish
                        Posted By: KeFi
                        Post Time: 03-02-2015 at 04:26 PM
                    </li>
                </ul>
            </div>
            <center>
                <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async=""></script>
                <!-- 320x100 -->
                <ins data-ad-slot="8032342709" data-ad-client="ca-pub-8218887720088089" style="display:inline-block;width:320px;height:100px" class="adsbygoogle" data-adsbygoogle-status="done"><ins style="display:inline-table;border:none;height:100px;margin:0;padding:0;position:relative;visibility:visible;width:320px;background-color:transparent" id="aswift_0_expand"><ins style="display:block;border:none;height:100px;margin:0;padding:0;position:relative;visibility:visible;width:320px;background-color:transparent" id="aswift_0_anchor"><iframe width="320" height="100" frameborder="0" style="left:0;position:absolute;top:0;" name="aswift_0" id="aswift_0" onload="var i = this.id, s = window.google_iframe_oncopy, H = s & amp; & amp; s.handlers, h = H & amp; & amp; H[i], w = this.contentWindow, d; try{d = w.document} catch (e){}if (h & amp; & amp; d & amp; & amp; (!d.body || !d.body.firstChild)){if (h.call){setTimeout(h, 0)} else if (h.match){try{h = s.upd(h, i)} catch (e){}w.location.replace(h)}}" allowfullscreen="true" scrolling="no" allowtransparency="true" hspace="0" vspace="0" marginheight="0" marginwidth="0"></iframe></ins></ins></ins>
                <script>
                                                                    (adsbygoogle = window.adsbygoogle || []).push({});</script>
            </center>
        </div>
    </div>
    <div id="footer_middle">
        <ul class="flags">
            <li><a class="flag usgb" title="English" href="/?action=setlang&iso=GB&return=start.php"></a></li>
            <li><a class="flag se" title="Svenska" href="/?action=setlang&iso=SE&return=start.php"></a></li>
            <li><a class="flag pl" title="Polska" href="/?action=setlang&iso=PL&return=start.php"></a></li>
            <li><a class="flag es" title="Spanish" href="/?action=setlang&iso=ES&return=start.php"></a></li>
            <li><a class="flag pt" title="Portuguese" href="/?action=setlang&iso=PT&return=start.php"></a></li>
            <li><a class="flag si" title="Slovenian" href="/?action=setlang&iso=SI&return=start.php"></a></li>
            <li><a class="flag cz" title="Czech" href="/?action=setlang&iso=CZ&return=start.php"></a></li>
            <li><a class="flag de" title="Deutsch" href="/?action=setlang&iso=DE&return=start.php"></a></li>
            <li><a class="flag ro" title="Romanian" href="/?action=setlang&iso=RO&return=start.php"></a></li>
            <li><a class="flag lt" title="Lithuanian" href="/?action=setlang&iso=LT&return=start.php"></a></li>
            <li><a class="flag gr" title="Greek" href="/?action=setlang&iso=EL&return=start.php"></a></li>
            <li><a class="flag no" title="Norsk" href="/?action=setlang&iso=NO&return=start.php"></a></li>
            <li><a class="flag eg" title="Arabic" href="/?action=setlang&iso=AR&return=start.php"></a></li>
            <li><a class="flag it" title="Italian" href="/?action=setlang&iso=IT&return=start.php"></a></li>
            <li><a class="flag br" title="Brazilian" href="/?action=setlang&iso=BR&return=start.php"></a></li>
            <li><a class="flag tr" title="Turkish" href="/?action=setlang&iso=TR&return=start.php"></a></li>
            <li><a class="flag id" title="Indonesian" href="/?action=setlang&iso=ID&return=start.php"></a></li>
            <li><a class="flag al" title="Albanian" href="/?action=setlang&iso=AL&return=start.php"></a></li>
            <li><a class="flag lv" title="Latvian" href="/?action=setlang&iso=LV&return=start.php"></a></li>
            <li><a class="flag at" title="Austrian" href="/?action=setlang&iso=AT&return=start.php"></a></li>
            <li><a class="flag sk" title="Slovak" href="/?action=setlang&iso=SK&return=start.php"></a></li>
            <li><a class="flag fr" title="French" href="/?action=setlang&iso=FR&return=start.php"></a></li>
            <li><a class="flag fi" title="Finnish" href="/?action=setlang&iso=FI&return=start.php"></a></li>
            <li><a class="flag cs" title="Serbian" href="/?action=setlang&iso=CS&return=start.php"></a></li>
            <li><a class="flag cn" title="Chinese" href="/?action=setlang&iso=CN&return=start.php"></a></li>
            <li><a class="flag cnt" title="Chinese Traditional" href="/?action=setlang&iso=CNT&return=start.php"></a></li>
            <li><a class="flag my" title="Malay" href="/?action=setlang&iso=MS&return=start.php"></a></li>
            <li><a class="flag bg" title="Bulgarian" href="/?action=setlang&iso=BG&return=start.php"></a></li>
        </ul>
    </div>
</div>
