<?php
$form = $this->loginForm;
$form->prepare(); 
?>
            <div class="container">
                <div id="skyline">
                    <?php if(count($this->flashMessages)) : ?>
                        <div class="alert alert-danger">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> <?php echo $flashMessages[0]; ?>
                        </div>
                    <?php endif; ?>
                    <div class="row" style="margin-top: 30px">
                        <div class="span8">
                            <h1 class="front-header">Welcome to a new reality!</h1>
                            <p class="front-text">The Crims is a Free Online RPG which takes place in CrimCity - a metropolis for gangsters, scumbags, and criminals. You have limited time to earn as much respect as you can. The one with the most respect at the end of the game wins!</p>
                            <div class="front-well">
                                <h2>The Crims is available in two versions!</h2>
                                <div style="margin-top: 20px">
                                    <h3>1. The Crims - one account allowed</h3>
                                    <p>This is the version we generally refere to as the "normal" version. Here you play with one account and try to become the most respected gangster!</p>
                                    <a href="http://www.thecrims.com" class="btn btn-inverse">Go to The Crims</a>
                                </div>
                                <div style="margin-top: 20px">
                                    <h3>2. Classic - multiple accounts allowed</h3>
                                    <p>In the Classic version you are allowed to use and own as many accounts as you like. The goal of this version is
                                        to resemble how The Crims looked like in early rounds such as round 18-39.</p>
                                    <a href="http://classic.thecrims.com" class="btn btn-inverse">Go to Classic</a>
                                </div>
                            </div>
                            <div class="front-well">
                                <div>
                                    <h2>Win $500!</h2>
                                    The best international players this round is rewarded with:<br />
                                    #1: $500 or 15000 credits<br />
                                    #2: 6000 credits<br />
                                    #3: 3000 credits<br />
                                    #4: 300 credits<br />
                                    #5: 200 credits<br />
                                    <br />
                                    Top 5 killers get:<br />
                                    #1: 2000 credits<br />
                                    #2: 1000 credits<br />
                                    #3: 500 credits<br />
                                    #4: 300 credits<br />
                                    #5: 200 credits<br />
                                    <br />
                                    You need a <a href="https://www.moneybookers.com/app/?rid=2190836" target="_blank" rel="nofollow">Moneybookers</a> account to receive prize money. All credits are given in credit codes.            
                                    <h2>The Crims Top Players</h2>
                                    <table class="table table-condensed" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Rank</th>
                                                <th>Username</th>
                                                <th>Respect</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td><div class="flag pl"></div> <a href="profile.php?id=17124434"><span class="nicktext"><b>aficzinatzen</b></span></a></td>
                                                <td>17468000</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td><div class="flag br"></div> <a href="profile.php?id=17131996"><span class="nicktext"><b>xGu</b></span></a></td>
                                                <td>15344600</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td><div class="flag pl"></div> <a href="profile.php?id=17004672"><span class="nicktext"><b>*stek86ty</b></span></a></td>
                                                <td>12118600</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td><div class="flag tr"></div> <a href="profile.php?id=15239144"><span class="nicktext"><b>PlayKilleR</b></span></a></td>
                                                <td>11919900</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td><div class="flag gb"></div> <a href="profile.php?id=17126399"><span class="nicktext"><b>*VeNoMz</b></span></a></td>
                                                <td>11461200</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="front-well">
                                <?php echo $this->form()->openTag($form) . "\n"; ?>
                                    <h3 class="front-form-header">Please login</h3>
                                    <?php echo $this->formInput($form->get('username')); ?><br />
                                    <?php echo $this->formInput($form->get('password')); ?><br />
                                    <?php echo $this->formSubmit($form->get('submit')); ?>
                                    <?php echo $this->formHidden($form->get('env')); ?>
                                    <?php echo $this->formHidden($form->get('pl')); ?>
                                    <?php echo $this->formHidden($form->get('action')); ?>
                                <?php echo $this->form()->closeTag(); ?>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#loginform").submit(function () {
                                            var action = $('#selectserver').val();
                                            $(this).attr("action", action);
                                        });
                                    });
                                </script>
                                <ul class="nav" style="margin-top: 10px; margin-bottom: 0px">
                                    <li><a href="lostpassword.php">Lost password?</a></li>
                                    <li><a href="deleteuser.php">Delete user</a></li>
                                    <li><a href="resendregistration.php">Resend registration mail</a></li>
                                </ul>
                            </div>
                            <div class="front-well">
                                <h3 class="front-form-header">Register</h3>
                                <form name="register" method="post" id="register-form" action="register.php" onSubmit="return checkForm();">
                                    <input type="hidden" name="action" value="register" />
                                    <input type="hidden" name="avatar" value="" id="avatar" />
                                    <input name="username" type="text" maxlength="16" class="front-input" placeholder="Username (3-16 characters)" value="">
                                    <input name="email" type="text" maxlength="40" class="front-input" placeholder="E-mail (must be valid)" value="" />
                                    <img id="67" class="select_avatar" src="/static/images/avatars/avatar_67.jpg" onclick="avatarBorder(67, 'click')">
                                    <img id="66" class="select_avatar" src="/static/images/avatars/avatar_66.jpg" onclick="avatarBorder(66, 'click')">
                                    <img id="65" class="select_avatar" src="/static/images/avatars/avatar_65.jpg" onclick="avatarBorder(65, 'click')">
                                    <img id="64" class="select_avatar" src="/static/images/avatars/avatar_64.jpg" onclick="avatarBorder(64, 'click')">
                                    <img id="63" class="select_avatar" src="/static/images/avatars/avatar_63.jpg" onclick="avatarBorder(63, 'click')">
                                    <img id="62" class="select_avatar" src="/static/images/avatars/avatar_62.jpg" onclick="avatarBorder(62, 'click')">
                                    <img id="61" class="select_avatar" src="/static/images/avatars/avatar_61.jpg" onclick="avatarBorder(61, 'click')">
                                    <img id="60" class="select_avatar" src="/static/images/avatars/avatar_60.jpg" onclick="avatarBorder(60, 'click')">
                                    <img id="59" class="select_avatar" src="/static/images/avatars/avatar_59.jpg" onclick="avatarBorder(59, 'click')">
                                    <img id="58" class="select_avatar" src="/static/images/avatars/avatar_58.jpg" onclick="avatarBorder(58, 'click')">
                                    <img id="57" class="select_avatar" src="/static/images/avatars/avatar_57.jpg" onclick="avatarBorder(57, 'click')">
                                    <img id="56" class="select_avatar" src="/static/images/avatars/avatar_56.jpg" onclick="avatarBorder(56, 'click')">
                                    <img id="55" class="select_avatar" src="/static/images/avatars/avatar_55.jpg" onclick="avatarBorder(55, 'click')">
                                    <img id="54" class="select_avatar" src="/static/images/avatars/avatar_54.jpg" onclick="avatarBorder(54, 'click')">
                                    <img id="53" class="select_avatar" src="/static/images/avatars/avatar_53.jpg" onclick="avatarBorder(53, 'click')">
                                    <img id="52" class="select_avatar" src="/static/images/avatars/avatar_52.jpg" onclick="avatarBorder(52, 'click')">
                                    <img id="51" class="select_avatar" src="/static/images/avatars/avatar_51.jpg" onclick="avatarBorder(51, 'click')">
                                    <img id="50" class="select_avatar" src="/static/images/avatars/avatar_50.jpg" onclick="avatarBorder(50, 'click')">
                                    <div id="register-avatars">
                                        <img id="49" class="select_avatar" src="/static/images/avatars/avatar_49.jpg" onclick="avatarBorder(49, 'click')">
                                        <img id="48" class="select_avatar" src="/static/images/avatars/avatar_48.jpg" onclick="avatarBorder(48, 'click')">
                                        <img id="47" class="select_avatar" src="/static/images/avatars/avatar_47.jpg" onclick="avatarBorder(47, 'click')">
                                        <img id="46" class="select_avatar" src="/static/images/avatars/avatar_46.jpg" onclick="avatarBorder(46, 'click')">
                                        <img id="45" class="select_avatar" src="/static/images/avatars/avatar_45.jpg" onclick="avatarBorder(45, 'click')">
                                        <img id="44" class="select_avatar" src="/static/images/avatars/avatar_44.jpg" onclick="avatarBorder(44, 'click')">
                                        <img id="43" class="select_avatar" src="/static/images/avatars/avatar_43.jpg" onclick="avatarBorder(43, 'click')">
                                        <img id="42" class="select_avatar" src="/static/images/avatars/avatar_42.jpg" onclick="avatarBorder(42, 'click')">
                                        <img id="41" class="select_avatar" src="/static/images/avatars/avatar_41.jpg" onclick="avatarBorder(41, 'click')">
                                        <img id="40" class="select_avatar" src="/static/images/avatars/avatar_40.jpg" onclick="avatarBorder(40, 'click')">
                                        <img id="39" class="select_avatar" src="/static/images/avatars/avatar_39.jpg" onclick="avatarBorder(39, 'click')">
                                        <img id="38" class="select_avatar" src="/static/images/avatars/avatar_38.jpg" onclick="avatarBorder(38, 'click')">
                                        <img id="37" class="select_avatar" src="/static/images/avatars/avatar_37.jpg" onclick="avatarBorder(37, 'click')">
                                        <img id="36" class="select_avatar" src="/static/images/avatars/avatar_36.jpg" onclick="avatarBorder(36, 'click')">
                                        <img id="35" class="select_avatar" src="/static/images/avatars/avatar_35.jpg" onclick="avatarBorder(35, 'click')">
                                        <img id="34" class="select_avatar" src="/static/images/avatars/avatar_34.jpg" onclick="avatarBorder(34, 'click')">
                                        <img id="33" class="select_avatar" src="/static/images/avatars/avatar_33.jpg" onclick="avatarBorder(33, 'click')">
                                        <img id="32" class="select_avatar" src="/static/images/avatars/avatar_32.jpg" onclick="avatarBorder(32, 'click')">
                                        <img id="31" class="select_avatar" src="/static/images/avatars/avatar_31.jpg" onclick="avatarBorder(31, 'click')">
                                        <img id="30" class="select_avatar" src="/static/images/avatars/avatar_30.jpg" onclick="avatarBorder(30, 'click')">
                                        <img id="29" class="select_avatar" src="/static/images/avatars/avatar_29.jpg" onclick="avatarBorder(29, 'click')">
                                        <img id="28" class="select_avatar" src="/static/images/avatars/avatar_28.jpg" onclick="avatarBorder(28, 'click')">
                                        <img id="27" class="select_avatar" src="/static/images/avatars/avatar_27.jpg" onclick="avatarBorder(27, 'click')">
                                        <img id="26" class="select_avatar" src="/static/images/avatars/avatar_26.jpg" onclick="avatarBorder(26, 'click')">
                                        <img id="25" class="select_avatar" src="/static/images/avatars/avatar_25.jpg" onclick="avatarBorder(25, 'click')">
                                        <img id="24" class="select_avatar" src="/static/images/avatars/avatar_24.jpg" onclick="avatarBorder(24, 'click')">
                                        <img id="23" class="select_avatar" src="/static/images/avatars/avatar_23.jpg" onclick="avatarBorder(23, 'click')">
                                        <img id="22" class="select_avatar" src="/static/images/avatars/avatar_22.jpg" onclick="avatarBorder(22, 'click')">
                                        <img id="21" class="select_avatar" src="/static/images/avatars/avatar_21.jpg" onclick="avatarBorder(21, 'click')">
                                        <img id="20" class="select_avatar" src="/static/images/avatars/avatar_20.jpg" onclick="avatarBorder(20, 'click')">
                                        <img id="19" class="select_avatar" src="/static/images/avatars/avatar_19.jpg" onclick="avatarBorder(19, 'click')">
                                        <img id="18" class="select_avatar" src="/static/images/avatars/avatar_18.jpg" onclick="avatarBorder(18, 'click')">
                                        <img id="17" class="select_avatar" src="/static/images/avatars/avatar_17.jpg" onclick="avatarBorder(17, 'click')">
                                        <img id="16" class="select_avatar" src="/static/images/avatars/avatar_16.jpg" onclick="avatarBorder(16, 'click')">
                                        <img id="15" class="select_avatar" src="/static/images/avatars/avatar_15.jpg" onclick="avatarBorder(15, 'click')">
                                        <img id="14" class="select_avatar" src="/static/images/avatars/avatar_14.jpg" onclick="avatarBorder(14, 'click')">
                                        <img id="13" class="select_avatar" src="/static/images/avatars/avatar_13.jpg" onclick="avatarBorder(13, 'click')">
                                        <img id="12" class="select_avatar" src="/static/images/avatars/avatar_12.jpg" onclick="avatarBorder(12, 'click')">
                                        <img id="11" class="select_avatar" src="/static/images/avatars/avatar_11.jpg" onclick="avatarBorder(11, 'click')">
                                        <img id="10" class="select_avatar" src="/static/images/avatars/avatar_10.jpg" onclick="avatarBorder(10, 'click')">
                                        <img id="9" class="select_avatar" src="/static/images/avatars/avatar_9.jpg" onclick="avatarBorder(9, 'click')">
                                        <img id="8" class="select_avatar" src="/static/images/avatars/avatar_8.jpg" onclick="avatarBorder(8, 'click')">
                                        <img id="7" class="select_avatar" src="/static/images/avatars/avatar_7.jpg" onclick="avatarBorder(7, 'click')">
                                        <img id="6" class="select_avatar" src="/static/images/avatars/avatar_6.jpg" onclick="avatarBorder(6, 'click')">
                                        <img id="5" class="select_avatar" src="/static/images/avatars/avatar_5.jpg" onclick="avatarBorder(5, 'click')">
                                        <img id="4" class="select_avatar" src="/static/images/avatars/avatar_4.jpg" onclick="avatarBorder(4, 'click')">
                                        <img id="2" class="select_avatar" src="/static/images/avatars/avatar_2.jpg" onclick="avatarBorder(2, 'click')">
                                        <img id="1" class="select_avatar" src="/static/images/avatars/avatar_1.jpg" onclick="avatarBorder(1, 'click')">
                                    </div>
                                    <br /><a href="#" id="register-show-more-avatars">Show more avatars</a><br />
                                    <input name="agreement" type="checkbox" id="agreement" value="ON" style="width:20px;"  />
                                    <label for="agreement" style="font-size: 10px">I have read and accept the <a href="/index.php?action=agreement" target="_blank">terms & conditions</a> and the <a href="rules.php" target="_blank">rules</a> and are 18 years or older or have my parents permission to play. I accept e-mails from TheCrims.</label><br />
                                    <button type="submit" name="submit" class="btn btn-large btn-inverse" style="margin-top: 10px">PLAY NOW!</button>
                                </form>
                                <script>
                                    $(document).ready(function () {
                                        if ($('input[name=acfeaddbaeccfa]').val() != '') {
                                            $('input[name=dcbbeeafc]').focus();
                                        }
                                        else {
                                            $('input[name=acfeaddbaeccfa]').focus();
                                        }

                                        $('input[name="env"]').val(window.screen.width + ';' + window.screen.height + ';' + navigator.language + ";" + window.screen.colorDepth);

                                        $('#register-show-more-avatars').click(function () {
                                            $('#register-avatars').css('height', 'auto');
                                            $('#register-avatars').slideToggle(200);
                                            $('#register-show-more-avatars').hide();
                                        });

                                        $('#register-form-button').click(function () {
                                            $('#register-form').submit();
                                        });

                                        var plugins = navigator.plugins;
                                        var pluginNames = [];
                                        for (i = 0; i < plugins.length; i++) {
                                            var plugin = plugins[i];
                                            pluginNames.push(plugin.name);
                                        }
                                        $('input[name="pl"]').val(pluginNames.join());
                                    });

                                    function checkEmail(str) {
                                        var at = "@";
                                        var dot = ".";
                                        var lat = str.indexOf(at);
                                        var lstr = str.length;
                                        var ldot = str.indexOf(dot);
                                        if (str.indexOf(at) === -1) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        if (str.indexOf(at) === -1 || str.indexOf(at) === 0 || str.indexOf(at) === lstr) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        if (str.indexOf(dot) === -1 || str.indexOf(dot) === 0 || str.indexOf(dot) === lstr) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        if (str.indexOf(at, (lat + 1)) !== -1) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        if (str.substring(lat - 1, lat) === dot || str.substring(lat + 1, lat + 2) === dot) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        if (str.indexOf(dot, (lat + 2)) === -1) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        if (str.indexOf(" ") !== -1) {
                                            alert("You must enter a valid e-mailaddress");
                                            return false;
                                        }
                                        return true;
                                    }

                                    function checkForm() {
                                        var usernameForm = document.register.username;
                                        var emailForm = document.register.email;
                                        var agreementForm = document.register.agreement;

                                        if (usernameForm.value === "" || usernameForm.value.length < 3 || usernameForm.value.length > 16) {
                                            alert("You must enter a username with 3-16 characters");
                                            usernameForm.focus();
                                            return false;
                                        }
                                        if (checkEmail(emailForm.value) === false) {
                                            emailForm.focus();
                                            return false;
                                        }
                                        if (emailForm.value === "") {
                                            alert("You must enter your e-mail");
                                            emailForm.focus();
                                            return false;
                                        }
                                        if (agreementForm.checked !== true) {
                                            alert("You must accept the agreement to continue");
                                            return false;
                                        }

                                        return true;
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(window).load(function () {
                            $('.carousel').carousel();
                        });
                    </script>
                </div>
            </div>